<template>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <router-link
            tag="li"
            class="nav-item"
            active-class="active"
            :to="{
              name: 'matriculas'
            }"
          >
            <span class="nav-link">Matricular estudiante</span>
          </router-link>
          <router-link
            tag="li"
            class="nav-item"
            active-class="active"
            :to="{
              name: 'notas'
            }"
          >
            <span class="nav-link">Notas</span>
          </router-link>
          <router-link
            tag="li"
            class="nav-item"
                        :to="{
              name: 'certificados'
            }"
            active-class="active"
          >
            <span class="nav-link">Certificados</span>
          </router-link>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>