<template>
    <div class="row">
        <div class="col">
            <div
                class="alert"
                :class="
                    info.data.status === 'error'
                        ? 'alert-danger'
                        : 'alert-success'
                "
                role="alert"
            >
                <span v-if="info.data.status === 'error'">
                    Ha ocurrido un problema con el proceso
                </span>
                <span v-else>
                    ¡El proceso fue exitoso!
                </span>
                <ul>
                    <template v-for="(error, i) in info.data.errors">
                        <li :key="i">
                            <template v-for="(errorString, j) in error">
                                <span :key="j">{{ errorString }}</span>
                            </template>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ["info", "loading"]
};
</script>

<style></style>
