<template>
  <div class="">
    <router-link
      class="btn"
      :class="`btn-${options.color}`"
      tag="a"
      :to="options.to"
    >
      {{ options.title }}
    </router-link>
    <!-- {{ options }} -->
  </div>
</template>

<script>
export default {
  props: ["options"],
};
</script>

<style>
</style>