<template>
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- matricular -->
          <!-- <router-link
            tag="li"
            class="nav-item"
            :to="{
              name: 'estudiantesMatriculados',
            }"
            active-class="active"
          >
            <span class="nav-link">Matricular estudiante</span>
          </router-link> -->

          <!-- areas -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Áreas</a
            >
            <div class="dropdown-menu">
              <router-link class="dropdown-item" :to="{ name: 'areas' }"
                >Listar Áreas</router-link
              >
              <div class="dropdown-divider"></div>
              <router-link class="dropdown-item" :to="{ name: 'areasAdd' }"
                >Registrar Área</router-link
              >
            </div>
          </li>

          <!-- calificar estudiantes -->
          <router-link
            tag="li"
            class="nav-item"
            :to="{
              name: 'calificarEstudiantes',
            }"
            active-class="active"
          >
            <span class="nav-link">Calificar Estudiantes</span>
          </router-link>

          <!-- notificaciones -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Notificaciones</a
            >
            <div class="dropdown-menu">
              <router-link
                class="dropdown-item"
                :to="{
                  name: 'notificacionesDocente',
                }"
                >Ver Notificaciones</router-link
              >
              <div class="dropdown-divider"></div>
              <router-link
                class="dropdown-item"
                :to="{
                  name: 'notificacionesAdd',
                }"
                >Crear Notificaciones</router-link
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
