<template>
    <div class="row">
        <table class="table">
            <!-- tabla head -->
            <thead class="thead-dark text-center">
                <slot name="table-head"></slot>
            </thead>

            <!-- tabla body -->
            <tbody class="text-center">
                <slot name="table-body"></slot>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {};
</script>

<style></style>
