<template>
  <div class="card-body">
    <h4 class="text-center card-title">Politicas de uso y privacidad</h4>
    <div class="card-text">
      <div class="container">
        <div class="row">
          <div class="col">
            <p>
              En cumplimiento de lo dispuesto en el artículo 10 del Decreto 1377
              de 2013, reglamentario de la Ley 1581 de 2012, el CENTRO COLOMBO
              AMERICANO DE MEDELLÍN, NIT 890900913 - 0 como tratante de los
              datos personales obtenidos con previa autorización de los usuarios
              de sus diferentes servicios y del desarrollo de su objeto social,
              actividades tales como: clases de inglés, conciertos de música,
              galería de arte, salas de cine, Revista Kinetoscopio, restaurante
              Café Colombo, librerías, biblioteca, actividades académicas(ciclos
              de conferencias, talleres, seminarios), encuestas, correos masivos
              y registro en su portal web; establece las siguientes políticas de
              tratamiento de la información para los titulares de datos:
            </p>
            <ul class="mt-3 number-list">
              <li>
                Los datos serán sometidos a la recolección en una base de datos
                institucional, en el software de base de datos que tenga o
                adquiera Centro Colombo Americano de Medellín en el futuro, a
                través de redes sociales.
              </li>
              <li>
                Los datos serán sometidos a la recolección en una base de datos
                institucional, en el software de base de datos que tenga o
                adquiera Centro Colombo Americano de Medellín en el futuro, a
                través de redes sociales.
              </li>
              <li>
                Los datos serán sometidos a la recolección en una base de datos
                institucional, en el software de base de datos que tenga o
                adquiera Centro Colombo Americano de Medellín en el futuro, a
                través de redes sociales.
              </li>
              <li>
                <strong>Los datos podrán ser usados para:</strong>
                <ul class="alpha-list">
                  <li>
                    Informarle, a través de medios virtuales y físicos, sobre la
                    programación académica y cultural del Centro Colombo
                    Americano de Medellín así como de nuestra oferta de
                    productos comerciales tales como cursos, exámenes,
                    intercambios internacionales, membresías, eventos, etc.
                  </li>
                  <li>
                    Reportar a nuestros patrocinadores, socios y aliados las
                    estadísticas de asistencia de públicos a nuestros eventos.
                  </li>
                  <li>
                    Adelantar estudios de públicos de carácter investigativo y
                    documental
                  </li>
                  <li>
                    Cumplir con los procesos administrativos propios de la
                    institución
                  </li>
                  <li>
                    Generar un mecanismo de comunicación eficiente y mantener
                    contacto permanente con nuestros públicos.
                  </li>
                  <li>
                    La finalidad legal, contractual o extracontractual que dio
                    lugar a su recolección.
                  </li>
                </ul>
                <p>
                  No compartiremos su información con ninguna compañía de
                  marketing o agencia externa. La información podría ser
                  compartida con nuestros proveedores, pero sólo para llevar a
                  cabo el procesamiento de datos. En tal caso esta(s)
                  compañía(s) no estará autorizada para usar su información con
                  un propósito diferente al mencionado.
                </p>
              </li>
              <li>
                <strong
                  >Los derechos que le asisten a los titulares de los datos son
                  los siguientes:</strong
                >
                <ul class="alpha-list">
                  <li>
                    Conocer, actualizar y rectificar sus datos personales frente
                    a los Responsables del Tratamiento o Encargados del
                    Tratamiento, en este caso el Centro Colombo Americano.
                  </li>
                  <li>
                    Ser informado previa solicitud, respecto del uso que se le
                    ha dado a sus datos personales por parte del Centro Colombo
                    Americano de Medellín.
                  </li>

                  <li>
                    Presentar ante la Superintendencia de Industria y Comercio
                    quejas por infracciones a lo dispuesto en la presente ley y
                    las demás normas que la modifiquen, adicionen o
                    complementen.
                  </li>
                  <li>
                    Revocar la autorización y/o solicitar la supresión del dato
                    cuando en el Tratamiento no se respeten los principios,
                    derechos y garantías constitucionales y legales.
                  </li>
                  <li>
                    Acceder en forma gratuita a los datos personales que hayan
                    sido objeto de Tratamiento
                  </li>
                </ul>
              </li>
            </ul>
            <p>
              Se le recuerda a todo titular de los datos personales, que cuando
              se recolecten datos que resulten ser sensibles, la respuesta no es
              obligatoria y será bajo su libertad de contestación.
            </p>
            <p>
              El área responsable de la atención de peticiones, consultas y
              reclamos ante la cual el Titular de la información puede ejercer
              sus derechos a conocer, actualizar, rectificar y suprimir el dato
              y revocar la autorización será la Dirección de Comunicaciones y
              Marca del Centro Colombo Americano.
            </p>
            <p>
              El procedimiento para que los Titulares de la información puedan
              ejercer los derechos a conocer, actualizar, rectificar y suprimir
              información y revocar la autorización consistirá en enviar un
              correo electrónico a la dirección electrónica
              comunicacolombo@colomboworld.com, detallando claramente el objeto
              de su solicitud de acuerdo con lo establecido por los artículos 14
              y 15 de la ley 1581 de 2012. El Centro Colombo Americano dará
              respuesta a su solicitud de acuerdo con el procedimiento previsto
              en dicha ley.
            </p>
            <p>
              La fecha de entrada en vigencia de la política de Tratamiento de
              la información será a partir de la fecha de su publicación inicial
              en la página web del Centro Colombo Americano
              www.colomboworld.com.
            </p>
            <p>
              En cuanto al periodo de vigencia de las bases de datos serán
              tenidos en cuenta los criterios definidos por el artículo 11 del
              decreto 1377 de 2013.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>