<template>
  <div class="row justify-content-between align-items-center">
    <div class="col-auto">
      <h1 class="my-4">
        {{ title }}
      </h1>
    </div>
    <div class="col-auto">
      <a
        v-if="back"
        name=""
        id=""
        class="btn btn-danger"
        @click.prevent="$router.go(-1)"
        role="button"
        >volver</a
      >
    </div>
  </div>
</template>

<script>
export default {
  props: ["title", "back"],
};
</script>

<style></style>
