<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-3">Listado de usuarios</h1>
      </div>
      <div class="col-auto">
        <router-link
          to="/docente/add/usuario"
          tag="a"
          class="btn btn-primary"
          role="button"
          >Nuevo Usuario</router-link
        >
      </div>
    </div>
    <div class="row">
      <table class="table">
        <!-- tabla head -->
        <thead class="text-center thead-dark">
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
            <th scope="col">Sede</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Rol</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <!-- tabla body -->
        <tbody class="text-center">
          <tr v-for="(user, i) in users" :key="i">
            <td>
              {{ user.usuario }}
            </td>
            <td>{{ user.p_nombre }}</td>
            <td>{{ user.p_apellido }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.sede }}</td>
            <td>{{ user.fecha_registro }}</td>
            <td>{{ user.rol }}</td>
            <!-- actions -->
            <td>
              <router-link
                :to="`/docente/edit/usuario/${user.id}`"
                class="btn btn-warning"
              >
                <span>Editar</span>
              </router-link>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                @click="deleteUsuario(user.id)"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
export default {
  mixins: [generalMixin],
  data() {
    return {
      users: [],
    };
  },
  methods: {
    // show
    listUsers() {
      this.axios
        .get(this.host + "/api/docadmin/usuarios")
        .then((res) => {
          let { data } = res;
          this.users = data;
        })
        .catch((e) => {
          console.debug("Error al listar usuarios", e);
        });
    },

    // delete
    deleteUsuario(id) {
      var sure = confirm(
        "¿Está seguro de eliminar de manera permanente al usuario del sistema?"
      );
      if (sure) {
        this.axios
          .delete(`${this.host}/api/docadmin/delete/usuario/${id}`)
          .then((res) => {
            this.users = res.data.data.original;
            console.debug(res.data.data.original);
          })
          .catch((e) => {
            console.debug(e);
          });
      } else {
        console.debug("Eliminacion cancelada");
      }
    },
  },
  created() {
    this.listUsers();
  },
};
</script>

<style></style>
