<template>
  <div class="container">
    <TitleComponent title="Editar Área" />
    <form @submit.prevent="updateArea()">
      <div class="form-group">
        <!-- form content -->
        <div class="mb-3 row">
          <!-- info_personal -->
          <div class="col-6">
            <label for="nombre">Nombre</label>
            <input
              v-model="area.nombre"
              type="text"
              class="form-control"
              name="nombre"
              id="nombre"
            />
          </div>
          <!-- carga_horaria -->
          <div class="col-6">
            <label for="carga_horaria"> Carga horaria </label>
            <input
              v-model="area.intensidad"
              type="number"
              class="form-control"
              name="carga_horaria"
              id="carga_horaria"
            />
          </div>
        </div>

        <!-- submit -->
        <div class="mt-3 row justify-content-end">
          <div class="col-auto">
            <button
              type="reset"
              @click.prevent="$router.go(-1)"
              class="btn btn-outline-danger"
            >
              cancelar
            </button>
          </div>
          <div class="col-auto">
            <button type="submit" :disabled="loading" class="btn btn-primary">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                v-if="loading"
              ></span>
              <span>Añadir</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import AnBtn from "../../../../components/Commons/an-btn.vue";
import GradosSubNav from "../../../../components/Commons/GradosSubNav.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
import generalMixin from "../../../../mixins/generalMixin";
import UsuarioService from "../../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      area: {},
      periodos: [],
      docentes: [],
      grados: [],
      token: [],
      loading: false,
    };
  },
  components: {
    TitleComponent,
    GradosSubNav,
  },
  created() {
    // this.getPeriodos();
    this.getDocentes();
    this.getGrados();
    this.getArea();
  },
  methods: {
    updateArea() {
      console.debug(this.area);
      this.axios
        .put(
          `${this.host}/api/docadmin/area/${this.$route.params.id}`,
          this.area
        )
        .then((res) => {
          console.debug(res);
          this.$router.push("/docente/grados/areas");
          alert("Actualización completada");
        })
        .catch((e) => {
          alert("ocurrio un error al actualizar");
          console.debug(e);
        });
    },
    getArea() {
      this.axios
        .get(`${this.host}/api/docadmin/area/${this.$route.params.id}`)
        .then((res) => {
          console.debug(res);
          this.area = res.data;
          //   this.periodos = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          //   this.periodos = [];
        });
    },
    getPeriodos() {
      this.axios
        .get(`${this.host}/api/docadmin/periodos-academicos`)
        .then((res) => {
          console.debug(res);
          this.periodos = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.periodos = [];
        });
    },
    getDocentes() {
      this.token = UsuarioService.getToken();
      const config = {
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      };
      this.axios
        .get(`${this.host}/api/docadmin/docentes-index`, config)
        .then((res) => {
          console.debug(res);
          this.docentes = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.docentes = [];
        });
    },
    getGrados() {
      this.token = UsuarioService.getToken();
      const config = {
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      };
      this.axios
        .get(`${this.host}/api/docadmin/grados`, config)
        .then((res) => {
          console.debug(res);
          this.grados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.grados = [];
        });
    },
  },
};
</script>

<style></style>
