<template>
  <div class="container">
    <div class="my-4 row align-items-center">
      <div class="col">
        <h1>Areas</h1>
      </div>
      <!-- <div class="col-auto ml-auto">
        <div class="mb-0 form-group">
          <select
            placeholder="Seleccione la sede"
            class="form-control"
            v-model="selected_grado"
            name=""
            id=""
            @change="getAreaByGrado(selected_grado)"
          >
            <option :value="null" disabled>Seleccione su grado</option>
            <template v-for="(grado, i) in grados">
              <option :value="grado.id" :key="i">
                {{ grado.nombre }}
              </option>
            </template>
          </select>
        </div>
      </div> -->
      <div class="col-auto">
        <router-link :to="{ name: 'areasAdd' }" class="btn btn-primary"
          >Nueva área</router-link
        >
      </div>
    </div>
    <List v-if="areas.length">
      <template slot="table-head">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Carga horaria</th>
          <th scope="col">Periodo academico</th>
          <th scope="col">Grado</th>
          <!-- <th scope="col">Docente</th> -->
          <th scope="col"></th>
        </tr>
      </template>
      <template slot="table-body">
        <tr v-for="(area, i) in areas" :key="i">
          <td>
            {{ area.area.nombre }}
          </td>
          <td>{{ area.area.intensidad }}h</td>
          <td>{{ area.periodo_academico.nombre }}</td>
          <td>{{ area.grado.nombre }}</td>
          <!-- <td>
                        {{ area.docente.p_nombre }}
                        {{ area.docente.p_apellido }}
                    </td> -->
          <td class="d-flex">
            <an-btn
              class="mx-1"
              :options="{
                title: 'Editar',
                color: 'info',
                to: {
                  name: 'areasEdit',
                  params: {
                    id: area.area.id,
                  },
                },
              }"
            />
            <a
              class="mx-1 btn btn-danger"
              role="button"
              @click="deleteArea(area.area.id)"
            >
              Borrar
            </a>
          </td>
        </tr>
      </template>
    </List>
    <div class="mt-4 row justify-content-center" v-else>
      <div class="col-12">
        <div class="p-5 card">
          <h3 class="text-center text-secondary">
            No se han encontrado Areas.
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AnBtn from "../../../../components/Commons/an-btn.vue";
import GradosSubNav from "../../../../components/Commons/GradosSubNav.vue";
import List from "../../../../components/Commons/List.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
import generalMixin from "../../../../mixins/generalMixin";
import UsuarioService from "../../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      areas: [],
      selected_grado: null,
      grados: null,
      filtered_areas: null,
      identity: null,
    };
  },
  components: {
    TitleComponent,
    List,
    GradosSubNav,
    AnBtn,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getAreas();
    // this.getAreas();
    // this.getGrados();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    deleteArea(id) {
      this.axios
        .delete(`${this.host}/api/docadmin/delete/area/${id}`)
        .then((res) => {
          console.debug(res);
          this.getAreas();
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getAreas(id) {
      const { id_rol, id_persona } = this.identity;
      let requestUrl = `${this.host}/api/docadmin/areas`;
      if (id_rol === 2 || id_rol === 3) {
        requestUrl = `${this.host}/api/docadmin/docente/${id_persona}/areas`;
      }
      this.axios
        .get(requestUrl)
        .then((res) => {
          console.debug(res);
          this.areas = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.areas = null;
        });
    },
    // getGrados() {
    //   const url =
    //     this.identity.id_rol === 2 || this.identity.id_rol === 3
    //       ? `${this.host}/api/docadmin/sede/${this.identity.sede_id}/grados/all`
    //       : `${this.host}/api/docadmin/grados/all`;
    //   this.token = UsuarioService.getToken();
    //   const config = {
    //     headers: {
    //       "content-type": "application/x-www-form-urlencoded;charset=utf-8",
    //       Authorization: this.token,
    //     },
    //   };
    //   this.axios
    //     .get(
    //       `${this.host}/api/docadmin/sede/${this.identity.sede_id}/grados/all`,
    //       config
    //     )
    //     .then((res) => {
    //       console.debug(res);
    //       this.grados = res.data.data;
    //     })
    //     .catch((e) => {
    //       console.debug(e);
    //       this.grados = [];
    //     });
    // },
    // getAreaByGrado(grado) {
    //   let filtered_areas = this.areas.filter(function (area) {
    //     return area.grado.id === grado;
    //   });
    //   this.filtered_areas = filtered_areas;
    // },
  },
  computed: {
    // areasAll() {
    //   let areas = this.filtered_areas ? this.filtered_areas : this.areas;
    //   return areas;
    // },
  },
};
</script>

<style></style>
