<template>
  <h1>hola</h1>
</template>
<script>
export default {
  created() {
    this.axios
      .get("http://127.0.0.1:8000/api/angie")
      .then((res) => {
        console.debug(res);
      })
      .catch((e) => {
        console.debug(e);
      });
  },
};
</script>