<template>
  <div class="container policies">
    <div class="row">
      <div class="col">
        <div class="p-4 card">
          <politicas />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import politicas from "../../components/Commons/politicas.vue";
export default {
  components: { politicas },
};
</script>