<template>
  <div class="container policies">
    <div class="row">
      <div class="col">
        <div class="p-4 card">
          <politicas />
        </div>
      </div>
    </div>
    <div class="mt-5 row justify-content-center">
      <div class="col-auto">
        <a
          name=""
          id=""
          class="btn btn-primary"
          href="#"
          @click="updatingPolicies()"
          role="button"
          >Acepto</a
        >
        <a
          name=""
          id=""
          class="btn btn-danger"
          href="#"
          role="button"
          @click="alertPoliticas()"
          >No Acepto</a
        >
      </div>
    </div>
  </div>
</template>

<script>
import UsuarioService from "../../services/UsuarioService";
import generalMixin from "../../mixins/generalMixin";
import Modal from "../../components/Commons/Modal.vue";
import Politicas from "../../components/Commons/politicas.vue";
export default {
  components: {
    Modal,
    Politicas,
  },
  mixins: [generalMixin],
  data() {
    return {
      policies: false,
      identity: {},
      showModal: false,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    alertPoliticas() {
      alert(
        "Recuerde que, para hacer uso de la aplicación debe aceptar las politicas de uso y privacidad"
      );
    },
    updatingPolicies() {
      console.debug(
        `${this.host}/api/usuario/${this.identity.id_user}/politicas`
      );
      this.axios
        .put(
          `${this.host}/api/usuario/${this.identity.id_user}/politicas`,
          this.policies
        )
        .then((res) => {
          var prevData = JSON.parse(localStorage.getItem("identity"));
          //   console.debug(prevData);
          localStorage.setItem(
            "identity",
            JSON.stringify({
              id_user: prevData.id_user,
              usuario: prevData.usuario,
              email: prevData.email,
              estado: prevData.estado,
              id_rol: prevData.id_rol,
              rol: prevData.rol,
              sede: prevData.sede,
              sede_full: {
                id: prevData.sede_full.id,
                nombre: prevData.sede_full.nombre,
                dane: prevData.sede_full.dane,
                consecutivo_sede: prevData.sede_full.consecutivo_sede,
                fk_centro_educativo: prevData.sede_full.fk_centro_educativo,
                fk_lugar: prevData.sede_full.fk_lugar,
                fk_responsable: prevData.sede_full.fk_responsable,
              },
              centro_full: {
                identificacion: prevData.centro_full.identificacion,
                nombre: prevData.centro_full.nombre,
                resolucion: prevData.centro_full.resolucion,
                dane: prevData.centro_full.dane,
                nit: prevData.centro_full.nit,
                consecutivo_sede: prevData.centro_full.consecutivo_sede,
                nombre_autorizado: prevData.centro_full.nombre_autorizado,
                cargo: prevData.centro_full.cargo,
                img_logo: prevData.centro_full.img_logo,
                img_firma: prevData.centro_full.img_firma,
                direccion: prevData.centro_full.direccion,
                dni_director: prevData.centro_full.dni_director,
                lugar_expedicion: prevData.centro_full.lugar_expedicion,
              },
              sede_id: prevData.sede_id,
              id_persona: prevData.id_persona,
              politicas: 1,
              iat: prevData.iat,
              exp: prevData.exp,
            })
          );
          this.$router.push("/");
        })
        .catch((e) => {
          console.debug(res);
          alert(
            "ha ocurrido un error, por favor comuniquese con el administrador del sistema"
          );
        });
    },
  },
};
</script>

<style lang="scss">
.policies {
  p {
    margin-bottom: 1rem !important;
  }
}
.number-list {
  list-style-type: upper-roman;
}
.alpha-list {
  list-style-type: lower-alpha;
}
</style>
