<template>
  <div class="container">
    <form @submit.prevent="asignarGrados" class="p-5 col-md-12">
      <div class="form-group">
        <label for="select1">Docente a asignar</label>
        <select
          v-model="docente.id_docente"
          class="form-control"
          id="select1"
          required
        >
          <option
            v-for="persona in docentes"
            :key="persona.id"
            :value="persona.id"
          >
            {{ persona.p_nombre }} {{ persona.p_apellido }}
            {{ persona.s_apellido }}
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
  </div>
</template>
<script>
import RutaService from "../../../services/RutaService";
import UsuarioService from "../../../services/UsuarioService";

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      docentes: [],
      docente: {},
    };
  },
  created() {
    this.token = UsuarioService.getToken();
    this.axios({
      method: "post",
      url: this.host + "/api/docadmin/docentes-index",
      headers: {
        Authorization: this.token,
      },
    })
      .then((response) => (this.docentes = response.data.docentes))
      .catch((e) => {
        console.debug("Error al listar docentes", e);
      });
  },
  methods: {
    asignarGrados() {
      this.token = UsuarioService.getToken();
      this.axios({
        method: "post",
        url: this.host + "/api/docadmin/asignar-grados",
        data: this.docente,
        headers: {
          Authorization: this.token,
        },
      })
        .then((response) => alert(response.data.message))
        .catch((e) => {
          console.debug("Error al listar docentes", e);
        });
    },
  },
};
</script>

<style>
</style>