<template>
  <div class="container" v-if="grado !== null">
    <div class="row align-items-center">
      <div class="col">
        <title-component :title="grado.grado.nombre" />
      </div>
      <div class="text-right col">
        <routerLink to="/docente/grados" class="btn btn-danger"
          >Volver</routerLink
        >
      </div>
    </div>

    <!-- Persona -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <p>Información del responsable</p>
            <p class="font-weight-bold">
              {{ grado.responsable.p_nombre }}
              {{ grado.responsable.p_apellido }}
            </p>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="mb-5 round row justify-content-center">
                <div class="col-auto">
                  <img
                    :src="grado.responsable.img_foto"
                    class="img-fluid rounded-circle brand-logo"
                    alt=""
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="">Nombre completo</label>
                    <input
                      type="text"
                      class="form-control"
                      disabled
                      :value="`${grado.responsable.p_nombre} ${
                        grado.responsable.s_nombre === null
                          ? ''
                          : grado.responsable.s_nombre
                      } ${grado.responsable.p_apellido} ${
                        grado.responsable.s_apellido === null
                          ? ''
                          : grado.responsable.s_apellido
                      }`"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="">Fecha de nacimiento</label>
                    <input
                      type="date"
                      class="form-control"
                      disabled
                      :value="grado.responsable.fecha_nacimiento"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- periodo academico -->
    <form class="mt-5 row" @submit.prevent="updatePeriodo()">
      <div class="col-12">
        <div class="card">
          <div class="card-header">Información del Período academico</div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Inicio</th>
                  <th>Fin</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(periodo, i) in grado.periodos_academicos" :key="i">
                  <td>
                    {{ periodo.nombre }}
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        v-model="periodo.fecha_inicio"
                      />
                    </div>
                    <!-- {{ periodo.fecha_inicio }} -->
                  </td>
                  <td>
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        v-model="periodo.fecha_fin"
                      />
                    </div>
                    <!-- {{ periodo.fecha_fin }} -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="text-right card-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import GradosSubNav from "../../../components/Commons/GradosSubNav.vue";
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
export default {
  components: { TitleComponent, GradosSubNav },
  mixins: [generalMixin],
  data() {
    return {
      grado: null,
      periodo: {},
    };
  },
  created() {
    this.getGradoDetail();
  },
  methods: {
    updatePeriodo() {
      const { periodos_academicos } = this.grado;
      this.axios
        .put(
          `${this.host}/api/docadmin/periodo-academico`,
          periodos_academicos[0]
        )
        .then((res) => {
          alert("Período academico actulizado correctamente");
          this.getGradoDetail();
        })
        .catch((e) => {
          alert("Ha ocurrido un error al actualizar el período");
          console.debug(e);
        });
    },
    getGradoDetail() {
      this.axios
        .get(`${this.host}/api/docadmin/grado/${this.$route.params.id}`)
        .then((res) => {
          console.debug(res);
          this.grado = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
  },
};
</script>

<style lang="scss">
</style>
