<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Editar grado</h1>
      </div>
    </div>
    <form @submit.prevent="editGrado()">
      <div class="row">
        <!-- Nombre -->
        <div class="col">
          <div class="form-group">
            <label for="">Nombre</label>
            <input
              type="text"
              class="form-control"
              name=""
              v-model="grado.nombre"
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>

        <!-- Periodos academicos -->
        <div class="col">
          <div class="form-group">
            <label for="">Periodos Academicos</label>
            <select
              class="form-control"
              name=""
              id=""
              v-model="grado.fk_periodo_academico"
            >
              <option :value="undefined" disabled>Seleccione el periodo</option>
              <option
                :value="periodo.id"
                v-for="(periodo, i) in periodos"
                :key="i"
              >
                {{ periodo.nombre }}
              </option>
            </select>
          </div>
        </div>

        <!-- Docente -->
        <div class="col">
          <div class="form-group">
            <label for="">Docente</label>
            <select
              class="form-control"
              name=""
              id=""
              v-model="grado.fk_persona"
            >
              <option :value="undefined" disabled>Seleccione el docente</option>
              <option
                :value="docente.persona.id"
                v-for="(docente, i) in docentes"
                :key="i"
              >
                {{ docente.p_nombre }} {{ docente.p_apellido }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Estudiante -->
      <div class="mt-5 row">
        <div class="col">
          <h2>Asignar Nuevos estudiantes</h2>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary" @click="addEstudiante()">añadir</a>
        </div>
      </div>
      <div
        class="row align-items-center"
        v-for="(estudiante, i) in estudiantes_list"
        :key="i"
      >
        <div class="col">
          <div class="form-group">
            <label for="">Estudiante {{ i + 1 }} </label>
            <select
              class="form-control"
              name=""
              id=""
              v-model="estudiantes_list[i]"
            >
              <option
                :value="{
                  estudiante: null,
                }"
                disabled
              >
                Seleccione el estudiante
              </option>
              <option
                :value="{
                  estudiante: estudiante.id,
                }"
                v-for="(estudiante, i) in estudiantes"
                :key="i"
              >
                {{ estudiante.p_nombre }}
                {{ estudiante.p_apellido }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <a class="btn btn-danger" @click="removeEstudiante(i)">eliminar</a>
        </div>
      </div>
      <!-- submit -->
      <div class="mt-3 row justify-content-center">
        <div class="col-auto">
          <button
            type="reset"
            @click.prevent="$router.go(-1)"
            class="btn btn-outline-danger"
          >
            cancelar
          </button>
        </div>
        <div class="col-auto">
          <button type="submit" :disabled="loading" class="btn btn-primary">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              v-if="loading"
            ></span>
            <span>Añadir</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      grado: {},
      periodos: [],
      docentes: [],
      estudiantes: [],
      loading: false,
      estudiantes_list: [
        {
          estudiante: null,
        },
      ],
      prueba: null,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getGradoDetail();
    this.getEstudiantesByGrado();
    this.getPeriodos();
    this.getDocentes();
    this.getEstudiantes();
  },
  methods: {
    getEstudiantesByGrado() {
      this.axios
        .get(
          `${this.host}/api/docadmin/grado/${this.$route.params.id}/estudiantes`
        )
        .then((res) => {
          console.debug(res);
          this.prueba = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getGradoDetail() {
      this.axios
        .get(`${this.host}/api/docadmin/grado/${this.$route.params.id}`)
        .then((res) => {
          console.debug(res);
          this.grado = res.data.data.grado;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    editGrado() {
      const { nombre, fk_periodo_academico, fk_persona } = this.grado;
      const updatedGrado = {
        nombre,
        fk_periodo_academico,
        fk_persona,
        estudiantes: this.estudiantes_list,
      };
      this.axios
        .put(
          `${this.host}/api/docadmin/grado/${this.$route.params.id}`,
          updatedGrado
        )
        .then((res) => {
          if (res.data.issues.length) {
            alert(
              "Algunos de los estudiantes ingresados ya estan asignados a esta área."
            );
          } else {
            alert("El registro fue actualizado correctamente");
            this.$router.push("/docente/grados");
          }
        })
        .catch((e) => {
          alert("Ocurrio un error al actualizar el registro");
        });
    },
    getPeriodos() {
      this.axios
        .get(`${this.host}/api/docadmin/periodos-academicos`)
        .then((res) => {
          console.debug(res);
          this.periodos = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.periodos = [];
        });
    },
    getDocentes() {
      this.axios
        .get(`${this.host}/api/admin/docentes`)
        .then((res) => {
          console.debug(res);
          this.docentes = res.data;
        })
        .catch((e) => {
          console.debug(e);
          this.docentes = [];
        });
    },
    getEstudiantes() {
      //${this.host}/api/docadmin/usuarios/estudiantes
      //${this.host}/api/docadmin/sede/${this.identity.sede_full.id}/estudiantes
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.identity.sede_full.id}/estudiantes`
        )
        .then((res) => {
          console.debug(res);
          this.estudiantes = res.data;
        })
        .catch((e) => {
          console.debug(e);
          this.estudiantes = [];
        });
    },
    addEstudiante() {
      this.estudiantes_list.push({
        estudiante: null,
      });
    },
    removeEstudiante(id) {
      this.estudiantes_list.splice(id, 1);
    },
  },
};
</script>

<style></style>
