<template>
  <div class="container">
    <div class="row align-center">
      <div class="col">
        <h1>Grados</h1>
      </div>
      <div class="col-auto" v-if="identity.id_rol === 1">
        <router-link class="btn btn-primary" :to="{ name: 'gradoAñadir' }"
          >Añadir grado</router-link
        >
      </div>
    </div>
    <List v-if="!!grados.length">
      <template slot="table-head">
        <tr v-if="identity.id_rol !== 1">
          <th scope="col">Nombre</th>
          <th scope="col">Periodo academico</th>
          <th scope="col"></th>
        </tr>
        <tr v-else>
          <th scope="col">Nombre</th>
          <th scope="col">Responsable</th>
          <th scope="col">Periodo academico</th>
          <th scope="col"></th>
        </tr>
      </template>
      <template slot="table-body" v-if="identity.id_rol !== 1">
        <tr v-for="(grado, i) in grados" :key="i">
          <td>
            {{ grado.grado.nombre }}
          </td>
          <td>
            {{ grado.periodo_academico.nombre }}
          </td>
          <!-- actions -->
          <td>
            <router-link
              :to="{
                name: 'gradosDetail',
                params: { id: grado.grado.id },
              }"
              class="btn btn-warning"
            >
              <span>Ver más</span>
            </router-link>
            <router-link
              :to="{
                name: 'calificarEstudiantes',
                params: { id: grado.grado.id },
              }"
              class="btn btn-info"
            >
              <span>Calificar estudiantes</span>
            </router-link>
            <router-link
              :to="`/docente/grado/${grado.grado.id}/edit`"
              class="btn btn-primary"
              >Editar</router-link
            >
            <a
              name=""
              id=""
              class="btn btn-danger"
              @click="deleteGrado(grado.grado.id)"
              role="button"
              >Eliminar</a
            >
          </td>
        </tr>
      </template>
      <template slot="table-body" v-else>
        <tr v-for="(grado, i) in grados" :key="i">
          <!-- Nombre -->
          <td>
            {{ grado.nombre }}
          </td>
          <!-- responsable -->
          <td>
            {{ grado.persona.p_nombre }}
            {{ nullField(grado.persona.p_apellido) }}
          </td>
          <td>
            {{ grado.periodo.nombre }}
          </td>
          <!-- actions -->
          <td>
            <router-link
              :to="{
                name: 'gradosDetail',
                params: { id: grado.id },
              }"
              class="btn btn-warning"
            >
              <span>Ver más</span>
            </router-link>
            <router-link
              :to="{
                name: 'calificarEstudiantes',
                params: { id: grado.id },
              }"
              class="btn btn-info"
            >
              <span>Calificar estudiantes</span>
            </router-link>
            <router-link
              :to="`/docente/grado/${grado.id}/edit`"
              class="btn btn-primary"
              >Editar</router-link
            >
            <a
              name=""
              id=""
              class="btn btn-danger"
              @click="deleteGrado(grado.id)"
              role="button"
              >Eliminar</a
            >
          </td>
        </tr>
      </template>
    </List>
    <div class="row justify-content-center" v-else>
      <div class="col">
        <div class="p-5 card">
          <h3 class="text-center text-secondary">
            No hay grados asignados para esta sede.
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AcudienteSubNav from "../../../components/Commons/AcudienteSubNav.vue";
import GradosSubNav from "../../../components/Commons/GradosSubNav.vue";
import List from "../../../components/Commons/List";
import TitleComponent from "../../../components/Commons/TitleComponent";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";

export default {
  components: { TitleComponent },
  mixins: [generalMixin],
  data() {
    return {
      grados: [],
      identity: {},
    };
  },
  methods: {
    deleteGrado(id) {
      console.debug(`${this.host}/api/docadmin/grado/${id}`);
      const toDelete = confirm("¿Está seguro que desea eliminar el grado?");
      if (toDelete) {
        this.axios
          .delete(`${this.host}/api/docadmin/grado/${id}`)
          .then((res) => {
            alert("Grado Eliminado de correctamente");
            this.listGrados();
          })
          .catch((e) => {
            alert("A ocurrido un error al eliminar");
          });
      }
    },
    assignGrados() {
      this.token = UsuarioService.getToken();
      this.axios({
        method: "post",
        url: this.host + "/api/docadmin/asignar-grados",
        headers: {
          Authorization: this.token,
        },
      })
        .then((response) => alert(response.data))
        .catch((e) => {
          console.debug("Error al listar grados", e);
        });
    },
    listGrados() {
      console.debug(this.identity.id_rol);
      const { id_rol } = this.identity;
      const url =
        id_rol == 1 ? "/api/docadmin/grados/all" : "/api/docadmin/grados";
      this.token = UsuarioService.getToken();
      this.axios({
        method: "get",
        url: this.host + url,
        headers: {
          Authorization: this.token,
        },
      })
        .then((res) => {
          console.debug(res);
          this.grados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getIdentity() {
      this.identity = UsuarioService.getIdentity();
    },
  },
  async created() {
    await this.getIdentity();
    this.listGrados();
  },
  components: {
    TitleComponent,
    GradosSubNav,
    List,
  },
};
</script>

<style></style>
