<template>
  <div class="container">
    <grados-sub-nav />
    <title-component
      :title="`Estudiantes matriculados | grado primero`"
      :back="true"
    />
    <!-- formulario de detalle -->
    <div class="form-group">
      <form @submit.prevent="updateMatricula()">
        <div class="form-group">
          <!-- form init -->
          <div class="row mb-3">
            <!-- sede -->
            <div class="col-4">
              <label for="sede">Sede</label>
              <select
                class="form-control"
                v-model="matricula.sede"
                name="sede"
                id="sede"
              >
                <option value="1" selected>Sede 1</option>
                <option value="2">Sede 2</option>
                <option value="3">Sede 3</option>
              </select>
            </div>
            <!-- matricula_status -->
            <div class="col-4">
              <label for="status">Estado de la matricula</label>
              <select
                class="form-control"
                v-model="matricula.status"
                name="status"
                id="status"
              >
                <option value="1" selected>Activo</option>
                <option value="0">Inactivo</option>
              </select>
            </div>
            <!-- anho_matricula duda -->
            <div class="col-4">
              <label for="anho">Año de matricula</label>
              <select
                class="form-control"
                v-model="matricula.anho"
                name="anho"
                id="anho"
              >
                <option value="2020" selected>2020</option>
                <option value="2019">2019</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <!-- info_personal -->
            <div class="col-6">
              <label for="info_personal">Información personal</label>
              <input
                v-model="matricula.info_personal"
                type="text"
                class="form-control"
                name="info_personal"
                id="info_personal"
              />
            </div>
            <!-- id_documento -->
            <div class="col-6">
              <label for="id_documento"> Documento de identidad </label>
              <input
                v-model="matricula.id_documento"
                type="text"
                class="form-control"
                name="id_documento"
                id="id_documento"
              />
            </div>
          </div>
          <div class="row mb-3">
            <!-- direccion -->
            <div class="col">
              <label for="direccion">Dirección</label>
              <input
                v-model="matricula.direccion"
                type="text"
                class="form-control"
                name="direccion"
                id="direccion"
              />
            </div>

            <!-- info_salud -->
            <div class="col">
              <label for="info_salud">Información de salud</label>
              <input
                v-model="matricula.info_salud"
                type="text"
                class="form-control"
                name="info_salud"
                id="info_salud"
              />
            </div>
          </div>
          <div class="row mb-3">
            <!-- info_madre -->
            <div class="col">
              <label for="info_madre">Información de madre</label>
              <input
                v-model="matricula.info_madre"
                type="text"
                class="form-control"
                name="info_madre"
                id="info_madre"
              />
            </div>
            <!-- info_padre -->
            <div class="col">
              <label for="info_padre">Información de padre</label>
              <input
                v-model="matricula.info_padre"
                type="text"
                class="form-control"
                name="info_padre"
                id="info_padre"
              />
            </div>
            <!-- info_acudiente -->
            <div class="col">
              <label for="info_acudiente">Información del acudiente</label>
              <input
                v-model="matricula.info_acudiente"
                type="text"
                class="form-control"
                name="info_acudiente"
                id="info_acudiente"
              />
            </div>
          </div>
          <div class="row mb-3">
            <!-- info_familiar -->
            <div class="col">
              <label for="info_familiar">Información familiar</label>
              <input
                v-model="matricula.info_familiar"
                type="text"
                class="form-control"
                name="info_familiar"
                id="info_familiar"
              />
            </div>
            <!-- info_academica -->
            <div class="col">
              <label for="info_academica">Información academica</label>
              <input
                v-model="matricula.info_familiar"
                type="text"
                class="form-control"
                name="info_familiar"
                id="info_familiar"
              />
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <!-- religion_check -->
            <div class="col-12 text-center">
              <label for="">
                ¿Esta deacuerdo con que su hijo(a) reciba la catedra de religion
                que ofrece el centro Educativo?
              </label>
            </div>
            <div class="col-auto">
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline1"
                  name="customRadioInline1"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadioInline1"
                  >Si</label
                >
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input
                  type="radio"
                  id="customRadioInline2"
                  name="customRadioInline1"
                  class="custom-control-input"
                />
                <label class="custom-control-label" for="customRadioInline2"
                  >No</label
                >
              </div>
            </div>
          </div>

          <!-- documentos -->
          <div class="row my-4">
            <div class="col">
              <div class="card">
                <div class="card-header">Documentos</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x350"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x350"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x350"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- list -->
          <div class="row">
            <div class="col">
              <!--  -->
              <div class="card">
                <div class="card-body">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- recuerde duda -->
          <div class="row my-4">
            <div class="col">
              <div class="card">
                <div class="card-header">Recuerde</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x250"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x250"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="col-4">
                        <a href="#">
                          <img
                            class="img-fluid"
                            src="http://placehold.it/500x250"
                            alt=""
                          />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Cancelación -->
          <div class="row my-4">
            <div class="col">
              <div class="card">
                <div class="card-header">Cancelar matricula</div>
                <div class="card-body">
                  <form @submit.prevent="cancelarMatricula()">
                    <div class="form-group">
                      <!-- user info  -->
                      <div class="row">
                        <!-- fecha de cancelacion -->
                        <div class="col-auto">
                          <label for="datepicker">Fecha</label>
                          <input
                            v-model="matricula.fecha_cancel"
                            required
                            class="form-control"
                            data-date-format="dd/mm/yyyy"
                            type="date"
                            id="datepicker"
                            :max="today"
                          />
                        </div>
                        <!-- motivo -->
                        <div class="col">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1"
                              >Motivo</label
                            >
                            <textarea
                              v-model="matricula.motivo_cancel"
                              class="form-control"
                              id="exampleFormControlTextarea1"
                              rows="3"
                            ></textarea>
                          </div>
                        </div>
                        <!-- destino -->
                        <div class="col">
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1"
                              >Destino</label
                            >
                            <textarea
                              v-model="matricula.destino_cancel"
                              class="form-control"
                              id="exampleFormControlTextarea1"
                              rows="3"
                            ></textarea>
                          </div>
                        </div>
                      </div>

                      <!-- submit -->
                      <div class="row justify-content-end mt-3">
                        <div class="col-auto">
                          <button type="reset" class="btn btn-outline-danger">
                            cancelar
                          </button>
                        </div>
                        <div class="col-auto">
                          <button
                            type="submit"
                            :disabled="loading"
                            class="btn btn-primary"
                          >
                            <span
                              class="spinner-border spinner-border-sm"
                              role="status"
                              aria-hidden="true"
                              v-if="loading"
                            ></span>
                            <span>Enviar</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- submit info -->
          <div class="row justify-content-center">
            <div class="col-auto">
              <a name="" id="" class="btn btn-primary" href="#" role="button"
                >Enviar</a
              >
            </div>
            <div class="col-auto">
              <a name="" id="" class="btn btn-primary" href="#" role="button"
                >Descargar</a
              >
            </div>
            <div class="col-auto">
              <a name="" id="" class="btn btn-primary" href="#" role="button"
                >Imprimir</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import GradosSubNav from "../../../../components/Commons/GradosSubNav.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent.vue";
export default {
  data() {
    return {
      matricula: {},
      matricualaToCancel: {},
    };
  },
  components: { TitleComponent, GradosSubNav },
  computed: {
    gradoId() {
      return this.$route.params.id;
    },
  },
  methods: {
    updateMatricula() {
      console.debug(this.matricula);
    },
  },
};
</script>

<style></style>
