<template>
    <div class="container">
        <grados-sub-nav />
        <TitleComponent title="Estudiantes matriculados" />
        <List>
            <template slot="table-head">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>

                    <!-- actions -->
                    <th scope="col"></th>
                </tr>
            </template>
            <template slot="table-body">
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>

                    <!-- ver datos -->
                    <td>
                        <an-btn
                            :options="{
                                title: 'Ver datos',
                                color: 'warning',
                                to:
                                    '/docente/grados/estudiantes-matriculados/20'
                            }"
                        />
                    </td>
                </tr>
            </template>
        </List>
    </div>
</template>

<script>
import AnBtn from "../../../../components/Commons/an-btn.vue";
import GradosSubNav from "../../../../components/Commons/GradosSubNav.vue";
import List from "../../../../components/Commons/List.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
export default {
    components: {
        TitleComponent,
        List,
        GradosSubNav,
        AnBtn
    }
};
</script>

<style></style>
