// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	background-color: #f2f2f2 !important;
}

.brand-logo {
	width : 100px;
	height: auto;
}
