<template>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Comentarios</h1>
      </div>
      <div class="col-auto">
        <router-link :to="{ name: 'comentariosAdd' }" class="btn btn-primary">
          Nuevo comentario
        </router-link>
      </div>
    </div>
    <div class="row">
      <div class="col-auto mb-3"></div>
    </div>
    <List v-if="!!comentarios.length">
      <template slot="table-head">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Usuario Solicitante</th>
          <th scope="col" colspan="3">Comentario</th>
          <th scope="col">Estado</th>
          <th scope="col">Marcar Como</th>
        </tr>
      </template>
      <template slot="table-body">
        <tr v-for="comentario in comentarios" :key="comentario.id">
          <th>{{ comentario.fecha_creacion }}</th>
          <th>{{ comentario.acudiente }}</th>
          <th colspan="3">{{ comentario.descripcion }}</th>
          <th>{{ comentario.estatus }}</th>
          <td
            v-if="comentario.estatus == 'NO VISTO'"
            @click="vistoEstatus(comentario.id)"
          >
            <a class="btn btn-info">Visto</a>
          </td>
          <td v-if="comentario.estatus == 'VISTO'">
            <a class="btn btn-info">Ver</a>
          </td>
        </tr>
      </template>
    </List>
    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No hay comentarios registrados en la plataforma.
          </h3>
          <router-link
            :to="{ name: 'comentariosAdd' }"
            tag="a"
            class="btn btn-primary"
            >Añadir</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import List from "../../../components/Commons/List.vue";
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import RutaService from "../../../services/RutaService";
import UsuarioService from "../../../services/UsuarioService";

export default {
  components: { TitleComponent, List },
  data() {
    return {
      host: RutaService.getUrl(),
      comentarios: [],
      identity: null,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.listComments();
  },
  methods: {
    listComments() {
      this.axios
        .get(this.host + `/api/comentarios/usuario/${this.identity.id_user}`)
        .then((response) => {
          this.comentarios = response.data.data;
          console.log(this.comentarios);
        });
    },
    vistoEstatus(id) {
      this.axios
        .put(this.host + `/api/comentarios/${id}`)
        .then((response) => {
          this.listComments();
          // let i = this.comentarios.map((item) => item.id).indexOf(id); // find index of your object
          // this.comentarios.splice(i, 1);
        })
        .catch((e) => {
          alert(
            "Ocurrio un problema al actualizar pongase en contacto con el administrador"
          );
        });
    },
  },
};
</script>
