<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>Enviar Comentario</h1>
      </div>
    </div>

    <form @submit.prevent="sendComment">
      <div class="form-group">
        <!-- message -->
        <div class="mt-4 row justify-content-center">
          <div class="col-8">
            <label for="exampleFormControlTextarea1"
              >Escriba su comentario aquí *</label
            >
            <textarea
              v-model="comentario.descripcion"
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="col-8">
            <label for="">Enviar a *</label>
            <select
              required
              class="form-control"
              name=""
              id=""
              v-model="comentario.fk_usuario_notifica"
            >
              <option
                v-for="(user, i) in users"
                :key="i"
                :value="user.usuario.id"
              >
                {{ user.persona.p_nombre }} {{ user.persona.p_apellido }} ||
                {{ user.usuario.nombre_usuario }}
              </option>
            </select>
          </div>
        </div>

        <!-- submits -->
        <div class="mt-4 row justify-content-center">
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
          <div class="col-auto">
            <router-link :to="{ name: 'comentarios' }" class="btn btn-danger"
              >Cancelar</router-link
            >
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
const qs = require("querystring");
import RutaService from "../../../services/RutaService";
import UsuarioService from "../../../services/UsuarioService";

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      comentario: {},
      users: {},
    };
  },
  created() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      this.axios
        .get(`${this.host}/api/docadmin/usuarios/all`)
        .then((res) => {
          console.debug(res);
          this.users = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    sendComment() {
      this.token = UsuarioService.getToken();
      this.axios({
        method: "post",
        url: this.host + "/api/comentarios",
        data: qs.stringify({
          comentario: this.comentario.descripcion,
          fk_usuario_notifica: this.comentario.fk_usuario_notifica,
        }),
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      })
        .then((response) => {
          alert(response.data.message);
          this.$router.push("/comentarios");
        })
        .catch((error) => console.log(error));
    },
  },
};
</script>
