<template>
  <div class="container">
    <alert :info="infoAlert" v-if="infoAlert" />
    <div class="row align-items-center">
      <div class="col">
        <h1>Registrar usuario</h1>
      </div>
      <div class="col text-right">
        <routerLink to="/docente/usuarios" class="btn btn-danger"
          >Volver</routerLink
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form @submit.prevent="newUser()">
          <div class="form-group">
            <!-- address -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Dirección *</label>
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    v-model="user.direccion"
                    id=""
                    aria-describedby="helpId"
                    placeholder=""
                    required
                  />
                </div>
              </div>
            </div>

            <!-- status -->
            <div class="row">
              <!-- status -->
              <div class="col-auto">
                <label for="status">Estatus *</label>
                <select
                  class="mb-3 custom-select"
                  v-model="user.status"
                  id="status"
                  required
                >
                  <option selected :value="null">Seleccione el estatus</option>
                  <option value="ACTIVO">Activo</option>
                  <option value="INACTIVO">Inactivo</option>
                </select>
              </div>
              <!-- fecha de nacimiento -->
              <div class="col-auto">
                <label for="datepicker">Fecha de nacimiento *</label>
                <input
                  v-model="user.fechaNac"
                  required
                  class="form-control"
                  data-date-format="dd/mm/yyyy"
                  type="date"
                  id="datepicker"
                  :max="today"
                />
              </div>

              <div class="form-group col">
                <label for="exampleFormControlSelect2"
                  >Selección de Sede *</label
                >
                <select
                  v-model="user.sede"
                  class="form-control"
                  id="exampleFormControlSelect2"
                  required
                >
                  <option v-for="sede in sedes" :key="sede.id" :value="sede.id">
                    {{ sede.nombre }}
                  </option>
                </select>
              </div>

              <!-- rol -->
              <div class="col-auto">
                <label for="rol">Rol *</label>
                <select
                  class="mb-3 custom-select"
                  v-model="user.id_rol"
                  id="rol"
                  required
                >
                  <option selected value="0">
                    Seleccione el rol del usuario
                  </option>
                  <!-- <option value="3">Docente</option> -->
                  <option value="4">Acudiente</option>
                </select>
              </div>
            </div>
            <div class="mb-3 row">
              <!-- cod area -->
              <div class="col">
                <label for="cod-area">Telefono *</label>
                <div class="d-flex celphone-number">
                  <input
                    v-model="user.codArea"
                    type="number"
                    class="form-control"
                    max="999"
                    name="cod-area"
                    id="cod-area"
                    aria-describedby="helpId"
                    placeholder="+00"
                    required
                  />
                  <input
                    v-model="user.phoneNumber"
                    type="number"
                    class="form-control"
                    name="telefono"
                    id="telefono"
                    aria-describedby="helpId"
                    placeholder="000-0000"
                    required
                  />
                </div>
              </div>
            </div>

            <!-- general info -->
            <div class="row">
              <!-- primer nombre -->
              <div class="col">
                <label for="firstName">Primer nombre *</label>
                <input
                  type="text"
                  v-model="user.p_nombre"
                  class="mb-3 form-control"
                  id="firstName"
                  required
                />
              </div>
              <!-- Segundo nombre -->
              <div class="col">
                <label for="secondName">Segundo nombre</label>
                <input
                  type="text"
                  v-model="user.s_nombre"
                  class="mb-3 form-control"
                  id="secondName"
                />
              </div>

              <!-- primer apellido -->
              <div class="col">
                <label for="firstLastName">Primer Apellido *</label>
                <input
                  type="text"
                  v-model="user.p_apellido"
                  class="mb-3 form-control"
                  id="firstLastName"
                  required
                />
              </div>

              <!-- segundo apellido -->
              <div class="col">
                <label for="secondLastName">Segundo Apellido</label>
                <input
                  type="text"
                  v-model="user.s_apellido"
                  class="mb-3 form-control"
                  id="secondLastName"
                />
              </div>
            </div>

            <!-- id info -->
            <div class="row">
              <!-- Dni -->
              <div class="col">
                <label for="firstName">Identificación *</label>
                <input
                  type="number"
                  v-model="user.dni"
                  class="mb-3 form-control"
                  id="firstName"
                  placeholder=""
                  required
                />
              </div>

              <!-- sexo -->
              <div class="col-auto">
                <label for="status">Sexo *</label>
                <select
                  class="mb-3 custom-select"
                  v-model="user.sexo"
                  id="status"
                  required
                >
                  <option selected :value="undefined" disabled>
                    Seleccione el sexo
                  </option>
                  <option value="masculino">Masculino</option>
                  <option value="femenino">Femenino</option>
                </select>
              </div>

              <!-- email -->
              <div class="col">
                <label for="firstName">Email *</label>
                <input
                  type="email"
                  v-model="user.email"
                  class="mb-3 form-control"
                  id="firstName"
                  placeholder=""
                  required
                />
              </div>
            </div>

            <!-- user info  -->
            <div class="row">
              <!-- Username -->
              <div class="col">
                <label for="firstName">Username *</label>
                <input
                  type="text"
                  v-model="user.username"
                  class="mb-3 form-control"
                  id="firstName"
                  placeholder=""
                  required
                />
              </div>

              <!-- Password -->
              <div class="col">
                <label for="firstName">Contraseña *</label>
                <input
                  type="password"
                  v-model="user.password"
                  class="mb-3 form-control"
                  id="firstName"
                  placeholder=""
                  required
                />
              </div>
            </div>
            <!-- upload photo -->
            <div class="row">
              <div class="col">
                <label for="foto">Cargar Foto</label>
                <div class="container">
                  <!-- Form foto -->
                  <div class="row">
                    <div class="col-4">
                      <input
                        type="file"
                        accept="image/jpeg, image/bmp, image/png"
                        @change="previewUpload($event, 'foto')"
                        class="form-control-file"
                        name="foto"
                        id="foto"
                        placeholder=""
                        aria-describedby="fileHelpId"
                      />
                    </div>
                  </div>
                  <!-- foto cargada -->
                  <div class="row">
                    <div class="col-4 my-4" v-if="url_foto">
                      <img
                        class="img-fluid"
                        :src="getUrlImg(url_foto)"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- submit -->
            <div class="mt-3 row justify-content-center">
              <!-- <div class="col-auto">
            <button type="reset" class="btn btn-outline-danger">volver</button>
          </div> -->
              <div class="col-auto">
                <button
                  type="submit"
                  :disabled="loading"
                  class="btn btn-primary"
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                    v-if="loading"
                  ></span>
                  <span>Registrar</span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
import Alert from "../../../components/Commons/Alert.vue";
export default {
  mixins: [generalMixin],
  created() {
    this.loadSedes();
    this.loadLugares();
    this.loadPaises();
  },
  data() {
    return {
      url_foto: null,
      user: {},
      sedes: [],
      paises: [],
      estados: [],
      municipios: [],
      // others
      info: {
        data: "",
        status: false,
      },
      loading: false,
    };
  },
  methods: {
    getUrlImg(file) {
      const img = URL.createObjectURL(file);
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];
      this.url_foto = target === "foto" ? file : this.url_foto;
    },
    newUser() {
      // bloqueando boton de submit
      this.loading = true;
      let formData = new FormData();
      formData.append("estado", this.user.status);
      formData.append("p_nombre", this.user.p_nombre);
      formData.append(
        "s_nombre",
        this.user.s_nombre === undefined ? "" : this.user.s_nombre
      );
      formData.append("p_apellido", this.user.p_apellido);
      formData.append(
        "s_apellido",
        this.user.s_apellido === undefined ? "" : this.user.s_apellido
      );
      formData.append("id_sede", this.user.sede);
      formData.append("dni", this.user.dni);
      formData.append("email", this.user.email);
      formData.append("username", this.user.username);
      formData.append("password", this.user.password);
      formData.append("fechaNac", this.user.fechaNac);
      formData.append("codArea", this.user.codArea);
      formData.append("phoneNumber", this.user.phoneNumber);
      formData.append("id_rol", this.user.id_rol);
      formData.append("id_lugar", this.user.lugar);
      formData.append("direccion", this.user.direccion);
      formData.append("img_foto", this.url_foto);
      formData.append("sexo", this.user.sexo);
      console.debug(formData);
      this.axios
        .post(`${this.host}/api/docadmin/add/usuario`, formData)
        .then((res) => {
          // seteo la informacion del alert
          this.info.status = true;
          alert("Usuario creado con exito");
          this.$router.push("/docente/usuarios");
          this.info.data = res;

          // desbloqueo el boton de submit
          this.loading = false;

          // si se registra exitosamente el usuario reseteo el formulario
          // res.data.status === "success" ? this.resetForm() : false;
          // console.debug(res);
        })
        .catch((e) => {
          alert("Error al registrar usuario");
          console.debug("Error al registrar usuario", e);
          // desbloqueo el boton del submit
          this.loading = false;
        });
    },
    loadSedes() {
      this.axios.get(this.host + "/api/admin/getSedes").then((response) => {
        this.sedes = response.data;
        // console.log(response.data);
      });
    },
    loadLugares() {
      this.axios.get(this.host + "/api/admin/getLugares").then((response) => {
        this.lugares = response.data;
        // console.log(response.data);
      });
    },
    loadPaises() {
      this.axios.get(this.host + "/api/paises").then((res) => {
        this.paises = res.data.data;
      });
    },
    loadEstados(id) {
      this.axios.get(`${this.host}/api/pais/${id}/estados`).then((res) => {
        this.estados = res.data.data;
      });
    },
    loadMunicipios(id) {
      this.axios.get(`${this.host}/api/estado/${id}/municipios`).then((res) => {
        this.municipios = res.data.data;
      });
    },
  },
  watch: {
    "user.pais": function (val) {
      this.loadEstados(val);
    },
    "user.estado": function (val) {
      this.loadMunicipios(val);
    },
  },
  computed: {
    today() {
      return new Date().toISOString().split("T")[0];
    },
    infoAlert() {
      let info = this.info.status ? this.info.data : false;
      return info;
    },
  },
  components: {
    Alert,
  },
};
</script>

<style lang="scss">
.celphone-number {
  justify-content: space-between;
  .form-control:nth-child(1) {
    flex: 0 1 calc(25% - 0.5rem);
  }
  .form-control:nth-child(2) {
    flex: 0 1 calc(75% - 0.5rem);
  }
}
</style>
