<template>
  <div class="container">
    <alert :info="infoAlert" v-if="infoAlert.status" />
    <div class="row align-items-center">
      <div class="col">
        <h1 class="mb-3">Actualizar Usuario</h1>
      </div>
      <div class="text-right col">
        <routerLink to="/docente/usuarios" class="btn btn-danger"
          >Volver</routerLink
        >
      </div>
    </div>

    <form @submit.prevent="updateUser(user.user_id)">
      <div class="form-group">
        <!-- upload photo -->
        <div class="row">
          <div class="col">
            <div class="container">
              <!-- foto cargada -->
              <div class="row justify-content-center">
                <div class="col-auto" v-if="url_foto !== null">
                  <img
                    class="img-fluid user-photo"
                    :src="getUrlImg(url_foto)"
                    alt=""
                  />
                </div>
              </div>
              <!-- Form foto -->
              <div class="row justify-content-center">
                <div class="col-auto">
                  <label for="foto" v-if="!url_foto">Cargar Foto</label>
                  <input
                    type="file"
                    accept="image/jpeg, image/bmp, image/png"
                    @change="previewUpload($event, 'foto')"
                    class="form-control-file"
                    name="foto"
                    id="foto"
                    placeholder=""
                    aria-describedby="fileHelpId"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- address -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">Dirección</label>
              <input
                type="text"
                class="form-control"
                name=""
                v-model="user.direccion"
                id=""
                aria-describedby="helpId"
                placeholder=""
                required
              />
            </div>
          </div>
        </div>

        <!-- status -->
        <div class="row">
          <!-- status -->
          <div class="col-auto">
            <label for="status">Estatus</label>
            <select
              class="mb-3 custom-select"
              v-model="user.estado"
              id="status"
              required
            >
              <option selected :value="null">Seleccione el estatus</option>
              <option value="ACTIVO">Activo</option>
              <option value="INACTIVO">Inactivo</option>
            </select>
          </div>
          <!-- fecha de nacimiento -->
          <div class="col-auto">
            <label for="datepicker">Fecha de nacimiento</label>
            <input
              v-model="user.fecha_nacimiento"
              required
              class="form-control"
              data-date-format="dd/mm/yyyy"
              type="date"
              id="datepicker"
              :max="today"
            />
          </div>

          <div class="form-group col">
            <label for="exampleFormControlSelect2">Selección de Sede</label>
            <select
              v-model="user.id_sede"
              class="form-control"
              id="exampleFormControlSelect2"
              required
            >
              <option v-for="sede in sedes" :key="sede.id" :value="sede.id">
                {{ sede.nombre }}
              </option>
            </select>
          </div>

          <!-- rol -->
          <!-- <div class="col-auto">
            <label for="rol">Rol</label>
            <select
              class="mb-3 custom-select"
              v-model="user.id_rol"
              id="rol"
              required
            >
              <option selected value="0">Seleccione el rol del usuario</option>
              <option value="3">Docente</option>
              <option value="4">Acudiente</option>
            </select>
          </div> -->
        </div>
        <div class="mb-3 row">
          <!-- cod area -->
          <div class="col">
            <label for="cod-area">Telefono</label>
            <div class="d-flex celphone-number">
              <input
                v-model="user.cod_area"
                type="number"
                class="form-control"
                max="999"
                name="cod-area"
                id="cod-area"
                aria-describedby="helpId"
                placeholder="+00"
                required
              />
              <input
                v-model="user.numero_telf"
                type="number"
                class="form-control"
                name="telefono"
                id="telefono"
                aria-describedby="helpId"
                placeholder="000-0000"
                required
              />
            </div>
          </div>
        </div>

        <!-- general info -->
        <div class="row">
          <!-- primer nombre -->
          <div class="col">
            <label for="firstName">Primer nombre</label>
            <input
              type="text"
              v-model="user.p_nombre"
              class="mb-3 form-control"
              id="firstName"
              required
            />
          </div>
          <!-- Segundo nombre -->
          <div class="col">
            <label for="secondName">Segundo nombre</label>
            <input
              type="text"
              v-model="user.s_nombre"
              class="mb-3 form-control"
              id="secondName"
            />
          </div>

          <!-- primer apellido -->
          <div class="col">
            <label for="firstLastName">Primer Apellido</label>
            <input
              type="text"
              v-model="user.p_apellido"
              class="mb-3 form-control"
              id="firstLastName"
              required
            />
          </div>

          <!-- segundo apellido -->
          <div class="col">
            <label for="secondLastName">Segundo Apellido</label>
            <input
              type="text"
              v-model="user.s_apellido"
              class="mb-3 form-control"
              id="secondLastName"
            />
          </div>
        </div>

        <!-- id info -->
        <div class="row">
          <!-- Dni -->
          <div class="col">
            <label for="firstName">Identificación</label>
            <input
              type="number"
              v-model="user.dni"
              class="mb-3 form-control"
              id="firstName"
              placeholder=""
              required
            />
          </div>

          <!-- sexo -->
          <div class="col-auto">
            <label for="status">Sexo</label>
            <select
              class="mb-3 custom-select"
              v-model="user.sexo"
              id="status"
              required
            >
              <option selected :value="undefined" disabled>
                Seleccione el sexo
              </option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>

          <!-- email -->
          <div class="col">
            <label for="firstName">Email</label>
            <input
              type="email"
              v-model="user.direccion_correo"
              class="mb-3 form-control"
              id="firstName"
              placeholder=""
              required
            />
          </div>
        </div>

        <!-- submit -->
        <div class="mt-3 row justify-content-center">
          <!-- <div class="col-auto">
            <button type="reset" class="btn btn-outline-danger">volver</button>
          </div> -->
          <div class="col-auto">
            <button type="submit" :disabled="loading" class="btn btn-primary">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
                v-if="loading"
              ></span>
              <span>Enviar</span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
import Alert from "../../../components/Commons/Alert.vue";
export default {
  mixins: [generalMixin],
  data() {
    return {
      url_foto: null,
      user: {},
      sedes: [],
      lugares: [],
      // others
      info: {
        data: "",
        status: false,
      },
      loading: false,
    };
  },
  methods: {
    getUrlImg(file) {
      let img = "";
      if (typeof file === "string" || file instanceof String) {
        img = file;
      } else {
        img = URL.createObjectURL(file);
      }
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];
      this.url_foto = target === "foto" ? file : this.url_foto;
    },
    getUser() {
      const userId = this.$route.params.id;
      this.axios
        .get(`${this.host}/api/docadmin/usuario/${userId}`)
        .then((res) => {
          this.user = res.data.data;
          this.url_foto = res.data.data.img_foto;
          console.log(this.user);
        });
    },
    updateUser(id) {
      this.loading = true;
      let formData = new FormData();
      formData.append("nombre_usuario", this.user.nombre_usuario);
      formData.append("estado", this.user.estado);
      formData.append("direccion_correo", this.user.direccion_correo);
      formData.append("p_nombre", this.user.p_nombre);
      formData.append("s_nombre", this.user.s_nombre);
      formData.append("p_apellido", this.user.p_apellido);
      formData.append("s_apellido", this.user.s_apellido);
      formData.append("dni", this.user.dni);
      formData.append("fecha_nacimiento", this.user.fecha_nacimiento);
      formData.append("id_sede", this.user.id_sede);
      formData.append("cod_area", this.user.cod_area);
      formData.append("numero_telf", this.user.numero_telf);
      formData.append("clave_usuario", this.user.password);
      formData.append("direccion", this.user.direccion);
      // formData.append("id_lugar", this.user.id_lugar); revisar esto
      formData.append("img_foto", this.url_foto);
      this.axios
        .post(`${this.host}/api/docadmin/edit/usuario/${id}`, formData)
        .then((res) => {
          this.info.status = true;
          alert("Usuario actualizado");
          this.info.data = res.data;
          this.$router.push("/docente/usuarios");
          this.loading = false;
        })
        .catch((e) => {
          alert("Error al actualizar usuario");
          console.debug("Error al actualizar usuario", e);
          this.loading = false;
        });
    },
    loadSedes() {
      this.axios.get(this.host + "/api/admin/getSedes").then((response) => {
        this.sedes = response.data;
        // console.log(response.data);
      });
    },
    loadLugares() {
      this.axios.get(this.host + "/api/admin/getLugares").then((response) => {
        this.lugares = response.data;
        // console.log(response.data);
      });
    },
  },
  computed: {
    today() {
      return new Date().toISOString().split("T")[0];
    },
    infoAlert() {
      let info = this.info.status ? this.info : false;
      return info;
    },
  },
  created() {
    this.getUser();
    this.loadSedes();
    this.loadLugares();
  },
  components: {
    Alert,
  },
};
</script>

<style lang="scss">
.celphone-number {
  justify-content: space-between;
  .form-control:nth-child(1) {
    flex: 0 1 calc(25% - 0.5rem);
  }
  .form-control:nth-child(2) {
    flex: 0 1 calc(75% - 0.5rem);
  }
}
.user-photo {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
</style>
