<template>
  <div class="container">
    <TitleComponent title="Usuarios" />
    <!-- !!users.length -->
    <List v-if="users.length">
      <template slot="table-head">
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">DNI</th>
          <th scope="col">Email</th>
          <th scope="col">Estado</th>
          <th scope="col">Sede</th>
          <th scope="col">Fecha Registro</th>
          <th scope="col">Rol</th>
          <th scope="col">Update</th>
          <th scope="col"></th>
        </tr>
      </template>

      <template slot="table-body">
        <template v-for="(user, i) in users">
          <tr :key="i" v-if="identity.id_user !== user.id_user">
            <!-- <td>
              <pre>
              {{ user }}
            </pre
              >
            </td> -->
            <td>
              {{ user.usuario }}
            </td>
            <td>{{ user.p_nombre }}</td>
            <td>{{ user.p_apellido }}</td>
            <td>{{ user.dni }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.sede }}</td>
            <td>{{ user.fecha_registro }}</td>
            <td>{{ user.rol }}</td>

            <td>
              <router-link
                :to="`/docente/usuarios/edit/${user.id}`"
                class="btn btn-warning"
                v-if="
                  user.rol_id === 4 &&
                  (identity.id_rol === 2 || identity.id_rol === 3)
                "
              >
                <span>Editar</span>
              </router-link>
              <button
                type="button"
                class="btn btn-danger my-3"
                v-if="
                  user.rol_id === 4 &&
                  (identity.id_rol === 2 || identity.id_rol === 3)
                "
                @click="deleteUsuario(user.id)"
              >
                Borrar
              </button>
              <router-link
                :to="`/docente/usuarios/${user.id}`"
                class="btn btn-info"
              >
                <span>Ver más</span>
              </router-link>
            </td>
          </tr>
        </template>
      </template>
    </List>
    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No hay usuarios registrados en la plataforma.
          </h3>
          <router-link
            to="/docente/usuarios/add"
            tag="a"
            class="btn btn-primary"
            >Añadir</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import List from "../../../components/Commons/List.vue";
import TitleComponent from "../../../components/Commons/TitleComponent";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      users: [],
      identity: null,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.listUsers();
  },
  components: {
    TitleComponent,
    List,
  },
  methods: {
    // show
    listUsers() {
      let requestUrl = `${this.host}/api/docadmin/usuarios`;
      if (this.identity.id_rol === 2 || this.identity.id_rol === 3) {
        requestUrl = `${this.host}/api/docadmin/sedes/${this.identity.sede_full.id}/usuarios`;
      }
      console.debug(requestUrl);
      this.axios
        .get(requestUrl)
        .then((res) => {
          // let { data } = res;
          this.users = res.data.data;
        })
        .catch((e) => {
          console.debug("Error al listar usuarios", e);
        });
    },

    // delete
    deleteUsuario(id) {
      var sure = confirm(
        "¿Está seguro de eliminar de manera permanente al usuario del sistema?"
      );
      if (sure) {
        this.axios
          .delete(`${this.host}/api/docadmin/delete/usuario/${id}`)
          .then((res) => {
            // this.users = res.data.data.original;
            alert(res.data.message);
            console.debug(res.data.message);
            this.listUsers();
          })
          .catch((e) => {
            console.debug(e);
            alert(
              "ha ocurrido un error al borrar el registro, pongase en contacto con el administrador"
            );
          });
      } else {
        console.debug("Eliminacion cancelada");
      }
    },
  },
};
</script>

<style></style>
