<template>
  <div class="container">
    <title-component title="Notificaciones" />
    <List>
      <template slot="table-head">
        <tr>
          <th scope="col">Estudiante</th>
          <th scope="col">Descripcion</th>
          <th scope="col"></th>
        </tr>
      </template>
      <template slot="table-body">
        <tr v-for="(notificacion, i) in notificaciones" :key="i">
          <td>
            {{ notificacion.estudiante.p_nombre }},
            {{ notificacion.estudiante.p_apellido }}
          </td>
          <td>
            {{ notificacion.nota.descripcion }}
          </td>
          <td>
            <template v-if="!notificacion.nota.url_certificado">
              <router-link
                :to="`/docente/notificacion/${notificacion.nota.id}/load`"
                class="btn btn-primary"
                >Cargar Certificado</router-link
              >
            </template>
            <template v-else>
              <span class="badge badge-success"> Cargado </span>
            </template>
          </td>
        </tr>
      </template>
    </List>
  </div>
</template>

<script>
import UsuarioService from "../../../services/UsuarioService";
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
import List from "../../../components/Commons/List.vue";
export default {
  mixins: [generalMixin],
  data() {
    return {
      notificaciones: [],
      identity: null,
    };
  },
  components: { TitleComponent, List },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getNotificaciones();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    getNotificaciones() {
      this.axios
        .get(`${this.host}/api/docente/${this.identity.id_user}/notificaciones`)
        .then((res) => {
          this.notificaciones = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
  },
};
</script>

<style>
</style>