<template>
  <div class="container">
    <title-component title="Cargar Notas completas" :back="true" />
    <form @submit.prevent="cargarArchivo()">
      <div class="row">
        <!-- fecha de cancelacion -->
        <div class="col-auto">
          <label for="mom">Cargue aqui las notas</label>
          <input
            type="file"
            @change="previewUpload($event)"
            accept="application/pdf"
            class="form-control-file"
            name=""
            id=""
          />
        </div>
      </div>
      <div class="mt-3 row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">
            <!-- <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span> -->
            <span>Enviar</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
export default {
  mixins: [generalMixin],
  components: { TitleComponent },
  data() {
    return {
      pdf: null,
    };
  },
  methods: {
    cargarArchivo() {
      let formData = new FormData();
      formData.append("notas_pdf", this.pdf);
      this.axios
        .post(
          `${this.host}/api/docente/notificacion/${this.$route.params.id}`,
          formData
        )
        .then((res) => {
          alert("Se ha cargado exitosamente el documento");
          this.$router.push("/docente/notificaciones");
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    previewUpload(e) {
      this.pdf = e.target.files[0];
      console.debug(e.target.files[0]);
      console.log(
        `${this.host}/api/docente/notificacion/${this.$route.params.id}`
      );
    },
  },
};
</script>

<style></style>
