<template>
  <div class="container">
    <TitleComponent title="Matricular nuevo estudiante" :back="true" />
    <!-- formulario de detalle -->
    <div class="form-group">
      <form @submit.prevent="newMatricula()" enctype="multipart/form-data">
        <div class="form-group">
          <!-- form init -->
          <div class="mb-3 row">
            <!-- anho_matricula duda -->
            <div class="col-4">
              <div class="form-group">
                <label for="fecha_matricula">Fecha de Matricula *</label>
                <input
                  v-model="matricula.fecha_matricula"
                  type="date"
                  class="form-control"
                  id="fecha_matricula"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="lugar_expedición">Lugar de expedición *</label>
                <input
                  disabled
                  :value="identity.sede"
                  type="text"
                  class="form-control"
                  name=""
                  id=""
                  aria-describedby="helpId"
                  placeholder=""
                  required
                />
              </div>
            </div>
          </div>

          <!-- student info -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div class="card-header">
                  <span> Información del estudiante </span>
                </div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <!-- Tipo de estudiante -->
                      <div class="col-12">
                        <div class="form-group">
                          <label for="tipo">Tipo de documento *</label>
                          <select
                            class="form-control"
                            v-model="extra_info.tipo"
                            name="tipo"
                            required
                            id="tipo"
                          >
                            <option :value="undefined" disabled>
                              Seleccione el tipo de estudiante
                            </option>
                            <option value="registro_civil">
                              Registro civil
                            </option>
                            <option value="tarjeta_identidad">
                              Tarjeta de identidad
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- nombre -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Primer Nombre *</label>
                          <input
                            required
                            v-model="estudiante.p_nombre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- segundo nombre -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Segundo Nombre</label>
                          <input
                            v-model="estudiante.s_nombre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- apellido -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_apellido">Primer apellido *</label>
                          <input
                            required
                            v-model="estudiante.p_apellido"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- segundo apellido -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="s_apellido">Segundo apellido</label>
                          <input
                            v-model="estudiante.s_apellido"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- lugar_nacimiento -->
                      <div class="col-4">
                        <div class="form-group">
                          <label for="lugar_nacimiento"
                            >Lugar de Nacimiento *</label
                          >
                          <input
                            v-model="estudiante.lugar_nacimiento"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- DNI -->
                      <div class="col-4">
                        <div class="form-group">
                          <label for="dni">Identificación *</label>
                          <input
                            v-model="estudiante.dni"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- fecha de nacimiento -->
                      <div class="col-4">
                        <label for="datepicker">Fecha de nacimiento *</label>
                        <input
                          v-model="estudiante.fecha_nacimiento"
                          required
                          class="form-control"
                          data-date-format="dd/mm/yyyy"
                          type="date"
                          id="datepicker"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <!-- tipo sanguineo -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="rh">Tipo Sanguineo *</label>
                          <input
                            type="text"
                            class="form-control"
                            v-model="estudiante.rh"
                            required
                          />
                        </div>
                      </div>
                      <!-- Direccion -->
                      <div class="col">
                        <div class="form-group">
                          <label for="">Dirección *</label>
                          <input
                            type="text"
                            class="form-control"
                            name=""
                            v-model="estudiante.direccion"
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                    </div>
                    <!-- info mama -->
                    <div class="my-5 row">
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer nombre de la madre</label
                          >
                          <input
                            v-model="estudiante.p_nombre_mama"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo nombre de la madre</label
                          >
                          <input
                            v-model="estudiante.s_nombre_mama"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer apellido de la madre</label
                          >
                          <input
                            v-model="estudiante.p_apellido_mama"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo apellido de la madre</label
                          >
                          <input
                            v-model="estudiante.s_apellido_mama"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Identificación de la madre</label
                          >
                          <input
                            v-model="estudiante.dni_madre"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                    <!-- info papa -->
                    <div class="my-5 row">
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer nombre de la padre</label
                          >
                          <input
                            v-model="estudiante.p_nombre_padre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo nombre de la padre</label
                          >
                          <input
                            v-model="estudiante.s_nombre_padre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer apellido de la padre</label
                          >
                          <input
                            v-model="estudiante.p_apellido_padre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo apellido de la padre</label
                          >
                          <input
                            v-model="estudiante.s_apellido_padre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="p_nombre">Identificación del padre</label>
                          <input
                            v-model="estudiante.dni_padre"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- acudiente -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div
                  class="card-header d-flex align-center justify-content-between"
                >
                  <div class="mt-1">Información el acudiente</div>
                  <div class="form-group">
                    <select
                      class="form-control"
                      name=""
                      id=""
                      v-model="acudiente_registrado"
                    >
                      <option :value="null" :disabled="!acudiente_registrado">
                        {{
                          !acudiente_registrado
                            ? "Seleccione un acudiente registrado"
                            : "Registrar nuevo acudiente"
                        }}
                      </option>
                      <option
                        v-for="(acudiente, i) in acudientes"
                        :key="i"
                        :value="acudiente.persona.id"
                      >
                        {{ acudiente.persona.p_nombre }}
                        {{ acudiente.persona.p_apellido }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="card-body">
                  <div class="container">
                    <template v-if="!acudiente_registrado">
                      <!-- acudiente -->
                      <div class="row">
                        <!-- nombre -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_nombre">Primer Nombre *</label>
                            <input
                              v-model="acudiente.p_nombre"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                        <!-- segundo nombre -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_nombre">Segundo Nombre</label>
                            <input
                              v-model="acudiente.s_nombre"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- apellido -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_apellido">Primer apellido *</label>
                            <input
                              v-model="acudiente.p_apellido"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              required
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- segundo apellido -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="s_apellido">Segundo apellido</label>
                            <input
                              v-model="acudiente.s_apellido"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- DNI -->
                        <div class="col-6">
                          <div class="form-group">
                            <label for="dni">Identificación *</label>
                            <input
                              v-model="acudiente.dni"
                              type="number"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                        <!-- fecha de nacimiento -->
                        <div class="col-6">
                          <label for="datepicker">Fecha de nacimiento *</label>
                          <input
                            v-model="acudiente.fecha_nacimiento"
                            required
                            class="form-control"
                            data-date-format="dd/mm/yyyy"
                            type="date"
                            id="datepicker"
                            required
                          />
                        </div>
                      </div>
                      <!-- direccion -->
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="">Dirección *</label>
                            <input
                              type="text"
                              class="form-control"
                              name=""
                              v-model="acudiente.direccion"
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="">Nombre de usuario *</label>
                            <input
                              v-model="acudiente.nombre_usuario"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="">Contraseña *</label>
                            <input
                              v-model="acudiente.clave_usuario"
                              type="password"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                        <div class="col">
                          <div class="form-group">
                            <label for="">Correo electronico *</label>
                            <input
                              type="email"
                              class="form-control"
                              name=""
                              v-model="acudiente.direccion_correo"
                              id=""
                              aria-describedby="emailHelpId"
                              placeholder=""
                              required
                            />
                          </div>
                        </div>
                      </div>
                    </template>

                    <!-- religion -->
                    <div class="mt-3 mb-3 row justify-content-center">
                      <div class="text-center col-12">
                        <label for="">
                          ¿Esta deacuerdo con que su hijo(a) reciba la catedra
                          de religión que ofrece el centro Educativo? *
                        </label>
                      </div>
                      <div class="col-auto">
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            v-model="matricula.religion"
                            :value="true"
                            id="customRadioInline1"
                            name="customRadioInline1"
                            class="custom-control-input"
                            required
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline1"
                            >Si</label
                          >
                        </div>
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            id="customRadioInline2"
                            name="customRadioInline1"
                            class="custom-control-input"
                            v-model="matricula.religion"
                            :value="false"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline2"
                            >No</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- informacion adicional -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Información adicional</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <!-- enfermedades -->
                      <div class="col-12">
                        <div class="form-group">
                          <label for="enfermedades"
                            >Enfermedades sufridas *</label
                          >
                          <input
                            v-model="extra_info.enfermedades_sufridas"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- sisben -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Sisben *</label>
                          <input
                            v-model="extra_info.sisben"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- strato -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="strato">Estrato socioeconomico *</label>
                          <input
                            v-model="extra_info.strato"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- nro_hermanos -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="nro_hermanos">Número de hermanos *</label>
                          <input
                            v-model="extra_info.nro_hermanos"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                            min="0"
                          />
                        </div>
                      </div>
                      <!-- posicion_hermanos -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="posicion_hermanos"
                            >Posición hermanos *</label
                          >
                          <input
                            v-model="extra_info.posicion_hermanos"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- procedencia -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="procedencia"
                            >Escuela de procedencia *</label
                          >
                          <input
                            v-model="extra_info.procedencia"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                            required
                          />
                        </div>
                      </div>
                      <!-- nuevo -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="">¿Nuevo Ingreso? *</label>
                          <select
                            class="form-control"
                            name=""
                            id=""
                            v-model="extra_info.nuevo"
                            required
                          >
                            <option disabled :value="undefined">
                              Seleccione una opcion
                            </option>
                            <option :value="true">Si</option>
                            <option :value="false">No</option>
                          </select>
                        </div>
                      </div>
                      <!-- repitiente -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="repitiente"
                            >¿Estudiante repitiente? *</label
                          >
                          <select
                            class="form-control"
                            name=""
                            id=""
                            v-model="extra_info.repitiente"
                            required
                          >
                            <option disabled :value="undefined">
                              Seleccione una opcion
                            </option>
                            <option :value="true">Si</option>
                            <option :value="false">No</option>
                          </select>
                        </div>
                      </div>
                      <!-- grado -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="grado">Grado *</label>
                          <select
                            class="form-control"
                            name=""
                            id=""
                            required
                            v-model="extra_info.grado"
                          >
                            <option disabled :value="undefined">
                              Seleccione el grado
                            </option>
                            <option
                              v-for="grado in grados"
                              :value="grado.id"
                              :key="grado.id"
                            >
                              {{ grado.nombre }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- documentos -->
          <div class="my-4 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Documentos</div>
                <div class="card-body">
                  <div class="container">
                    <!-- add view -->
                    <div class="mb-4 row">
                      <div class="col-12">
                        <div class="alert alert-primary" role="alert">
                          <p>
                            Por favor, cargar aqui la fotocopia de los
                            siguientes documentos: identificación de la madre,
                            identificación del padre, identificación del
                            acudiente, del estudiante y promedio de notas del
                            ultimo año cursado.
                          </p>
                          <strong class="bold">
                            El sistema solo admite formatos en pdf, jpeg, bmp,
                            png
                          </strong>
                        </div>
                      </div>
                      <!-- seleccion de archivos -->
                      <div class="col-4">
                        <label for="mom">Idenficación de la madre</label>
                        <input
                          type="file"
                          @change="previewUpload($event, 'mom')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="mom"
                          id="mom"
                        />
                      </div>
                      <div class="col-4">
                        <label for="dad">Idenficación del padre</label>
                        <input
                          type="file"
                          @change="previewUpload($event, 'dad')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="dad"
                          id="dad"
                        />
                      </div>
                      <div class="col-4">
                        <label for="acudiente"
                          >Idenficación del acudiente</label
                        >
                        <input
                          type="file"
                          @change="previewUpload($event, 'acudiente')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                    </div>
                    <div class="mt-4 row">
                      <div class="col-6">
                        <label for="acudiente"
                          >Idenficación del Estudiante</label
                        >
                        <input
                          type="file"
                          @change="previewUpload($event, 'estudiante')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                      <div class="col-6">
                        <label for="acudiente">Promedio de notas</label>
                        <input
                          type="file"
                          @change="previewUpload($event, 'notas')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                    </div>

                    <!-- loaded view -->
                    <div class="mt-5 row justify-content-between">
                      <!-- loaded -->
                      <div class="col-12">
                        <h4>Archivos cargados</h4>
                      </div>
                      <div class="mb-3 text-center col-4" v-if="url_mom">
                        <img
                          :src="getUrlImg(url_mom)"
                          class="img-fluid"
                          alt=""
                        />
                        <span>Idenficación de la madre</span>
                      </div>
                      <div class="mb-3 text-center col-4" v-if="url_dad">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_dad)"
                          alt=""
                        />
                        <span>Idenficación del padre</span>
                      </div>
                      <div class="mb-3 text-center col-4" v-if="url_acudiente">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_acudiente)"
                          alt=""
                        />
                        <span>Idenficación del acudiente</span>
                      </div>
                      <div class="mb-3 text-center col-4" v-if="url_estudiante">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_estudiante)"
                          alt=""
                        />
                        <span>Idenficación del estudiante</span>
                      </div>
                      <div class="mb-3 text-center col-4" v-if="url_notas">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_notas)"
                          alt=""
                        />
                        <span>promedio de notas</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Firmas -->
          <div class="my-4 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Firmas</div>
                <div class="card-body">
                  <div class="container">
                    <!-- info -->
                    <div class="row">
                      <div class="col-12">
                        <div class="alert alert-primary" role="alert">
                          <p>
                            Para legalizar la matricula del estudiante debe de
                            acercarse a las instalaciones fisicas del Centro
                            Educativo a firmar la ficha de matricula las
                            siguientes personas: acudiente de familia y/o
                            acudiente y el estudiante O si lo prefiere puede
                            cargar estas firmas escaneadas aqui
                          </p>
                          <strong>
                            El sistema solo admite formatos en pdf, jpeg, bmp,
                            png
                          </strong>
                        </div>
                      </div>
                    </div>
                    <!-- Form firmas -->
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_acudiente"
                            >Cargar Firma Acudiente</label
                          >
                          <input
                            type="file"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_acudiente')"
                            class="form-control-file"
                            name="firma_acudiente"
                            id="firma_acudiente"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_familiar"
                            >Cargar Firma Familiar</label
                          >
                          <input
                            type="file"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_familiar')"
                            class="form-control-file"
                            name="firma_familiar"
                            id="firma_familiar"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_estudiante"
                            >Cargar Estudiante</label
                          >
                          <input
                            type="file"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_estudiante')"
                            class="form-control-file"
                            name="firma_estudiante"
                            id="firma_estudiante"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- firmas cargadas -->
                    <div class="row">
                      <div class="text-center col-4" v-if="url_firma_acudiente">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_firma_acudiente)"
                          alt=""
                        />
                        <span>Firma del Acudiente</span>
                      </div>
                      <div class="col-4" v-if="url_firma_familiar">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_firma_familiar)"
                          alt=""
                        />
                        <span>Firma del Familiar</span>
                      </div>
                      <div class="col-4" v-if="url_firma_estudiante">
                        <img
                          class="img-fluid"
                          :src="getUrlImg(url_firma_estudiante)"
                          alt=""
                        />
                        <span>Firma del estudiante</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- submit info -->
          <div class="row justify-content-center">
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import TitleComponent from "../../../components/Commons/TitleComponent";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
import { mapGetters, mapActions } from "vuex";
export default {
  mixins: [generalMixin],
  data() {
    return {
      url_mom: null,
      url_dad: null,
      url_acudiente: null,
      url_estudiante: null,
      url_notas: null,
      url_firma_acudiente: null,
      url_firma_familiar: null,
      url_firma_estudiante: null,
      matricula: {},
      matricualaToCancel: {},
      estudiante: {},
      acudiente: {},
      acudiente_registrado: null,
      extra_info: {},
      acudientes: [],
      grados: [],
      identity: null,
    };
  },
  components: {
    TitleComponent,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.loadAcudientes();
    this.getGrados();
  },
  methods: {
    getGrados() {
      this.token = UsuarioService.getToken();

      const config = {
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      };
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.identity.sede_id}/grados/all`,
          config
        )
        // .get(`${this.host}/api/docadmin/grados/all`, config)
        .then((res) => {
          // console.debug(res);
          this.grados = res.data.data;
        })
        .catch((e) => {
          // console.debug(e);
          this.grados = [];
        });
    },
    getUrlImg(file) {
      const img = URL.createObjectURL(file);
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];
      this.url_mom = target === "mom" ? file : this.url_mom;
      this.url_dad = target === "dad" ? file : this.url_dad;
      this.url_estudiante =
        target === "estudiante" ? file : this.url_estudiante;
      this.url_acudiente = target === "acudiente" ? file : this.url_acudiente;
      this.url_notas = target === "notas" ? file : this.url_notas;
      this.url_firma_acudiente =
        target === "firma_acudiente" ? file : this.url_firma_acudiente;
      this.url_firma_familiar =
        target === "firma_familiar" ? file : this.url_firma_familiar;
      this.url_firma_estudiante =
        target === "firma_estudiante" ? file : this.url_firma_estudiante;
    },
    newMatricula() {
      const matricula = {
        matricula: this.matricula,
        estudiante: this.estudiante,
        acudiente: this.acudiente,
        id_acudiente: this.acudiente_registrado,
        extra_info: this.extra_info,
      };
      // console.debug(matricula);
      let formData = new FormData();

      //matricula
      formData.append("fecha_matricula", this.matricula.fecha_matricula);
      formData.append("religion", this.matricula.religion);
      formData.append("sede", this.identity.sede_id);
      formData.append("tipo_estudiante", this.extra_info.tipo);

      //estudiante
      formData.append(
        "p_nombre_estudiante",
        this.estudiante.p_nombre ? this.estudiante.p_nombre : ""
      );
      formData.append(
        "s_nombre_estudiante",
        this.estudiante.s_nombre ? this.estudiante.s_nombre : ""
      );
      formData.append(
        "p_apellido_estudiante",
        this.estudiante.p_apellido ? this.estudiante.p_apellido : ""
      );
      formData.append(
        "s_apellido_estudiante",
        this.estudiante.s_apellido ? this.estudiante.s_apellido : ""
      );
      formData.append(
        "dni_estudiante",
        this.estudiante.dni ? this.estudiante.dni : ""
      );
      formData.append(
        "fecha_nacimiento_estudiante",
        this.estudiante.fecha_nacimiento
      );
      formData.append(
        "direccion_estudiante",
        this.estudiante.direccion ? this.estudiante.direccion : ""
      );

      //acudiente
      formData.append(
        "id_acudiente",
        this.acudiente_registrado ? this.acudiente_registrado : ""
      );
      formData.append(
        "p_nombre_acudiente",
        this.acudiente.p_nombre ? this.acudiente.p_nombre : ""
      );
      formData.append(
        "s_nombre_acudiente",
        this.acudiente.s_nombre ? this.acudiente.s_nombre : ""
      );
      formData.append(
        "p_apellido_acudiente",
        this.acudiente.p_apellido ? this.acudiente.p_apellido : ""
      );
      formData.append(
        "s_apellido_acudiente",
        this.acudiente.s_apellido ? this.acudiente.s_apellido : ""
      );
      formData.append(
        "dni_acudiente",
        this.acudiente.dni ? this.acudiente.dni : ""
      );
      formData.append(
        "fecha_nacimiento_acudiente",
        this.acudiente.fecha_nacimiento
      );
      formData.append(
        "direccion_acudiente",
        this.acudiente.direccion ? this.acudiente.direccion : ""
      );
      formData.append(
        "clave_usuario",
        this.acudiente.clave_usuario ? this.acudiente.clave_usuario : ""
      );
      formData.append(
        "nombre_usuario",
        this.acudiente.nombre_usuario ? this.acudiente.nombre_usuario : ""
      );
      formData.append(
        "direccion_correo",
        this.acudiente.direccion_correo ? this.acudiente.direccion_correo : ""
      );

      //informacion extra
      formData.append("tipo", this.extra_info.tipo ? this.extra_info.tipo : "");

      // nuevo
      formData.append(
        "p_nombre_mama",
        this.estudiante.p_nombre_mama ? this.estudiante.p_nombre_mama : ""
      );
      formData.append(
        "s_nombre_mama",
        this.estudiante.s_nombre_mama ? this.estudiante.s_nombre_mama : ""
      );
      formData.append(
        "p_nombre_padre",
        this.estudiante.p_nombre_padre ? this.estudiante.p_nombre_padre : ""
      );
      formData.append(
        "s_nombre_padre",
        this.estudiante.s_nombre_padre ? this.estudiante.s_nombre_padre : ""
      );
      formData.append(
        "dni_padre",
        this.estudiante.dni_padre ? this.estudiante.dni_padre : ""
      );
      formData.append(
        "dni_madre",
        this.estudiante.dni_madre ? this.estudiante.dni_madre : ""
      );
      formData.append(
        "p_apellido_mama",
        this.estudiante.p_apellido_mama ? this.estudiante.p_apellido_mama : ""
      );
      formData.append(
        "s_apellido_mama",
        this.estudiante.s_apellido_mama ? this.estudiante.s_apellido_mama : ""
      );
      formData.append(
        "p_apellido_padre",
        this.estudiante.p_apellido_padre ? this.estudiante.p_apellido_padre : ""
      );
      formData.append(
        "s_apellido_padre",
        this.estudiante.s_apellido_padre ? this.estudiante.s_apellido_padre : ""
      );
      formData.append("rh", this.estudiante.rh ? this.estudiante.rh : "");
      formData.append("rh", this.estudiante.rh ? this.estudiante.rh : "");
      formData.append("lugar_expedicion", this.identity.sede);
      formData.append(
        "lugar_nacimiento",
        this.estudiante.lugar_nacimiento ? this.estudiante.lugar_nacimiento : ""
      );
      // fin nuevo

      formData.append(
        "enfermedades_sufridas",
        this.extra_info.enfermedades_sufridas
          ? this.extra_info.enfermedades_sufridas
          : ""
      );

      formData.append(
        "sisben",
        this.extra_info.sisben ? this.extra_info.sisben : ""
      );
      formData.append(
        "strato",
        this.extra_info.strato ? this.extra_info.strato : ""
      );
      formData.append(
        "nro_hermanos",
        this.extra_info.nro_hermanos ? this.extra_info.nro_hermanos : ""
      );
      formData.append(
        "posicion_hermanos",
        this.extra_info.posicion_hermanos
          ? this.extra_info.posicion_hermanos
          : ""
      );
      formData.append(
        "procedencia",
        this.extra_info.procedencia ? this.extra_info.procedencia : ""
      );
      formData.append(
        "nuevo",
        this.extra_info.nuevo ? this.extra_info.nuevo : ""
      );
      formData.append(
        "repitiente",
        this.extra_info.repitiente ? this.extra_info.repitiente : ""
      );
      formData.append("grado", this.extra_info.grado);

      //adjuntos
      formData.append("img_cedula_mama", this.url_mom ? this.url_mom : "");
      formData.append("img_cedula_papa", this.url_dad ? this.url_dad : "");
      formData.append(
        "img_cedula_estudiante",
        this.url_estudiante ? this.url_estudiante : ""
      );
      formData.append(
        "img_cedula_acudiente",
        this.url_acudiente ? this.url_acudiente : ""
      );
      formData.append("notas", this.url_notas ? this.url_notas : "");
      formData.append(
        "img_firma_acudiente",
        this.url_firma_acudiente ? this.url_firma_acudiente : ""
      );
      formData.append(
        "img_firma_familiar",
        this.url_firma_familiar ? this.url_firma_familiar : ""
      );
      formData.append(
        "img_firma_estudiante",
        this.url_firma_estudiante ? this.url_firma_estudiante : ""
      );
      console.debug(formData);
      this.axios
        .post(`${this.host}/api/docadmin/add/matricula`, formData)
        .then((res) => {
          // console.debug(res);
          alert("Se registro exitosamente");
          this.$router.push("/docente/matricular-estudiante");
        })
        .catch((e) => {
          alert("Error al crear la matricula");
          // console.info(e);
        });
    },
    loadAcudientes() {
      this.axios
        .get(`${this.host}/api/admin/acudientes`)
        .then((res) => {
          // console.debug(res);
          this.acudientes = res.data.data;
        })
        .catch((e) => {
          // console.debug(e);
          this.acudientes = [];
        });
    },
  },

  computed: {
    ...mapGetters(["getSedeInfo"]),
  },
};
</script>

<style></style>
