<template>
  <div class="container" v-if="getmatricula !== null">
    <title-component title="Detalle de matricula" :back="true" />

    <!-- formulario de detalle -->
    <div class="form-group">
      <form @submit.prevent="updateMatricula()">
        <div class="form-group">
          <!-- form init -->
          <div class="mb-3 row align-items-center">
            <!-- anho_matricula duda -->
            <div class="col">
              <div class="form-group">
                <label for="lugar_expedición">Lugar de expedición</label>
                <input
                  disabled
                  v-model="getmatricula.extra_info.lugar_expedicion"
                  type="text"
                  class="form-control"
                  name=""
                  id=""
                  aria-describedby="helpId"
                  placeholder=""
                />
              </div>
            </div>
            <div
              class="col-auto"
              v-if="identity.id_rol !== 4 && $route.name !== 'matriculaDetalle'"
            >
              <!-- aprobar -->
              <b-button
                variant="success"
                class="mt-1"
                @click.prevent="updateStatusMatricula('Aprobada')"
              >
                Aprobar
              </b-button>
              <!-- rechazar -->
              <b-button
                variant="danger"
                class="mt-1"
                @click.prevent="updateStatusMatricula('Rechazada')"
              >
                Rechazar
              </b-button>
            </div>
          </div>

          <!-- student info -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Información del estudiante</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="tipo">Tipo de documento</label>
                          <select
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            class="form-control"
                            v-model="getmatricula.extra_info.tipo"
                            name="tipo"
                            required
                            id="tipo"
                          >
                            <option :value="undefined || null" disabled>
                              Seleccione el tipo de estudiante
                            </option>
                            <option value="registro_civil">
                              Registro civil
                            </option>
                            <option value="tarjeta_identidad">
                              Tarjeta de identidad
                            </option>
                          </select>
                        </div>
                      </div>
                      <!-- nombre -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Primer Nombre</label>
                          <input
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            required
                            v-model="getmatricula.estudiante.p_nombre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- segundo nombre -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Segundo Nombre</label>
                          <input
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            v-model="getmatricula.estudiante.s_nombre"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- apellido -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_apellido">Segundo apellido</label>
                          <input
                            required
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            v-model="getmatricula.estudiante.p_apellido"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- segundo apellido -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="s_apellido">Segundo apellido</label>
                          <input
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            v-model="getmatricula.estudiante.s_apellido"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- lugar_nacimiento -->
                      <div class="col-4">
                        <div class="form-group">
                          <label for="lugar_nacimiento"
                            >Lugar de Nacimiento</label
                          >
                          <input
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            v-model="getmatricula.extra_info.lugar_nacimiento"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- DNI -->
                      <div class="col-4">
                        <div class="form-group">
                          <label for="dni">Identificación</label>
                          <input
                            required
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            v-model="getmatricula.estudiante.dni"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- fecha de nacimiento -->
                      <div class="col-4">
                        <label for="datepicker">Fecha de nacimiento</label>
                        <input
                          required
                          :disabled="
                            identity.id_rol === 4 ||
                            this.$route.name === 'matriculaDetalle'
                          "
                          v-model="getmatricula.estudiante.fecha_nacimiento"
                          class="form-control"
                          data-date-format="dd/mm/yyyy"
                          type="date"
                          id="datepicker"
                        />
                      </div>
                    </div>
                    <!-- direccion -->
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="">Dirección</label>
                          <input
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            required
                            v-model="getmatricula.estudiante.direccion"
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                    <!-- info mama -->
                    <div class="my-5 row">
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer nombre de la madre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.p_nombre_mama"
                            type="text"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo nombre de la madre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.s_nombre_mama"
                            type="text"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer apellido de la madre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.p_apellido_mama"
                            type="text"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo apellido de la madre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.s_apellido_mama"
                            type="text"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Identificación de la madre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.dni_madre"
                            type="number"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                    <!-- info papa -->
                    <div class="my-5 row">
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer nombre de la padre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.p_nombre_padre"
                            type="text"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo nombre de la padre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.s_nombre_padre"
                            type="text"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Primer apellido de la padre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.p_apellido_padre"
                            type="text"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label for="p_nombre"
                            >Segundo apellido de la padre</label
                          >
                          <input
                            v-model="getmatricula.extra_info.s_apellido_padre"
                            type="text"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-group">
                          <label for="p_nombre">Identificación del padre</label>
                          <input
                            v-model="getmatricula.extra_info.dni_padre"
                            type="number"
                            class="form-control"
                            :disabled="
                              identity.id_rol === 4 ||
                              this.$route.name === 'matriculaDetalle'
                            "
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- acudiente -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div
                  class="card-header d-flex align-center justify-content-between"
                >
                  <div class="mt-1">Información el acudiente</div>
                </div>
                <div class="card-body">
                  <div class="container">
                    <template v-if="!acudiente_registrado">
                      <!-- acudiente -->
                      <div class="row">
                        <!-- nombre -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_nombre">Primer Nombre</label>
                            <input
                              required
                              v-model="getmatricula.acudiente.p_nombre"
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                            />
                          </div>
                        </div>
                        <!-- segundo nombre -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_nombre">Segundo Nombre</label>
                            <input
                              v-model="
                                getmatricula.acudiente.s_nombre === 'null'
                                  ? null
                                  : getmatricula.acudiente.s_nombre
                              "
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- apellido -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="p_apellido">Segundo apellido</label>
                            <input
                              required
                              v-model="getmatricula.acudiente.p_apellido"
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- segundo apellido -->
                        <div class="col-3">
                          <div class="form-group">
                            <label for="s_apellido">Segundo apellido</label>
                            <input
                              v-model="
                                getmatricula.acudiente.s_apellido === 'null'
                                  ? null
                                  : getmatricula.acudiente.s_apellido
                              "
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                              type="text"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- DNI -->
                        <div class="col-6">
                          <div class="form-group">
                            <label for="dni">Identificación</label>
                            <input
                              required
                              v-model="getmatricula.acudiente.dni"
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                              type="number"
                              class="form-control"
                              name=""
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                        <!-- fecha de nacimiento -->
                        <div class="col-6">
                          <label for="datepicker">Fecha de nacimiento</label>
                          <input
                            required
                            v-model="getmatricula.acudiente.fecha_nacimiento"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            class="form-control"
                            data-date-format="dd/mm/yyyy"
                            type="date"
                            id="datepicker"
                          />
                        </div>
                      </div>
                      <!-- direccion -->
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                            <label for="">Dirección</label>
                            <input
                              type="text"
                              class="form-control"
                              name=""
                              required
                              v-model="getmatricula.acudiente.direccion"
                              :disabled="
                                this.$route.name === 'matriculaDetalle'
                              "
                              id=""
                              aria-describedby="helpId"
                              placeholder=""
                            />
                          </div>
                        </div>
                      </div>
                    </template>

                    <!-- religion -->
                    <div class="mt-3 mb-3 row justify-content-center">
                      <div class="text-center col-12">
                        <label for="">
                          ¿Esta deacuerdo con que su hijo(a) reciba la catedra
                          de religión que ofrece el centro Educativo?
                        </label>
                      </div>
                      <div class="col-auto">
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            required
                            v-model="getmatricula.matricula.religion"
                            :value="1"
                            id="customRadioInline1"
                            name="customRadioInline1"
                            class="custom-control-input"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline1"
                            >Si</label
                          >
                        </div>
                        <div
                          class="custom-control custom-radio custom-control-inline"
                        >
                          <input
                            type="radio"
                            id="customRadioInline2"
                            name="customRadioInline1"
                            class="custom-control-input"
                            required
                            v-model="matricula.religion"
                            :value="0"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                          />
                          <label
                            class="custom-control-label"
                            for="customRadioInline2"
                            >No</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- informacion adicional -->
          <div class="mb-3 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Información adicional</div>
                <div class="card-body">
                  <div class="container">
                    <div class="row">
                      <!-- enfermedades -->
                      <div class="col-12">
                        <div class="form-group">
                          <label for="enfermedades"
                            >Enfermedades sufridas</label
                          >
                          <input
                            required
                            v-model="
                              getmatricula.extra_info.enfermedades_sufridas
                            "
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- sisben -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="p_nombre">Sisben</label>
                          <input
                            required
                            v-model="getmatricula.extra_info.sisben"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- estrato_socioeconimico -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="estrato_socioeconimico"
                            >Estrato socioeconomico</label
                          >
                          <input
                            required
                            v-model="
                              getmatricula.extra_info.estrato_socioeconimico
                            "
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- nro_hermanos -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="nro_hermanos">Número de hermanos</label>
                          <input
                            required
                            v-model="getmatricula.extra_info.nro_hermanos"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="number"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- posicion_hermanos -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="posicion_hermanos"
                            >Posición hermanos</label
                          >
                          <input
                            required
                            v-model="getmatricula.extra_info.posicion_hermanos"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- procedencia -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="procedencia"
                            >Escuela de procedencia</label
                          >
                          <input
                            required
                            v-model="getmatricula.extra_info.procedencia"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            type="text"
                            class="form-control"
                            name=""
                            id=""
                            aria-describedby="helpId"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <!-- nuevo -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="">¿Nuevo Ingreso?</label>
                          <select
                            class="form-control"
                            name=""
                            id=""
                            v-model="getmatricula.extra_info.nuevo"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                          >
                            <option disabled :value="undefined">
                              Seleccione una opcion
                            </option>
                            <option :value="1">Si</option>
                            <option :value="0">No</option>
                          </select>
                        </div>
                      </div>
                      <!-- repitiente -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="repitiente"
                            >¿Estudiante repitiente?</label
                          >
                          <select
                            class="form-control"
                            name=""
                            id=""
                            v-model="getmatricula.extra_info.repitiente"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                          >
                            <option disabled :value="undefined">
                              Seleccione una opcion
                            </option>
                            <option :value="1">Si</option>
                            <option :value="0">No</option>
                          </select>
                        </div>
                      </div>
                      <!-- grado -->
                      <div class="col-3">
                        <div class="form-group">
                          <label for="grado">Grado</label>
                          <select
                            class="form-control"
                            name=""
                            id=""
                            v-model="getmatricula.extra_info.fk_grado"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                          >
                            <option disabled :value="undefined">
                              Seleccione el grado
                            </option>
                            <option
                              v-for="grado in grados"
                              :value="grado.id"
                              :key="grado.id"
                            >
                              {{ grado.nombre }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- documentos -->
          <div class="my-4 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Documentos</div>
                <div class="card-body">
                  <div class="container">
                    <!-- add view -->
                    <div class="mb-4 row">
                      <div class="col-12">
                        <div class="alert alert-primary" role="alert">
                          <p>
                            Por favor, cargar aqui la fotocopia de los
                            siguientes documentos: identificación de la madre,
                            identificación del padre, identificación del
                            acudiente, del estudiante y promedio de notas del
                            ultimo año cursado
                          </p>
                          <strong class="bold">
                            El sistema solo admite formatos en pdf, jpeg, bmp,
                            png
                          </strong>
                        </div>
                      </div>
                      <!-- seleccion de archivos -->
                      <div class="col-4">
                        <label for="mom">Idenficación de la madre</label>
                        <input
                          type="file"
                          :disabled="this.$route.name === 'matriculaDetalle'"
                          @change="previewUpload($event, 'mom')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="mom"
                          id="mom"
                        />
                      </div>
                      <div class="col-4">
                        <label for="dad">Idenficación del padre</label>
                        <input
                          type="file"
                          :disabled="this.$route.name === 'matriculaDetalle'"
                          @change="previewUpload($event, 'dad')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="dad"
                          id="dad"
                        />
                      </div>
                      <div class="col-4">
                        <label for="acudiente"
                          >Idenficación del acudiente</label
                        >
                        <input
                          type="file"
                          :disabled="this.$route.name === 'matriculaDetalle'"
                          @change="previewUpload($event, 'acudiente')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                    </div>
                    <div class="mt-4 row">
                      <div class="col-6">
                        <label for="acudiente"
                          >Idenficación del Estudiante</label
                        >
                        <input
                          type="file"
                          :disabled="this.$route.name === 'matriculaDetalle'"
                          @change="previewUpload($event, 'estudiante')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                      <div class="col-6">
                        <label for="acudiente">Promedio de notas</label>
                        <input
                          type="file"
                          :disabled="this.$route.name === 'matriculaDetalle'"
                          @change="previewUpload($event, 'notas')"
                          accept="application/pdf, image/jpeg, image/bmp, image/png"
                          class="form-control-file"
                          name="acudiente"
                          id="acudiente"
                        />
                      </div>
                    </div>

                    <!-- loaded view -->
                    <div class="mt-5 row justify-content-between">
                      <!-- loaded -->
                      <div
                        class="mb-3 text-center col-4"
                        v-if="url_mom || getmatricula !== null"
                      >
                        <img
                          :src="
                            getUrlImg(
                              url_mom === null
                                ? getmatricula.matricula.img_cedula_mama
                                : url_mom
                            )
                          "
                          class="img-fluid"
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_cedula_mama,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_cedula_mama"
                          role="button"
                          >Idenficación de la madre
                        </a>
                      </div>
                      <div
                        class="mb-3 text-center col-4"
                        v-if="url_dad || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_dad === null
                                ? getmatricula.matricula.img_cedula_papa
                                : url_dad
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_cedula_papa,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_cedula_papa"
                          role="button"
                          >Idenficación del padre
                        </a>
                      </div>
                      <div
                        class="mb-3 text-center col-4"
                        v-if="url_acudiente || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_acudiente === null
                                ? getmatricula.matricula.img_cedula_acudiente
                                : url_acudiente
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_cedula_acudiente,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_cedula_acudiente"
                          role="button"
                          >Idenficación del acudiente
                        </a>
                        <!-- <span>Idenficación del acudiente</span> -->
                      </div>
                      <div
                        class="mb-3 text-center col-4"
                        v-if="url_estudiante || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_estudiante === null
                                ? getmatricula.matricula.img_cedula_estudiante
                                : url_estudiante
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_cedula_estudiante,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_cedula_estudiante"
                          role="button"
                          >Idenficación del estudiante
                        </a>
                        <!-- <span>Idenficación del estudiante</span> -->
                      </div>
                      <div
                        class="mb-3 text-center col-4"
                        v-if="url_notas || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_notas === null
                                ? getmatricula.matricula.notas
                                : url_notas
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(getmatricula.matricula.notas, '.pdf')
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.notas"
                          role="button"
                          >Promedio de notas
                        </a>
                        <!-- <span>promedio de notas</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Firmas -->
          <div class="my-4 row">
            <div class="col">
              <div class="card">
                <div class="card-header">Firmas</div>
                <div class="card-body">
                  <div class="container">
                    <!-- info -->
                    <div class="row">
                      <div class="col-12">
                        <div class="alert alert-primary" role="alert">
                          <p>
                            Para legalizar la matricula del estudiante debe de
                            acercarse a las instalaciones fisicas del Centro
                            Educativo a firmar la ficha de matricula las
                            siguientes personas: acudiente de familia y/o
                            acudiente y el estudiante O si lo prefiere puede
                            cargar estas firmas escaneadas aqui
                          </p>
                          <strong class="bold">
                            El sistema solo admite formatos en pdf, jpeg, bmp,
                            png
                          </strong>
                        </div>
                      </div>
                    </div>
                    <!-- Form firmas -->
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_acudiente"
                            >Cargar Firma Acudiente</label
                          >
                          <input
                            type="file"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_acudiente')"
                            class="form-control-file"
                            name="firma_acudiente"
                            id="firma_acudiente"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_familiar"
                            >Cargar Firma Familiar</label
                          >
                          <input
                            type="file"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_familiar')"
                            class="form-control-file"
                            name="firma_familiar"
                            id="firma_familiar"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="firma_estudiante"
                            >Cargar Estudiante</label
                          >
                          <input
                            type="file"
                            :disabled="this.$route.name === 'matriculaDetalle'"
                            accept="application/pdf, image/jpeg, image/bmp, image/png"
                            @change="previewUpload($event, 'firma_estudiante')"
                            class="form-control-file"
                            name="firma_estudiante"
                            id="firma_estudiante"
                            placeholder=""
                            aria-describedby="fileHelpId"
                          />
                        </div>
                      </div>
                    </div>
                    <!-- firmas cargadas -->
                    <div class="row">
                      <div
                        class="text-center col-4"
                        v-if="url_firma_acudiente || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_firma_acudiente === null
                                ? getmatricula.matricula.img_firma_acudiente
                                : url_firma_acudiente
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_firma_acudiente,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_firma_acudiente"
                          role="button"
                          ><span>Firma del Acudiente</span>
                        </a>
                      </div>
                      <div
                        class="col-4"
                        v-if="url_firma_familiar || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_firma_familiar === null
                                ? getmatricula.matricula.img_firma_familiar
                                : url_firma_familiar
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_firma_familiar,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_firma_familiar"
                          role="button"
                          ><span>Firma del Familiar</span>
                        </a>
                      </div>
                      <div
                        class="col-4"
                        v-if="url_firma_estudiante || getmatricula !== null"
                      >
                        <img
                          class="img-fluid"
                          :src="
                            getUrlImg(
                              url_firma_estudiante === null
                                ? getmatricula.matricula.img_firma_estudiante
                                : url_firma_estudiante
                            )
                          "
                          alt=""
                        />
                        <a
                          v-if="
                            stringSearch(
                              getmatricula.matricula.img_firma_estudiante,
                              '.pdf'
                            )
                          "
                          name=""
                          id=""
                          target="_blank"
                          :href="getmatricula.matricula.img_firma_estudiante"
                          role="button"
                          ><span>Firma del estudiante</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- submit info -->
          <div
            class="row justify-content-center"
            v-if="this.$route.name !== 'matriculaDetalle'"
          >
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <template v-if="getmatricula.matricula.estatus !== 'CANCELADO'">
      <!-- cancelar matricula -->
      <form
        @submit.prevent="newMatriculaToCancel()"
        v-if="this.$route.name !== 'matriculaDetalle'"
      >
        <div class="my-4 row">
          <div class="col">
            <div class="card">
              <div class="card-header">Cancelar matricula</div>
              <div class="card-body">
                <div class="form-group">
                  <!-- user info  -->
                  <div class="row">
                    <!-- fecha de cancelacion -->
                    <div class="col-auto" v-if="identity.id_rol !== 4">
                      <label for="datepicker">Fecha</label>
                      <input
                        required
                        v-model="matricula.fecha_cancel"
                        class="form-control"
                        data-date-format="dd/mm/yyyy"
                        type="date"
                        id="datepicker"
                        :disabled="this.$route.name === 'matriculaDetalle'"
                      />
                    </div>
                    <!-- motivo -->
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Motivo</label>
                        <textarea
                          required
                          v-model="matricula.motivo_cancel"
                          class="form-control"
                          id="motivo"
                          rows="3"
                          :disabled="getmatricula.cancelacion"
                        ></textarea>
                      </div>
                    </div>
                    <!-- destino -->
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Destino</label>
                        <textarea
                          required
                          v-model="matricula.destino_cancel"
                          class="form-control"
                          id="destino"
                          rows="3"
                          :disabled="getmatricula.cancelacion"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- submit -->
        <template v-if="this.$route.name !== 'matriculaDetalle'">
          <div
            class="row justify-content-center"
            v-if="!getmatricula.cancelacion"
          >
            <div class="col-auto" v-if="identity.id_rol === 4">
              <button type="submit" class="btn btn-danger">
                Solicitar cancelación
              </button>
            </div>
          </div>
          <div class="row justify-content-center" v-if="identity.id_rol !== 4">
            <div class="col-auto">
              <button type="submit" class="btn btn-danger">
                Cancelar matricula
              </button>
            </div>
          </div>
        </template>
      </form>
    </template>
  </div>
</template>

<script>
const qs = require("querystring");
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  components: { TitleComponent },
  data() {
    return {
      url_mom: null,
      url_dad: null,
      url_acudiente: null,
      url_estudiante: null,
      url_notas: null,
      url_firma_acudiente: null,
      url_firma_familiar: null,
      url_firma_estudiante: null,
      matricula: {},
      getmatricula: null,
      //edit matricula
      matricualaToCancel: {},
      estudiante: {},
      acudiente: {},
      acudiente_registrado: null,
      extra_info: {},
      acudientes: [],
      paises: [],
      estados_acudiente: [],
      municipios_acudiente: [],
      estados_estudiante: [],
      municipios_estudiante: [],
      grados: [],
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getMatricula();
    this.getGrados();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    getUrlImg(file) {
      let img = "";
      // console.log(file, "esta es la url de la imagen");
      if (typeof file === "object") {
        img = URL.createObjectURL(file);
      } else {
        img = file;
      }
      console.log(img);
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];

      this.url_mom = target === "mom" ? file : this.url_mom;

      this.url_dad = target === "dad" ? file : this.url_dad;

      this.url_estudiante =
        target === "estudiante" ? file : this.url_estudiante;

      this.url_acudiente = target === "acudiente" ? file : this.url_acudiente;

      this.url_notas = target === "notas" ? file : this.url_notas;

      this.url_firma_acudiente =
        target === "firma_acudiente" ? file : this.url_firma_acudiente;

      this.url_firma_familiar =
        target === "firma_familiar" ? file : this.url_firma_familiar;

      this.url_firma_estudiante =
        target === "firma_estudiante" ? file : this.url_firma_estudiante;
    },
    updateMatricula() {
      console.debug(
        `${this.host}/api/docadmin/edit/matricula/${this.getmatricula.matricula.id}`
      );
      const matricula = {
        matricula: this.matricula,
        estudiante: this.getmatricula.estudiante,
        acudiente: this.acudiente,
        id_acudiente: this.acudiente_registrado,
        extra_info: this.extra_info,
      };
      // matricula.matricula.sede = this.getSedeInfo.id;
      console.debug(matricula);
      let formData = new FormData();

      //matricula
      formData.append(
        "fecha_matricula",
        this.getmatricula.matricula.fecha_matricula
      );
      formData.append("estatus", this.getmatricula.matricula.status); //!no se que es esto
      formData.append("religion", this.getmatricula.matricula.religion);
      // formData.append("sede", this.getSedeInfo.id);

      //estudiante
      formData.append(
        "p_nombre_estudiante",
        this.getmatricula.estudiante.p_nombre
          ? this.getmatricula.estudiante.p_nombre
          : ""
      );
      formData.append(
        "s_nombre_estudiante",
        this.getmatricula.estudiante.s_nombre
          ? this.getmatricula.estudiante.s_nombre
          : ""
      );
      formData.append(
        "p_apellido_estudiante",
        this.getmatricula.estudiante.p_apellido
          ? this.getmatricula.estudiante.p_apellido
          : ""
      );
      formData.append(
        "s_apellido_estudiante",
        this.getmatricula.estudiante.s_apellido
          ? this.getmatricula.estudiante.s_apellido
          : ""
      );
      formData.append(
        "dni_estudiante",
        this.getmatricula.estudiante.dni ? this.getmatricula.estudiante.dni : ""
      );
      formData.append(
        "fecha_nacimiento_estudiante",
        this.getmatricula.estudiante.fecha_nacimiento
      );
      formData.append(
        "direccion_estudiante",
        this.getmatricula.estudiante.direccion
          ? this.getmatricula.estudiante.direccion
          : ""
      );

      //acudiente
      formData.append(
        "p_nombre_acudiente",
        this.getmatricula.acudiente.p_nombre
          ? this.getmatricula.acudiente.p_nombre
          : ""
      );
      formData.append(
        "s_nombre_acudiente",
        this.getmatricula.acudiente.s_nombre
          ? this.getmatricula.acudiente.s_nombre
          : ""
      );
      formData.append(
        "p_apellido_acudiente",
        this.getmatricula.acudiente.p_apellido
          ? this.getmatricula.acudiente.p_apellido
          : ""
      );
      formData.append(
        "s_apellido_acudiente",
        this.getmatricula.acudiente.s_apellido
          ? this.getmatricula.acudiente.s_apellido
          : ""
      );
      formData.append(
        "dni_acudiente",
        this.getmatricula.acudiente.dni ? this.getmatricula.acudiente.dni : ""
      );
      formData.append(
        "fecha_nacimiento_acudiente",
        this.getmatricula.acudiente.fecha_nacimiento
      );
      formData.append(
        "direccion_acudiente",
        this.getmatricula.acudiente.direccion
          ? this.getmatricula.acudiente.direccion
          : ""
      );
      formData.append(
        "nombre_usuario",
        this.getmatricula.acudiente.nombre_usuario
          ? this.getmatricula.acudiente.nombre_usuario
          : ""
      );

      //informacion extra
      formData.append(
        "tipo",
        this.getmatricula.extra_info.tipo
          ? this.getmatricula.extra_info.tipo
          : ""
      );
      formData.append(
        "enfermedades_sufridas",
        this.getmatricula.extra_info.enfermedades_sufridas
          ? this.getmatricula.extra_info.enfermedades_sufridas
          : ""
      );
      formData.append(
        "sisben",
        this.getmatricula.extra_info.sisben
          ? this.getmatricula.extra_info.sisben
          : ""
      );
      formData.append(
        "estrato_socioeconimico",
        this.getmatricula.extra_info.estrato_socioeconimico
          ? this.getmatricula.extra_info.estrato_socioeconimico
          : ""
      );
      formData.append(
        "nro_hermanos",
        this.getmatricula.extra_info.nro_hermanos
          ? this.getmatricula.extra_info.nro_hermanos
          : ""
      );
      formData.append(
        "posicion_hermanos",
        this.getmatricula.extra_info.posicion_hermanos
          ? this.getmatricula.extra_info.posicion_hermanos
          : ""
      );
      formData.append(
        "procedencia",
        this.getmatricula.extra_info.procedencia
          ? this.getmatricula.extra_info.procedencia
          : ""
      );
      formData.append(
        "nuevo",
        this.getmatricula.extra_info.nuevo
          ? this.getmatricula.extra_info.nuevo
          : ""
      );
      formData.append(
        "repitiente",
        this.getmatricula.extra_info.repitiente
          ? this.getmatricula.extra_info.repitiente
          : ""
      );
      formData.append("grado", this.getmatricula.extra_info.fk_grado);

      //adjuntos
      formData.append("img_cedula_mama", this.url_mom ? this.url_mom : "");
      formData.append("img_cedula_papa", this.url_dad ? this.url_dad : "");
      formData.append(
        "img_cedula_estudiante",
        this.url_estudiante ? this.url_estudiante : ""
      );
      formData.append(
        "img_cedula_acudiente",
        this.url_acudiente ? this.url_acudiente : ""
      );
      formData.append("notas", this.url_notas ? this.url_notas : "");
      formData.append(
        "img_firma_acudiente",
        this.url_firma_acudiente ? this.url_firma_acudiente : ""
      );
      formData.append(
        "img_firma_familiar",
        this.url_firma_familiar ? this.url_firma_familiar : ""
      );
      formData.append(
        "img_firma_estudiante",
        this.url_firma_estudiante ? this.url_firma_estudiante : ""
      );

      // nuevo
      formData.append(
        "p_nombre_mama",
        this.getmatricula.extra_info.p_nombre_mama
          ? this.getmatricula.extra_info.p_nombre_mama
          : ""
      );
      formData.append(
        "s_nombre_mama",
        this.getmatricula.extra_info.s_nombre_mama
          ? this.getmatricula.extra_info.s_nombre_mama
          : ""
      );
      formData.append(
        "p_nombre_padre",
        this.getmatricula.extra_info.p_nombre_padre
          ? this.getmatricula.extra_info.p_nombre_padre
          : ""
      );
      formData.append(
        "s_nombre_padre",
        this.getmatricula.extra_info.s_nombre_padre
          ? this.getmatricula.extra_info.s_nombre_padre
          : ""
      );
      formData.append(
        "dni_padre",
        this.getmatricula.extra_info.dni_padre
          ? this.getmatricula.extra_info.dni_padre
          : ""
      );
      formData.append(
        "dni_madre",
        this.getmatricula.extra_info.dni_madre
          ? this.getmatricula.extra_info.dni_madre
          : ""
      );
      formData.append(
        "p_apellido_mama",
        this.getmatricula.extra_info.p_apellido_mama
          ? this.getmatricula.extra_info.p_apellido_mama
          : ""
      );
      formData.append(
        "s_apellido_mama",
        this.getmatricula.extra_info.s_apellido_mama
          ? this.getmatricula.extra_info.s_apellido_mama
          : ""
      );
      formData.append(
        "p_apellido_padre",
        this.getmatricula.extra_info.p_apellido_padre
          ? this.getmatricula.extra_info.p_apellido_padre
          : ""
      );
      formData.append(
        "s_apellido_padre",
        this.getmatricula.extra_info.s_apellido_padre
          ? this.getmatricula.extra_info.s_apellido_padre
          : ""
      );
      formData.append(
        "rh",
        this.getmatricula.extra_info.rh ? this.getmatricula.extra_info.rh : ""
      );
      formData.append(
        "rh",
        this.getmatricula.extra_info.rh ? this.getmatricula.extra_info.rh : ""
      );
      formData.append(
        "lugar_expedicion",
        this.getmatricula.extra_info.lugar_expedicion
          ? this.getmatricula.extra_info.lugar_expedicion
          : ""
      );
      formData.append(
        "lugar_nacimiento",
        this.getmatricula.extra_info.lugar_nacimiento
          ? this.getmatricula.extra_info.lugar_nacimiento
          : ""
      );
      // fin nuevo

      // console.debug(formData);
      this.axios
        .post(
          `${this.host}/api/docadmin/edit/matricula/${this.getmatricula.matricula.id}`,
          formData
        )
        .then((res) => {
          console.debug(res);
          alert("La matricula ha sido actualizada exitosamente");
          this.getMatricula();
          this.$router.push("/docente/matricular-estudiante");
        })
        .catch((e) => {
          alert("Error al actualizada la matricula");
          console.info(e);
        });
    },
    newMatriculaToCancel() {
      const goDelete = confirm(
        "Va a iniciar el proceso para cancelar la matricula, ¿Está seguro?"
      );
      if (goDelete) {
        this.axios
          .post(
            `${this.host}/api/docadmin/cancel/matricula/${this.$route.params.id}`,
            qs.stringify({
              fecha_cancelacion: this.matricula.fecha_cancel,
              destino_estudiante: this.matricula.destino_cancel,
              motivo_cancelacion: this.matricula.motivo_cancel,
              estatus: this.identity.id_rol !== 4 ? "CANCELADO" : "CANCELANDO",
              id_cancelacion: this.getmatricula.cancelacion
                ? this.getmatricula.cancelacion.id
                : null,
            })
          )
          .then((res) => {
            console.debug(res);
            this.$router.push("/docente/matricular-estudiante");
          })
          .catch((e) => {
            alert("Error al cancelar la matricula");
            console.info(e);
          });
      }
    },
    getMatricula() {
      this.axios
        .get(`${this.host}/api/docadmin/matricula/${this.$route.params.id}`)
        .then((res) => {
          console.debug(res);
          this.getmatricula = res.data;
          if (res.data.cancelacion !== null) {
            this.matricula.fecha_cancel =
              res.data.cancelacion.fecha_cancelacion;
            this.matricula.destino_cancel =
              res.data.cancelacion.destino_estudiante;
            this.matricula.motivo_cancel =
              res.data.cancelacion.motivo_cancelacion;
          }
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getGrados() {
      this.token = UsuarioService.getToken();
      const config = {
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      };
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.identity.sede_id}/grados/all`,
          config
        )
        .then((res) => {
          console.debug(res);
          this.grados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.grados = [];
        });
    },
    updateStatusMatricula(status) {
      this.axios
        .get(
          `${this.host}/api/docadmin/matricula/${this.$route.params.id}/status/${status}`
        )
        .then((res) => {
          // console.debug(res);
          alert(`Matricula ${status}, correctamente`);
          this.$router.push("/docente/matricular-estudiante");
        })
        .catch((e) => {
          // console.debug(e);
          alert(
            "Ocurrio un error al actualizar la matricula, pongase en contacto con el soporte."
          );
        });
    },
  },
};
</script>
