<template>
  <div class="container matricular-estudiantes">
    <b-alert
      v-model="showDismissibleAlert"
      variant="danger"
      dismissible
      v-if="identity.id_rol === 4"
    >
      Para crear una <strong>nueva matricula</strong> debe acercarce a la sede.
      de forma presencial
    </b-alert>
    <!-- titulo -->
    <title-component title="Matriculas" />

    <!-- !!matriculas.length -->
    <template v-if="!!matriculas.length">
      <b-table
        head-variant="dark"
        hover
        :items="matriculas"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="fields"
      >
        <!-- estatus -->
        <template #cell(estatus)="row">
          <span class="badge" :class="getStatusClass(row.item.estatus)">
            {{ row.item.estatus }}
          </span>
        </template>
        <!-- actions -->
        <template #cell(actions)="row">
          <div class="d-flex flex-column">
            <!-- ver mas -->
            <b-button
              size="sm"
              class="my-1 text-white"
              variant="info"
              :to="{
                name: 'matriculaDetalle',
                params: { id: row.item.id },
              }"
            >
              Ver más
            </b-button>

            <!-- editar -->
            <b-button
              size="sm"
              class="my-1"
              variant="warning"
              :to="{
                name: 'matricularEstudiantesCancel',
                params: { id: row.item.id },
              }"
            >
              Editar
            </b-button>

            <!-- ver pdf -->
            <b-button
              size="sm"
              class="my-1"
              @click.prevent="generatePdf(row.item.id)"
            >
              Ver PDF
            </b-button>
          </div>
        </template>
        <!-- acu_img -->
        <template #cell(firma_acudiente)="row">
          <img
            :src="row.item.firma_acudiente"
            class="img-fluid firm-img"
            alt=""
          />
        </template>
        <template #cell(firma_estudiante)="row">
          <img
            :src="row.item.firma_estudiante"
            class="img-fluid firm-img"
            alt=""
          />
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </template>

    <!-- Sin resultados -->
    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No hay matriculas registradas en la plataforma.
          </h3>
          <router-link
            v-if="this.identity.id_rol !== 4"
            to="/docente/matricular-estudiante/add"
            tag="a"
            class="btn btn-primary"
          >
            Matricular estudiante
          </router-link>
        </div>
      </div>
    </div>

    <!-- PDF -->
    <div class="html-jspdf" style="max-width: 550px">
      <div class="container" id="xyz">
        <!-- header -->
        <div class="row justify-content-center">
          <!-- <div class="col">img</div> -->
          <div class="col-auto text-center">
            <div class="institute-info">
              <div class="name text-uppercase">
                centro educativo {{ pdf.centro_nombre }}
              </div>
              <div class="date">Resolución {{ pdf.centro_resolucion }}</div>
              <div class="dane">DANE {{ pdf.sede_dane }}</div>
              <div class="nit">NIT {{ pdf.centro_nit }}</div>
            </div>
          </div>
        </div>

        <!-- sede -->
        <div class="mt-2 row">
          <div class="text-center col-12">
            <p>Ficha unica de matricula o renovación</p>
          </div>
          <div class="text-center col-12">
            <p>
              Sede: <span>{{ pdf.sede_nombre }}</span>
            </p>
          </div>
        </div>

        <!-- contenido -->
        <div class="mt-4 row">
          <div class="col-12">
            <p style="">
              Nombres y apellidos
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.estudiante_p_nombre }}
                {{
                  pdf.estudiante_s_nombre == null ? "" : pdf.estudiante_s_nombre
                }}
                {{ pdf.estudiante_p_apellido }}
                {{
                  pdf.estudiante_s_apellido == null
                    ? ""
                    : pdf.estudiante_s_apellido
                }}
              </span>
              <span style="margin-left: 5px"
                >fecha de nacimiento
                <span class="font-weight-bold text-decoration-underline">{{
                  pdf.estudiante_fecha_nacimiento
                }}</span></span
              >
              <span class="">lugar</span>
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.estudiante_direccion }}
              </span>
              tipo de documento
              <span class="font-weight-bold text-decoration-underline"
                >Matricula</span
              >
              N° de documento:
              <span class="font-weight-bold text-decoration-underline">{{
                pdf.matricula_id
              }}</span>
              lugar de expedición:
              <span class="font-weight-bold text-decoration-underline">{{
                pdf.centro_direccion
              }}</span>
              <span style="margin-left: 5px">
                Edad:
                <span class="font-weight-bold text-decoration-underline"
                  >{{ pdf.estudiante_edad }}
                </span>
              </span>
              sexo:
              <span class="font-weight-bold text-decoration-underline">{{
                pdf.estudiante_sexo
              }}</span>
              <span style="margin-left: 5px">
                Rh:
                <span class="font-weight-bold text-decoration-underline"
                  >{{ pdf.rh }}
                </span>
              </span>
              Direccion:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.estudiante_direccion }}
              </span>
              Nombre del acudiente
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.acudiente_p_nombre }}
                {{
                  pdf.acudiente_s_nombre == null ? "" : pdf.acudiente_s_nombre
                }}
                {{ pdf.acudiente_p_apellido }}
                {{
                  pdf.acudiente_s_apellido == null
                    ? ""
                    : pdf.acudiente_s_apellido
                }}
              </span>
              Número de hermanos:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_nro_hermanos }}
              </span>
              Lugar que ocupa:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_posicion_hermanos }}
              </span>
              Enfermedades sufridas:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_enfermedades_sufridas }}
              </span>
              Sisben
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_sisben }}
              </span>
              Estrato socioeconomico:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_estrato_socioeconimico }}
              </span>
              Plantel de procedencia:
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_procedencia }}
              </span>
              Nuevo
              <span class="font-weight-bold text-decoration-underline">
                {{ pdf.informaciones_adicionales_nuevo ? "Si" : "No" }}
              </span>
              <span>
                repitiente:
                <span class="font-weight-bold text-decoration-underline">{{
                  pdf.repitiente ? "Si" : "No"
                }}</span>
              </span>
            </p>
            <p class="mt-4">
              ¿Está deacuerdo que su hijo(a) reciba la catedra de religión que
              ofrece el centro educativo?
              <span class="font-weight-bold text-decoration-underline">{{
                pdf.religion
              }}</span>
            </p>
          </div>
        </div>

        <!-- listado -->
        <div class="mt-4 row">
          <div class="col-12">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Año</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Grado</th>
                  <th scope="col">Edad</th>
                  <th scope="col">Firma del acudiente</th>
                  <th scope="col">Firma del estudiante</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ parseDate(pdf.matricula_fecha_matricula, "y") }}
                  </td>
                  <td>
                    {{ parseDate(pdf.matricula_fecha_matricula) }}
                  </td>
                  <td>
                    {{ pdf.grado }}
                  </td>
                  <td>{{ pdf.estudiante_edad }}</td>
                  <td>
                    <img :src="pdf.firma_acudiente" class="firmas-img" alt="" />
                  </td>
                  <td>
                    <img
                      :src="pdf.firma_estudiante"
                      class="firmas-img"
                      alt=""
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div
          class="row"
          v-if="pdf.cancelacion !== false && pdf.cancelacion !== undefined"
        >
          <div class="col-12" style="text-align: center">
            <h5>Cancelación</h5>
          </div>
          <div class="col" style="text-align: center">
            <p>
              Fecha: {{ pdf.cancelacion.fecha_cancelacion }} Motivo:
              {{ pdf.cancelacion.motivo_cancelacion }} Destino:
              {{ pdf.cancelacion.destino_estudiante }}
            </p>
          </div>
        </div>

        <!-- firmas -->
        <div class="row">
          <div class="col-12" style="text-align: center; margin-top: 1.5rem">
            <!-- <h5>Firmas</h5> -->
          </div>
          <template v-if="firmas">
            <div class="col" style="text-align: center">
              <img :src="pdf.firma_acudiente" class="firmas-img" alt="" />
              <p>Padre de familia y/o acudiente:</p>
            </div>
            <div class="col" style="text-align: center">
              <img :src="pdf.firma_estudiante" alt="" class="firmas-img" />
              <p>Estudiante :</p>
            </div>
            <div class="col" style="text-align: center">
              <img :src="pdf.centro_img_firma" alt="" class="firmas-img" />
              <p>Director :</p>
            </div>
          </template>
          <template v-else>
            <div class="col-12">
              <p>Padre de familia y/o acudiente: ________________</p>
              <p>Estudiante : ________________</p>
              <!-- <p>Docente : ________________</p> -->
              <p>Director : ________________</p>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { jsPDF } from "jspdf";
import List from "../../../components/Commons/List.vue";
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      matriculas: [],
      pdf: {},
      logo64: null,
      firmas: false,
      identity: null,
      showDismissibleAlert: true,
      // pagination
      perPage: 5,
      currentPage: 1,
      fields: [
        { key: "estudiante", label: "Estudiante" },
        { key: "acudiente", label: "Acudiente" },
        { key: "grado", label: "Grado" },
        { key: "estatus", label: "Estatus" },
        { key: "fecha_matricula", label: "Fecha" },
        { key: "sede", label: "Sede" },
        { key: "firma_acudiente", label: "Firma de acudiente" },
        { key: "firma_estudiante", label: "Firma de estudiante" },
        { key: "actions", label: "Actions" },
      ],
    };
  },
  components: {
    TitleComponent,
    List,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getMatriculas();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    getStatusClass(status) {
      let statusClass = "badge-info text-white";
      if (status === "Aprobada") {
        statusClass = "badge-success";
      } else if (status === "Rechazada" || status === "Cancelada") {
        statusClass = "badge-danger";
      }
      return statusClass;
    },
    getMatriculas() {
      const allMatriculas = `${this.host}/api/docadmin/matriculas`;
      const matriculasbySede = `${this.host}/api/docadmin/sedes/${this.identity.sede_id}/matriculas`;
      const matriculasbyAcudiente = `${this.host}/api/docadmin/acudientes/${this.identity.id_persona}/matriculas`;
      let requestUrl = `${this.host}/api/docadmin/matriculas`;

      if (this.identity.id_rol === 1) {
        requestUrl = allMatriculas;
      } else if (this.identity.id_rol === 2 || this.identity.id_rol === 3) {
        requestUrl = matriculasbySede;
      } else {
        requestUrl = matriculasbyAcudiente;
      }
      this.axios
        .get(requestUrl)
        .then((res) => {
          console.debug("Obteniendo las matriculas", res);
          this.matriculas = res.data.data;
        })
        .catch((e) => {
          alert("error al obtener datos");
        });
    },
    // new
    convertImgToBase64(url, callback, outputFormat) {
      var img = new Image();
      img.crossOrigin = "Anonymous";
      img.onload = function () {
        var canvas = document.createElement("CANVAS");
        var ctx = canvas.getContext("2d");
        canvas.height = this.height;
        canvas.width = this.width;
        ctx.drawImage(this, 0, 0);
        var dataURL = canvas.toDataURL(outputFormat || "image/png");
        callback(dataURL);
        canvas = null;
      };
      img.src = url;
    },
    generatePdf(id) {
      this.firmas = confirm("¿Desea firmar el documento de forma digital?")
        ? true
        : false;
      this.axios
        .get(`${this.host}/api/pdf/matricula/${id}`)
        .then((res) => {
          this.pdf = res.data.data;
          this.convertImgToBase64(this.pdf.centro_img_logo, (base64Img) => {
            let doc = new jsPDF("portrait", "pt", "a4");
            doc.html(document.getElementById("xyz"), {
              x: 20,
              y: 20,
              callback: () => {
                doc.addImage(base64Img, "png", 30, 30, 75, 75);
                doc.save("a4.pdf");
              },
            });
          });
        })
        .catch((e) => {
          console.debug(e);
          alert(
            "Error al descargar pdf pongase en contacto con el administrador"
          );
        });
    },
    parseDate(date, retornable) {
      const parseDate = new Date(date);
      const month = parseDate.getUTCMonth() + 1; //months from 1-12
      const day = parseDate.getUTCDate();
      if (retornable === "y") {
        return parseDate.getFullYear() + 1;
      } else {
        return `${month}-${day}`;
      }
    },
  },
};
</script>

<style lang="scss">
.matricular-estudiantes {
  .html-jspdf {
    position: fixed;
    left: -100%;
  }
  .firm-img {
    width: 100px;
    height: auto;
  }
}
.institute-info {
  max-width: 300px;
}
.firmas-img {
  height: 50px;
  width: auto;
}
</style>
