<template>
  <div class="container">
    <TitleComponent title="Estudiantes" :back="true" />
    <div class="row">
      <div class="mb-2 col">
        <a
          name=""
          id=""
          class="btn btn-danger"
          @click="cerrarCurso()"
          href="#"
          role="button"
        >
          Terminar curso
        </a>
      </div>
    </div>
    <template v-if="estudiantes.length">
      <b-table
        head-variant="dark"
        hover
        :items="estudiantes"
        :per-page="perPage"
        :current-page="currentPage"
        :fields="fields"
        fixed
      >
        <!-- estudiante -->
        <template #cell(estudiante)="row">
          {{ row.item.estudiante.p_nombre }},
          {{ row.item.estudiante.p_apellido }}
        </template>
        <!-- actions -->
        <template #cell(actions)="row">
          <!-- ver mas -->
          <b-button
            size="sm"
            class="my-1 text-white"
            variant="info"
            :to="`/docente/grados/${$route.params.id}/estudiante/${row.item.estudiante.id}/notas`"
          >
            Ver notas
          </b-button>
        </template>
        <!-- estatus -->
        <template #cell(estatus)="row">
          <span
            class="badge badge-primary"
            :class="
              row.item.estatus === 'cursando' ? 'badge-primary' : 'badge-danger'
            "
          >
            {{ row.item.estatus }}
          </span>
        </template>
      </b-table>
      <b-pagination
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="my-table"
      ></b-pagination>
    </template>
    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No se han encontrado estudiantes para este grado y sede
          </h3>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AnBtn from "../../../../components/Commons/an-btn.vue";
import GradosSubNav from "../../../../components/Commons/GradosSubNav.vue";
import List from "../../../../components/Commons/List.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
import generalMixin from "../../../../mixins/generalMixin";
import UsuarioService from "../../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      estudiantes: [],
      identity: null,
      //pagination
      perPage: 5,
      currentPage: 1,
      fields: [
        { key: "estatus", label: "Estatus" },
        { key: "estudiante", label: "Nombre" },
        { key: "estudiante.dni", label: "Identificación" },
        { key: "sede.nombre", label: "Sede" },
        { key: "actions", label: "" },
      ],
    };
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  components: {
    TitleComponent,
    List,
    GradosSubNav,
    AnBtn,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getEstudiantes();
  },
  methods: {
    cerrarCurso() {
      const cerrar = confirm(
        "Esta acción dara de baja a los estudiantes para este periodo, ¿Está seguro de realizarla?"
      );
      if (cerrar) {
        const estudiantes = {
          estudiantes: this.estudiantes,
        };
        this.axios
          .put(
            `${this.host}/api/grado/${this.$route.params.id}/estudiantes/terminar-curso`,
            estudiantes
          )
          .then((res) => {
            console.debug(res);
            alert("el curso fue cerrado exitosamente.");
          })
          .catch((e) => {
            console.debug(e);
            alert(
              "ha ocurrido un problema al cerrar el curso, pongase en contacto con el administrador"
            );
          });
      }
    },
    getEstudiantes() {
      // sede/{id}/grado/{id_grado}/estudiantes/
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.identity.sede_id}/grado/${this.$route.params.id}/estudiantes`
        )
        .then((res) => {
          console.debug(res);
          this.estudiantes = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.estudiantes = [];
        });
    },
  },
};
</script>

<style></style>
