<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 v-if="$route.name !== 'gradoAñadir'">Editar grado</h1>
        <h1 v-else>Nuevo Grado</h1>
      </div>
    </div>
    <form @submit.prevent="newGrado()">
      <div class="row">
        <!-- Nombre -->
        <div class="col">
          <div class="form-group">
            <label for="">Nombre *</label>
            <input
              required
              type="text"
              class="form-control"
              name=""
              v-model="grado.nombre"
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>

        <!-- Periodos academicos -->
        <div class="col">
          <div class="form-group">
            <label for="">Periodos Academicos *</label>
            <select
              required
              class="form-control"
              name=""
              id=""
              v-model="grado.periodo_academico"
            >
              <option :value="undefined" disabled>Seleccione el periodo</option>
              <option
                :value="periodo.id"
                v-for="(periodo, i) in periodos"
                :key="i"
              >
                {{ periodo.nombre }}
              </option>
            </select>
          </div>
        </div>

        <!-- Docente -->
        <div class="col">
          <div class="form-group">
            <label for="">Docente *</label>
            <select
              required
              class="form-control"
              name=""
              id=""
              v-model="grado.docente"
            >
              <option :value="undefined" disabled>Seleccione el docente</option>
              <option
                :value="docente.persona.id"
                v-for="(docente, i) in docentes"
                :key="i"
              >
                {{ docente.p_nombre }} {{ docente.p_apellido }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <!-- Estudiante -->
      <div class="mt-5 row">
        <div class="col">
          <h2>Asignar estudiantes</h2>
        </div>
        <div class="col-auto">
          <a class="btn btn-primary" @click="addEstudiante()">añadir</a>
        </div>
      </div>
      <div
        class="row align-items-center"
        v-for="(estudiante, i) in estudiantes_list"
        :key="i"
      >
        <div class="col">
          <div class="form-group">
            <label for="">Estudiante {{ i + 1 }} </label>
            <select
              class="form-control"
              name=""
              id=""
              v-model="estudiantes_list[i]"
            >
              <option
                :value="{
                  estudiante: null,
                }"
                disabled
              >
                Seleccione el estudiante
              </option>
              <option
                :value="{
                  estudiante: estudiante.id,
                }"
                v-for="(estudiante, i) in estudiantes"
                :key="i"
              >
                {{ estudiante.p_nombre }}
                {{ estudiante.p_apellido }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-auto">
          <a class="btn btn-danger" @click="removeEstudiante(i)">eliminar</a>
        </div>
      </div>
      <!-- submit -->
      <div class="mt-3 row justify-content-center">
        <div class="col-auto">
          <button
            type="reset"
            @click.prevent="$router.go(-1)"
            class="btn btn-outline-danger"
          >
            cancelar
          </button>
        </div>
        <div class="col-auto">
          <button type="submit" :disabled="loading" class="btn btn-primary">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
              v-if="loading"
            ></span>
            <span>Añadir</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      grado: {},
      periodos: [],
      docentes: [],
      estudiantes: [],
      loading: false,
      estudiantes_list: [
        {
          estudiante: null,
        },
      ],
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getPeriodos();
    this.getDocentes();
    this.getEstudiantes();
  },
  methods: {
    newGrado() {
      const newGrado = {
        grado: this.grado,
        estudiantes: this.estudiantes_list,
      };
      this.axios
        .post(`${this.host}/api/docadmin/grado/add`, newGrado)
        .then((res) => {
          console.debug(res);
          alert("Se registro correctamente el grado");
          this.$router.push("/docente/grados");
        })
        .catch((e) => {
          console.debug(e);
          alert(
            "Ocurrio un problema al registrar, pongase en contacto con el administrador"
          );
        });
    },
    getPeriodos() {
      this.axios
        .get(`${this.host}/api/docadmin/periodos-academicos`)
        .then((res) => {
          console.debug(res);
          this.periodos = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.periodos = [];
        });
    },
    getDocentes() {
      this.axios
        .get(`${this.host}/api/admin/docentes`)
        .then((res) => {
          console.debug(res);
          this.docentes = res.data;
        })
        .catch((e) => {
          console.debug(e);
          this.docentes = [];
        });
    },
    getEstudiantes() {
      //${this.host}/api/docadmin/usuarios/estudiantes
      //${this.host}/api/docadmin/sede/${this.identity.sede_full.id}/estudiantes
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.identity.sede_full.id}/estudiantes`
        )
        .then((res) => {
          console.debug(res);
          this.estudiantes = res.data;
        })
        .catch((e) => {
          console.debug(e);
          this.estudiantes = [];
        });
    },
    addEstudiante() {
      this.estudiantes_list.push({
        estudiante: null,
      });
    },
    removeEstudiante(id) {
      this.estudiantes_list.splice(id, 1);
    },
  },
};
</script>

<style></style>
