<template>
  <div class="container">
    <TitleComponent title="Calificando estudiante" :back="true" />
    <form @submit.prevent="calificarEstudiante()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="">Nota *</label>
            <input
              required
              type="number"
              class="form-control"
              step="0.01"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
              v-model="calificacion.nota"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="">Área *</label>
            <select
              required
              class="form-control"
              v-model="calificacion.area"
              name=""
              id=""
            >
              <option :value="undefined" disabled>Seleccione el área</option>
              <option :value="area.id" v-for="area in areas" :key="area.id">
                {{ area.nombre }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import AnBtn from "../../../../components/Commons/an-btn.vue";
import List from "../../../../components/Commons/List.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
import generalMixin from "../../../../mixins/generalMixin";
export default {
  mixins: [generalMixin],
  components: {
    TitleComponent,
    AnBtn,
    List,
  },
  data() {
    return {
      areas: [],
      calificacion: {},
    };
  },
  created() {
    this.getAreasByGrado();
  },
  methods: {
    calificarEstudiante() {
      const calificacion = {
        nota: this.calificacion.nota,
        id_estudiante: this.$route.params.id,
        id_area: this.calificacion.area,
      };
      this.axios
        .post(`${this.host}/api/docadmin/add/calificacion`, calificacion)
        .then((res) => {
          console.debug(res);
          alert("Registro exitoso");
          this.$router.go(-1);
        })
        .catch((e) => {
          alert("Ocurrio un error, pongase en contacto con el administrador");
          console.debug(e);
        });
    },
    getAreasByGrado() {
      const id_grado = this.$route.params.id_grado;
      this.axios
        .get(`${this.host}/api/docadmin/grado/${id_grado}/areas`)
        .then((res) => {
          console.debug(res);
          this.areas = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.areas = [];
        });
    },
  },
};
</script>

<style></style>
