<template>
    <div class="container">
        <title-component :title="`Editar nota`" :back="true" />
        <form @submit.prevent="editNota()">
            <div class="card">
                <div class="card-header">
                    <div>
                        {{ estudiante.p_nombre }} {{ estudiante.p_apellido }}
                        <strong> Dni: {{ estudiante.dni }} </strong>
                    </div>
                    <div>
                        <small>
                            {{ estudiante.sede }}
                        </small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="">Nota</label>
                                    <input
                                        step=".01"
                                        v-model="notaToEdit.nota_parcial"
                                        type="number"
                                        class="form-control"
                                        name=""
                                        id=""
                                        aria-describedby="helpId"
                                        placeholder=""
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-auto mt-4">
                    <button type="submit" class="btn btn-primary">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import generalMixin from "../../../../mixins/generalMixin";
import TitleComponent from "../../../../components/Commons/TitleComponent.vue";
export default {
    mixins: [generalMixin],
    data() {
        return {
            notaToEdit: {},
            estudiante: {},
            nota: {}
        };
    },
    components: { TitleComponent },
    created() {
        this.getEstudiante();
        this.getNota();
    },
    methods: {
        editNota() {
            //   console.debug(this.notaToEdit);
            this.axios
                .put(
                    `${this.host}/api/docadmin/nota/${this.$route.params.id_nota}`,
                    this.notaToEdit
                )
                .then(res => {
                    console.debug(res);
                    alert("Actualización completada");
                    this.$router.go(-1);
                })
                .catch(e => {
                    console.debug(e);
                    alert("Ocurrio un problema con la actualizacion");
                });
        },
        getEstudiante() {
            this.axios
                .get(
                    `${this.host}/api/docadmin/estudiante/${this.$route.params.id_estudiante}`
                )
                .then(res => {
                    console.debug(res);
                    this.estudiante = res.data.data;
                })
                .catch(e => {
                    console.debug(e);
                });
        },
        getNota() {
            this.axios
                .get(
                    `${this.host}/api/docadmin/nota/${this.$route.params.id_nota}`
                )
                .then(res => {
                    console.debug(res);
                    this.notaToEdit = res.data.data;
                })
                .catch(e => {
                    console.debug(e);
                    this.notaToEdit = {};
                });
        }
    }
};
</script>

<style></style>
