<template>
  <div class="container notas-page" v-if="estudiante !== null">
    <TitleComponent
      :title="`Notas de ${estudiante.p_nombre} ${estudiante.p_apellido}`"
      :back="true"
    />
    <div class="mb-3 row justify-content-end">
      <div class="col-auto">
        <b-button
          @click="generarNotas('simples')"
          size="sm"
          variant="warning"
          class=""
          >Generar notas simples</b-button
        >
      </div>
      <div class="col-auto">
        <template v-if="currentCertificado === null">
          <b-button
            @click="generarNotas('completas')"
            size="sm"
            variant="warning"
            class=""
            >Generar notas completas</b-button
          >
        </template>
        <template v-else>
          <template v-if="currentCertificado.estatus !== 'ENVIADO'">
            <div>
              <span class="badge badge-danger"
                >Gestionando Notas completas</span
              >
            </div>
          </template>
          <template v-else>
            <a
              name=""
              id=""
              class="btn btn-primary sm"
              :href="currentCertificado.url_certificado"
              target="_blank"
              role="button"
              >Ver Notas completas</a
            >
          </template>
          <div></div>
        </template>
      </div>
      <div class="col-auto">
        <b-button
          :to="`/docente/grados/${$route.params.id_grado}/estudiante/${$route.params.id}/notas/add`"
          size="sm"
          variant="success"
          v-if="identity.id_rol !== 4"
          >Añadir nota</b-button
        >
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          {{ estudiante.p_nombre }}
          {{ estudiante.s_nombre }},
          {{ estudiante.p_apellido }}
          {{ estudiante.s_apellido }}
        </p>
        <p>
          Identificación:
          {{ estudiante.dni }}
        </p>
        <p>{{ estudiante.grado.nombre }}</p>
      </div>
      <div class="text-right col">
        <p>
          {{ estudiante.docente.p_nombre }}
          {{ estudiante.docente.s_nombre }},
          {{ estudiante.docente.p_apellido }}
          {{ estudiante.docente.s_apellido }}
        </p>
        <p>
          Sede:
          {{ estudiante.sede }}
        </p>
        <p>{{ estudiante.periodo.nombre }}</p>
      </div>
    </div>

    <div class="mb-3 row justify-content-end"></div>
    <List v-if="areas.length">
      <template slot="table-head">
        <tr>
          <th>Área</th>
          <th>Nota</th>
          <th v-if="identity.id_rol !== 4"></th>
        </tr>
      </template>
      <template slot="table-body">
        <tr v-for="(item, i) in areas" :key="i">
          <td>
            {{ item.area.nombre }}
          </td>
          <td>
            {{ item.nota.nota_parcial }}
          </td>
          <td v-if="identity.id_rol !== 4">
            <router-link
              :to="{
                name: 'notasEdit',
                params: {
                  id_estudiante: $route.params.id,
                  id_nota: item.nota.id,
                },
              }"
              class="btn btn-primary"
            >
              Calificar
            </router-link>
          </td>
        </tr>
      </template>
    </List>
    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No se han encontrado notas para este estudiante
          </h3>
        </div>
      </div>
    </div>
    <!-- PDF -->
    <template>
      <div class="html-jspdf" style="max-width: 550px">
        <div class="container" id="xyz">
          <img
            :src="identity.centro_full.img_logo"
            class="img-logo-centro"
            alt=""
          />
          <!-- header -->
          <div class="row justify-content-center">
            <!-- <div class="col">img</div> -->
            <div class="col-auto text-center">
              <div class="institute-info">
                <div class="name text-uppercase">
                  centro educativo
                  {{ identity.centro_full.nombre }}
                </div>
                <div class="date">
                  Resolución
                  {{ identity.centro_full.resolucion }}
                </div>
                <div class="dane">
                  DANE
                  {{ identity.centro_full.dane }}
                </div>
                <div class="nit">
                  NIT
                  {{ identity.centro_full.nit }}
                </div>
                <div class="nit">
                  {{ identity.centro_full.direccion }}
                </div>
              </div>
            </div>
          </div>

          <!-- Subheader -->
          <div class="row">
            <div class="col" style="text-align: center; margin: 1rem 0">
              <p>
                Notas Acumuladas Año:
                {{ getYear(estudiante.periodo.fecha_inicio) }}
              </p>
            </div>
          </div>

          <!-- contenido: estudio-->
          <template>
            <!-- body -->
            <div class="my-2 row">
              <div class="col">
                <p style="font-weight: bold">
                  {{ estudiante.p_nombre }}
                  {{ estudiante.s_nombre }}
                  {{ estudiante.p_apellido }}
                  {{ estudiante.s_apellido }}
                </p>
                <p>
                  Grado: {{ estudiante.grado.nombre }} Grupo:
                  {{ identity.sede_full.nombre }} Código: {{ estudiante.dni }}
                </p>
                <!-- <p class="text-justify">
                  Que el(la) estudiante
                  {{ estudiante.p_nombre }}
                  {{ estudiante.s_nombre }}
                  {{ estudiante.p_apellido }}
                  {{ estudiante.s_apellido }}
                  identificado(a) con documento número
                  {{ estudiante.dni }} curso y aprobó en este centro educativo,
                  {{ identity.centro_full.nombre }}
                  sede
                  {{ identity.sede_full.nombre }}, el grado
                  {{ estudiante.grado.nombre }}, durante el año lectivo
                  {{ getYear(estudiante.periodo.fecha_inicio) }}
                  , cumpliendo con lo establecido en las leyes 115 del 08 de
                  febrero de 1994 y la ley 715 de diciembre de 2001 y su decreto
                  reglamentario 1290 obteniendo la siguiente valoración.
                </p> -->
              </div>
            </div>

            <!-- notas -->
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Áreas Fundamentales</th>
                      <th>IHS</th>
                      <th>NOTAS PARCIALES</th>
                      <th>DEFINITIVAS</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(area, i) in areas" :key="i">
                      <td>
                        {{ area.area.nombre }}
                      </td>
                      <td>
                        {{ area.area.intensidad }}
                      </td>
                      <td>
                        {{ area.nota.nota_parcial }}
                      </td>
                      <td>
                        {{
                          area.nota.nota_parcial >= 3.0
                            ? area.nota.nota_parcial >= 4.0
                              ? area.nota.nota_parcial >= 4.6
                                ? "Superior"
                                : "Alto"
                              : "Basico"
                            : "Bajo"
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>IHS: Intensidad horaria Semanal</p>
              </div>
            </div>
          </template>

          <!-- Firmas footer -->
          <div class="row" style="margin-top: 2rem">
            <div class="col">
              <p>__________________</p>
              <p>
                {{ estudiante.docente.p_nombre }}
                {{
                  estudiante.docente.s_nombre === null ||
                  estudiante.docente.s_nombre == "null"
                    ? null
                    : estudiante.docente.s_nombre
                }}
                {{ estudiante.docente.p_apellido }}
                {{
                  estudiante.docente.s_apellido === null ||
                  estudiante.docente.s_apellido == "null"
                    ? null
                    : estudiante.docente.s_apellido
                }}
              </p>
              <p>Director de grupo</p>
            </div>
            <div class="col" style="text-align: right">
              <img
                v-if="firmas"
                :src="estudiante.sede_full.img_firma"
                class="img-firma"
                alt=""
              />
              <p v-else>__________________</p>
              <p>{{ identity.centro_full.nombre_autorizado }}</p>
              <p>Director</p>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { jsPDF } from "jspdf";
import AnBtn from "../../../../components/Commons/an-btn.vue";
import List from "../../../../components/Commons/List.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
import generalMixin from "../../../../mixins/generalMixin";
import UsuarioService from "../../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      estudiante: null,
      areas: [],
      identity: null,
      currentCertificado: null,
      //pdf
      certificado: null,
      firmas: false,
    };
  },
  components: {
    TitleComponent,
    AnBtn,
    List,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getEstudiante(this.$route.params.id);
    this.getAreas(this.$route.params.id);
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  computed: {
    getDefinitiva() {
      //   const nota = this.area.nota.nota_parcial;
      //     let definitiva = "";
      //     if (nota >= 3.0) {
      //       definitiva = "Basico";
      //     } else if (nota >= 4.0) {
      //       definitiva = "Alto";
      //     } else if (nota >= 4.6) {
      //       definitiva = "Superior";
      //     } else {
      //       definitiva = "Baja";
      //     }
      //   return nota;
    },
  },
  methods: {
    generarNotas(type) {
      if (type === "simples") {
        console.debug("generando notas");
        this.generarCertificado();
      } else {
        alert(
          "Su solicitud sera gestionada por el docente responsable de la sede."
        );
        const newNotasFull = {
          tipo: "notas_full",
          descripcion: "Solicitud de notas completas",
          estatus: "PENDIENTE",
          url_certificado: "",
          fk_usuario: this.estudiante.docente_user,
          fk_persona: this.$route.params.id,
        };
        console.debug(newNotasFull);
        this.axios
          .post(`${this.host}/api/docente/notificacion/new`, newNotasFull)
          .then((res) => {
            console.debug(res);
            this.checkFullNotas();
          })
          .catch((e) => {
            console.debug(e);
          });
      }
    },
    getEstudiante(id) {
      console.debug(`${this.host}/api/docadmin/estudiante/${id}`);
      this.axios
        .get(`${this.host}/api/docadmin/estudiante/${id}`)
        .then((res) => {
          console.debug(res);
          this.estudiante = res.data.data;
          this.checkFullNotas();
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getAreas(id) {
      // areas
      this.axios
        .get(`${this.host}/api/docadmin/estudiante/${id}/notas`)
        .then((res) => {
          console.debug(res);
          this.areas = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    //pdf
    getYear(date) {
      const fullDate = new Date(date);
      return fullDate.getFullYear();
    },
    getDateEs() {
      var fecha = new Date();
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
    parseDate(date) {
      var fecha = new Date(date);
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
    generarCertificado() {
      // firmas
      this.firmas = confirm("¿Desea firmar el documento de forma digital?")
        ? true
        : false;
      // pdf
      let doc = new jsPDF("portrait", "pt", "a4");
      const htmlToPdf = document.querySelector(".html-jspdf");
      doc.html(htmlToPdf, {
        x: 20,
        y: 20,
        callback: () => {
          doc.save(
            `Notas simples (${this.estudiante.p_nombre} ${this.estudiante.p_apellido}).pdf`
          );
        },
      });
    },
    checkFullNotas() {
      this.axios
        .get(
          `${this.host}/api/docente/${this.estudiante.docente_user}/estudiante/${this.$route.params.id}/fullNotas`
        )
        .then((res) => {
          console.debug(res);
          this.currentCertificado = res.data.data;
          //   this.estatus = res.data.estatus;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
  },
};
</script>

<style lang="scss">
.notas-page {
  .html-jspdf {
    position: fixed;
    left: -100%;
  }
  .firm-img {
    width: 100px;
    height: auto;
  }
}
#xyz {
  position: relative;
  .img-logo-centro {
    position: absolute;
    height: 100px;
    width: auto;
    top: 0;
    left: 0;
  }
}
</style>
