<template>
  <div>
    <nav
      class="mx-5 shadow-sm navbar navbar-expand-lg navbar-light bg-light mt-3"
    >
      <template v-if="identity !== null">
        <img
          v-bind:src="identity.centro_full.img_logo"
          alt=""
          style="width: auto; height: 60px"
        />
        <router-link to="/" class="mx-4 text-center navbar-brand">
          {{ identity.centro_full.nombre }}
          <br />
          Centro Educativo
        </router-link>
      </template>
      <template v-else>
        <img v-bind:src="logo" alt="" style="width: 60px" />
        <router-link to="/" class="mx-4 text-center navbar-brand">
          Santa Emilia<br />
          Centro Educativo
        </router-link>
      </template>

      <!-- toogle -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- options -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <router-link to="/" class="nav-link"> Inicio </router-link>
          </li>
        </ul>

        <!-- users options -->
        <ul class="mr-auto navbar-nav">
          <template v-if="identity && identity.rol !== 'ACUDIENTE'">
            <li class="nav-item">
              <router-link class="nav-link" to="/docente/grados">
                Grados
              </router-link>
            </li>
          </template>

          <!-- acudiente -->
          <template v-if="identity && identity.rol === 'ACUDIENTE'">
            <li class="nav-item">
              <router-link to="/acudiente/estudiantes" class="nav-link">
                Estudiantes
              </router-link>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                to="/docenteAdministrativo/solicitudes"
              >
                Solicitudes Académias
              </router-link>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Matriculas</a
              >
              <div class="dropdown-menu">
                <router-link
                  class="dropdown-item"
                  to="/docente/matricular-estudiante"
                  >Listar matriculas</router-link
                >
                <div
                  class="dropdown-divider"
                  v-if="identity.id_rol !== 4"
                ></div>
                <router-link
                  v-if="identity.id_rol !== 4"
                  class="dropdown-item"
                  to="/docente/matricular-estudiante/add"
                  >Registrar matriculas</router-link
                >
              </div>
            </li>
          </template>

          <!-- Docente administrativo | docente -->
          <template
            v-if="
              (identity && identity.rol === 'DOCENTE') ||
              (identity && identity.rol === 'DOCENTE ADMINISTRATIVO')
            "
          >
            <li
              class="nav-item"
              v-if="identity && identity.rol === 'DOCENTE ADMINISTRATIVO'"
            >
              <router-link
                class="nav-link"
                to="/docenteAdministrativo/solicitudes/sede/nuevo-certificado"
              >
                Certificados
              </router-link>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Usuarios</a
              >
              <div class="dropdown-menu">
                <router-link class="dropdown-item" to="/docente/usuarios"
                  >Listar usuarios</router-link
                >
                <div class="dropdown-divider"></div>
                <router-link class="dropdown-item" to="/docente/usuarios/add"
                  >Registrar usuario</router-link
                >
              </div>
            </li>
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'areas' }">
                Áreas
              </router-link>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >Matriculas</a
              >
              <div class="dropdown-menu">
                <router-link
                  class="dropdown-item"
                  to="/docente/matricular-estudiante"
                  >Listar matriculas</router-link
                >
                <div class="dropdown-divider"></div>
                <router-link
                  class="dropdown-item"
                  to="/docente/matricular-estudiante/add"
                  >Registrar matriculas</router-link
                >
              </div>
            </li>
            <li class="nav-item">
              <router-link
                class="nav-link"
                v-if="identity.rol === 'DOCENTE ADMINISTRATIVO'"
                to="/docenteAdministrativo/solicitudes"
              >
                Solicitudes Académias
              </router-link>
            </li>
          </template>

          <!-- Admnistrador -->
          <template v-if="identity && identity.rol === 'ADMINISTRADOR'">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Administrar Docentes
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <router-link
                  to="/admin/indexDocentes"
                  class="dropdown-item"
                  href="#"
                >
                  Listado de Docentes
                </router-link>

                <div class="dropdown-divider"></div>
                <router-link to="/admin/createDocentes" class="dropdown-item">
                  Registrar Docente
                </router-link>
              </div>
            </li>
            <li class="nav-item">
              <router-link to="/admin/indexCentros" class="nav-link">
                Consultar Centro Educativo
              </router-link>
            </li>
          </template>
        </ul>

        <!-- hamburguer  -->
        <ul class="navbar-nav navbar-right align-items-center">
          <li v-if="!identity" class="nav-item">
            <router-link to="/login" class="nav-link">
              Inicio de Sesión
            </router-link>
          </li>
          <!-- sede -->
          <li class="nav-item" v-if="identity">
            <span class="nav-link font-weight-bold">
              {{ tolower(identity.rol) }}
            </span>
          </li>
          <!-- cerrar session dropdown -->
          <li v-if="identity" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ identity.usuario }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <router-link to="/politicas-de-privacidad" class="dropdown-item"
                >Politicas de privacidad</router-link
              >
              <router-link
                to="/docente/notificaciones"
                v-if="identity.id_rol === 2 || identity.id_rol === 3"
                class="dropdown-item"
              >
                Notificaciones
                <span class="badge bg-danger text-white" v-if="notificaciones">
                  {{ notificaciones }}
                </span>
              </router-link>
              <router-link to="/comentarios" class="dropdown-item">
                Foro
                <span class="badge bg-danger text-white" v-if="comentarios">
                  {{ comentarios }}
                </span>
              </router-link>

              <router-link to="/changePass" class="dropdown-item"
                >Cambiar Contraseña
              </router-link>

              <div class="dropdown-divider"></div>
              <router-link to="/logout/1" class="dropdown-item">
                Cerrar Sesión
              </router-link>
            </div>
          </li>

          <li class="nav-item text-right" v-if="identity">
            <span class="nav-link font-weight-bold m-0 p-0">
              {{ identity.sede }}
            </span>
            <small class="nav-link font-weight-bold m-0 p-0">
              Dane {{ identity.sede_full.dane }}
            </small>
            <small class="nav-link font-weight-bold m-0 p-0">
              Consecutivo: {{ identity.sede_full.consecutivo_sede }}
            </small>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid app-container">
      <br />
      <router-view></router-view>
      <br />
    </div>
  </div>
</template>

<script>
import UsuarioService from "../services/UsuarioService";
import generalMixin from "../mixins/generalMixin";

export default {
  mixins: [generalMixin],
  created() {
    this.identity = UsuarioService.getIdentity();
    this.token = UsuarioService.getToken();
    this.logo = "/img/escudo_nobackground.png";
    this.getSede(this.identity);
    this.getUnreadNotifications();
    this.getComments();
  },
  data() {
    return {
      identity: null,
      token: "",
      logo: "",
      sede: "",
      notificaciones: 0,
      comentarios: 0,
    };
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
    this.identity ? this.checkPoliticas() : "";
  },
  methods: {
    tolower(string) {
      return string.toLowerCase();
    },
    checkPoliticas() {
      const { politicas, rol } = this.identity;
      if (politicas === 0 && this.$route.name != "politicas") {
        console.debug();
        this.$router.push("/politicas");
      }
    },
    getComments() {
      this.axios
        .get(`${this.host}/api/comentarios`)
        .then((res) => {
          this.comentarios = res.data.data.length;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getUnreadNotifications() {
      this.axios
        .get(
          `${this.host}/api/docente/${this.identity.id_user}/notifications/unread`
        )
        .then((res) => {
          this.notificaciones = res.data.data.length;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
  },
};
</script>
<style lang="scss">
.app-container {
  margin-bottom: 100px;
}
p {
  margin-bottom: 0 !important;
}
</style>
