<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3>Bienvenido {{ identity.usuario }}</h3>
          </div>

          <div v-if="identity" class="card-body">
            ¡feliz día! En el menú superior podras encontrar todas las opciones
            disponibles.
          </div>
          <div v-else class="card-body">Aún no estás logueado.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { jsPDF } from "jspdf";
import UsuarioService from "../services/UsuarioService";
export default {
  data() {
    return {
      identity: {},
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    convertImgToBase64(url, callback, outputFormat) {
      var img = new Image();
      img.crossOrigin = "Anonymous";
      img.onload = function () {
        var canvas = document.createElement("CANVAS");
        var ctx = canvas.getContext("2d");
        canvas.height = this.height;
        canvas.width = this.width;
        ctx.drawImage(this, 0, 0);
        var dataURL = canvas.toDataURL(outputFormat || "image/png");
        callback(dataURL);
        canvas = null;
      };
      img.src = url;
    },
    generatePdf() {
      this.convertImgToBase64(
        "http://127.0.0.1:8000/storage/centros/logos/olMN2ygYpVfEG7mF0aysd8V4Tr5MNLPkLERVjSx1.jpg",
        function (base64Img) {
          // return base64Img;
          const doc = new jsPDF();
          doc.text("Hello world!", 200, 10);
          doc.addImage(base64Img, "png", 10, 10, 25, 25);
          doc.save("a4.pdf");
        }
      );
    },
  },
};
</script>
