<template>
  <div class="container">
    <!-- titulo -->
    <title-component title="Nosotros" />

    <!-- mision | vision -->
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header"><h5>Misión</h5></div>
          <div class="card-body">
            <p class="card-text text-justify">
              El Centro Educativo Santa Emilia del municipio de Belén de umbría
              está comprometido y contribuye con la formación académica,
              disciplinaria, social y humana de alta calidad en un espacio donde
              se resalten los valores, el cuidado por el medio ambiente al
              encontrarse ubicada en una zona rural, a la vez fomenta la sana
              convivencia, los procesos de aprendizaje basados en las
              habilidades, destrezas y capacidades de cada estudiante y en los
              proyectos de vida desde el conocimiento, el hacer, el ser y el
              contexto en beneficio de la calidad de vida, el crecimiento
              personal y social de sus comunidades hacia un futuro con metas
              enfocadas para la reflexión, la investigación, la resolución de
              problemas y el emprendimiento en la construcción de seres
              íntegros, democráticos y reflexivos.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title">Visión</h5>
          </div>
          <div class="card-body">
            <p class="card-text text-justify">
              Consecuentes de nuestra labor académica, humana y social anhelamos
              ser reconocidos en el año 2019 como una institución innovada y
              transformada en una comunidad educativa incluyente, integral que
              influya en la formación de ciudadanos autónomos, solidarios,
              respetuosos del medio ambiente promoviendo la participación
              democrática, la identidad cultural y los valores personales,
              familiares y sociales con miras aportar soluciones a los problemas
              del medio y con ello favorecer el progreso de las poblaciones
              resaltando el derecho a la igualdad y mejorando la calidad de vida
              de las comunidades.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- other data -->
    <div class="row mt-5">
      <div class="col">
        <div class="card">
          <div class="card-header"><h3>Dirección</h3></div>
          <div class="card-body d-flex align-items-center">
            <p class="d-block">
              Nos puedes visitar en:<br />
              Centro Educativo<br />
              1981 Bogotá<br />
              Mountain View, CA 94043-0801<br />
              Colombia
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-header"><h3>Teléfonos</h3></div>
          <div class="card-body d-flex align-items-center">
            <p>
              Tel: <a href="tel:+5855555555">+58 (555) 555-5555</a><br />
              Ws: <a href="tel:+5855555555">+58 (555) 555-5555</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-header"><h3>Correo Electrónico</h3></div>
          <div class="card-body d-flex align-items-center">
            <address class="d-block">
              <br />
              Escríbenos a nuestro correo electrónico:
              <a href="mailto:#@example.com">centroeducativo@gmail.com</a>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TitleComponent from "./Commons/TitleComponent.vue";
export default {
  components: { TitleComponent },
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
<style lang="scss">
p {
  margin-bottom: 0 !important;
}
</style>
