<template>
  <div class="wrapper container">
    <div id="formContent">
      <div id="formHeader">
        <h4>Cambio de Contraseña</h4>
      </div>
      <form @submit.prevent="changePass">
        <br />
        <div class="form-group">
          <label for="inputEmail">Email *</label>
          <input
            v-model="user.email"
            type="email"
            class="form-control"
            id="inputEmail"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputOldPass">Contraseña anterior *</label>
          <input
            v-model="user.pass"
            type="password"
            class="form-control"
            id="inputOldPass"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputPassword">Nueva contraseña *</label>
          <input
            v-model="password.new"
            type="password"
            class="form-control"
            id="inputPassword"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputConfirmPassword">Confirmar contraseña *</label>
          <input
            v-model="password.confirm"
            type="password"
            class="form-control"
            id="inputConfirmPassword"
            required
          />
        </div>
        <div id="formFooter">
          <button type="submit" id="btnIngresar" class="btn btn-primary">
            Cambiar Contraseña</button
          ><br />
        </div>
      </form>
    </div>
  </div>
</template>



<script>
const qs = require("querystring");
import UsuarioService from "../../services/UsuarioService";
import RutaService from "../../services/RutaService";

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      user: {},
      password: {},
      token: {},
    };
  },
  methods: {
    changePass() {
      this.token = UsuarioService.getToken();
      this.axios({
        method: "post",
        url: this.host + "/api/changePass",
        data: qs.stringify({
          email: this.user.email,
          oldPass: this.user.pass,
          newPass: this.password.new,
          confirmPass: this.password.confirm,
        }),
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      })
        .then(
          (response) => this.verifyResponse(response.data)
          // console.log(response.data)
        )
        .catch((error) => console.log(error));
    },
    verifyResponse(data) {
      let status;

      if (data.status != "error") {
        this.status = "success";

        alert(data.msg);
        this.$router.replace("/");
      } else {
        this.status = "error";
        alert(data.msg);
      }
    },
  },
};
</script>

<style>
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formHeader {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5px;
}

#formContent {
  /* -webkit-border-radius: 5px 10px 10px 10px; */
  border-radius: 10px 10px 10px 10px;
  border: 1px #000;
  border-style: inherit;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
}

#formFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
</style>