<template>
  <div class="wrapper container">        
        <div id="formContent"> 
            <div id="formHeader">
                <h4>Restablecimiento de Contraseña</h4>
            </div>           
            <form @submit.prevent="changePass">
                <div class="form-group">
                    <label for="inputPassword">Nueva contraseña</label>
                    <input v-model="password.new" type="password" class="form-control" id="inputPassword">                
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword">Confirmar contraseña </label>
                    <input v-model="password.confirm" type="password" class="form-control" id="inputConfirmPassword">
                </div>                
            <div id="formFooter">
                <button type="submit" id="btnIngresar" class="btn btn-primary">Procesar</button><br>
            </div>            
            </form>        
        </div>
        
    </div>
</template>

<script>
import RutaService from '../../services/RutaService';
const qs = require('querystring')

export default {
    data(){
        return {
            host: RutaService.getUrl(),
            password: {}
        }
    },
    methods: {
        verifyResponse(data) {
            let status;

            if (data.status != 'error'){
                this.status = 'success'; 
                
                localStorage.removeItem('token_reset');
                this.$router.replace('/login');
            }else {
                this.status = 'error';
                alert(data.message);
            }
        },
        changePass () {
            this.axios({
                method: 'post',
                url: this.host + '/api/changePassReset',
                data: 
                     qs.stringify({
                        'new': this.password.new,
                        'confirm': this.password.confirm,
                        'token_reset': localStorage.getItem('token_reset')                         
                    })                    
                ,
                headers: {
                    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                }
            })
            .then(response => (
                this.verifyResponse(response.data)
            ))
            .catch(error => console.log(error))
        }
    }
    

}
</script>

<style>
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formHeader {
        display: flex;
        align-items: center;
        flex-direction: initial; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 5px;
    }

    #formContent {
        /* -webkit-border-radius: 5px 10px 10px 10px; */
        border-radius: 10px 10px 10px 10px;        
        border: 1px #000;
        border-style: inherit;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
    }
    
    #formFooter {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
    }
</style>