<template>
    <div class="wrapper container">
        
        <div id="formContent"> 
            <div id="formHeader">
                <h4>Comprobar Token de Seguridad</h4>
            </div>           
            <form @submit.prevent="checkToken">
                <div class="form-group">
                    <label for="inputUsername">Token recibido</label>
                    <input v-model="reset_pass.token" type="text" class="form-control" id="inputToken" placeholder="Ingresa el token" required>
                </div>
                <br>

                <div id="formFooter">
                    <button type="submit" id="btnCheck" class="btn btn-primary">Comprobar</button><br>
                </div>
            </form>          
        </div>
        
    </div>
</template>

<script>
import RutaService from '../../services/RutaService';
const qs = require('querystring')

export default {
    data() {
        return {
            host: RutaService.getUrl(),
            reset_pass: {}
        }
    },
    methods: {
        verifyResponse(data) {
            let status;
            let token_reset;

            if (data.status != 'error'){
                this.status = 'success'; 
                this.token_reset = data.token;
                
                // Redireccionamos a ruta
                localStorage.setItem('token_reset', this.token_reset);
                this.$router.replace('/changePassReset')
            }else {
                this.status = 'error';
                alert(data.message);
                // console.log(data);
            }
        },
        checkToken() {
            this.axios({
                method: 'post',
                url: this.host + '/api/checkToken',
                data: 
                     qs.stringify({
                        'token':  this.reset_pass.token                     
                    })                    
                ,
                headers: {
                    'content-type': 'application/x-www-form-urlencoded;charset=utf-8'
                }
            })
            .then(response => (
                this.verifyResponse(response.data)
            ))
            .catch(error => console.log(error))
        }
    }

}
</script>

<style>
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }

    #formHeader {
        display: flex;
        align-items: center;
        flex-direction: initial; 
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 5px;
    }

    #formContent {
        /* -webkit-border-radius: 5px 10px 10px 10px; */
        border-radius: 10px 10px 10px 10px;        
        border: 1px #000;
        border-style: inherit;
        padding: 30px;
        width: 90%;
        max-width: 450px;
        position: relative;
        -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
        box-shadow: 0 30px 60px 0 rgba(0,0,0,0.2);
    }
    
    #formFooter {
        display: flex;
        align-items: center;
        flex-direction: column; 
        justify-content: center;
    }

</style>