<template>
  <div class="container wrapper">
    <div id="formContent">
      <div id="formHeader">
        <h4>Ingreso de Usuario</h4>
      </div>
      <form @submit.prevent="loginUser">
        <div class="form-group">
          <label for="inputUsername">Usuario</label>
          <input
            v-model="usuario.user"
            type="text"
            class="form-control"
            id="inputUsername"
            placeholder="Ingresa el usuario"
            required
          />
        </div>
        <div class="form-group">
          <label for="inputPassword">Contraseña</label>
          <input
            v-model="usuario.password"
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <div id="formFooter">
          <button type="submit" id="btnIngresar" class="btn btn-primary">
            Ingresar</button
          ><br />
          <router-link to="/resetPass">Olvidé mi contraseña</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import RutaService from "../../services/RutaService";
const qs = require("querystring");

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      usuario: {},
    };
  },
  methods: {
    obtenerDatos(data) {
      let status;
      let token;
      let identity;

      if (data.status != "error") {
        this.status = "success";
        this.token = data;

        this.axios({
          method: "post",
          url: this.host + "/api/login",
          data: qs.stringify({
            user: this.usuario.user,
            password: this.usuario.password,
            gettoken: true,
          }),
          headers: {
            "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          },
        })
          .then(
            (response) => (
              (this.identity = response.data),
              // console.log(this.token),
              console.log(response),
              // Persistir datos del usuario identificado
              localStorage.setItem("token", this.token),
              localStorage.setItem("identity", JSON.stringify(this.identity)),
              // Redireccionamos a ruta
              this.$router.replace("/example")
            )
          )
          .catch((error) => console.log(error));
      } else {
        this.status = "error";
        alert(data.message);
        // console.log(data);
      }
    },
    loginUser() {
      this.axios({
        method: "post",
        url: this.host + "/api/login",
        data: qs.stringify({
          user: this.usuario.user,
          password: this.usuario.password,
          gettoken: null,
        }),
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
        },
      })
        .then((response) => this.obtenerDatos(response.data))
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style>
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formHeader {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5px;
}

#formContent {
  /* -webkit-border-radius: 5px 10px 10px 10px; */
  border-radius: 10px 10px 10px 10px;
  border: 1px #000;
  border-style: inherit;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
}

#formFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
</style>
