<template>
    
</template>
<script>
export default {
    created(){
        // Se ejecuta siempre y cierra sesión solo cuando le llega el parámetro sure por la url
        this.logout();
    },
    methods:{
        logout() {
            let logout = +this.$route.params['sure'];

            if(logout == 1) {  
                localStorage.removeItem('identity');
                localStorage.removeItem('token');
    
                this.identity = null;
                this.token = null;                
            }

            // Redireccionamos a ruta
            this.$router.replace('/');
        }    
    }
};
</script>
