<template>
  <div class="wrapper container">
    <div id="formContent">
      <div id="formHeader">
        <h4>Recuperación de Contraseña</h4>
      </div>
      <form @submit.prevent="sendEmail">
        <div class="form-group">
          <label for="inputUsername">Usuario</label>
          <input
            v-model="usuario.user"
            type="text"
            class="form-control"
            id="inputUsername"
            placeholder="Ingresa el usuario"
            required
          />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input
            v-model="usuario.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Ingresa el email"
            required
          />
        </div>
        <span class="form-text text-muted"
          >Nota: Debe ingresar el usuario y el correo registrado en el Centro
          Educativo.</span
        >
        <br />

        <div id="formFooter">
          <button type="submit" id="btnIngresar" class="btn btn-primary">
            Restablecer</button
          ><br />
          <router-link to="/login">Volver</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import RutaService from "../../services/RutaService";
const qs = require("querystring");

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      usuario: {},
    };
  },
  methods: {
    verifyResponse(data) {
      let status;

      if (data.status != "error") {
        this.status = "success";
        // Redireccionamos a ruta
        this.$router.replace("/checkToken");
      } else {
        this.status = "error";
        alert(data.message);
        // console.log(data);
      }
    },
    sendEmail() {
      this.axios({
        method: "post",
        url: this.host + "/api/sendEmailToken",
        data: qs.stringify({
          user: this.usuario.user,
          email: this.usuario.email,
        }),
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
        },
      })
        .then((response) => this.verifyResponse(response.data))
        .catch((error) => console.log(error));
    },
  },
};
</script>

<style>
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formHeader {
  display: flex;
  align-items: center;
  flex-direction: initial;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 5px;
}

#formContent {
  /* -webkit-border-radius: 5px 10px 10px 10px; */
  border-radius: 10px 10px 10px 10px;
  border: 1px #000;
  border-style: inherit;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.2);
}

#formFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
</style>
