<template>
  <div class="container">
    <!-- title -->
    <div class="row">
      <div class="col">
        <h2 class="my-4">Administrar Centro Educativo</h2>
      </div>
    </div>
    <div class="row">
      <div
        class="col-6 mb-5"
        v-for="centro in centros"
        :key="centro.identificacion"
      >
        <div class="card">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h2>{{ centro.nombre }}</h2>
            <router-link
              :to="{
                name: 'editCentro',
                params: { id: centro.identificacion },
              }"
              class="btn btn-primary"
              >Editar</router-link
            >
          </div>
          <div class="card-body">
            <p class="card-text">
              <strong> Resolucion: </strong>
              {{ centro.resolucion }}
            </p>
            <p class="card-text"><strong> DANE: </strong> {{ centro.dane }}</p>
            <p class="card-text">
              <strong> Consecutivo Sede: </strong>
              {{ centro.consecutivo_sede }}
            </p>
            <p class="card-text"><strong> NIT: </strong> {{ centro.nit }}</p>
            <p class="card-text">
              <strong> Dirección: </strong>
              {{ centro.direccion }}
            </p>

            <p class="card-text">
              <strong> Nombre Autorizado:</strong>
              {{ centro.nombre_autorizado }}
            </p>
            <p class="card-text">
              <strong> Identificacion:</strong>
              {{ centro.dni_director }}
            </p>
            <p class="card-text"><strong> Cargo:</strong> {{ centro.cargo }}</p>
            <div class="row mt-3">
              <div class="col text-center">
                <p class="card-text">
                  <img :src="centro.img_firma" class="img-centro" alt="" />
                </p>
                <strong> Firma Autorizada:</strong>
              </div>
              <div class="col text-center">
                <p class="card-text">
                  <img :src="centro.img_logo" class="img-centro" alt="" />
                </p>
                <strong> Logo:</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RutaService from "../../services/RutaService";

export default {
  data() {
    return {
      centros: [],
      host: RutaService.getUrl(),
    };
  },
  created() {
    this.axios.get(this.host + "/api/admin/centros").then((response) => {
      this.centros = response.data;
      // console.log(this.centros);
    });
  },
};
</script>

<style lang="scss">
.img-centro {
  height: 100px;
  width: auto;
}
</style>
