<template>
  <div class="container" v-if="centro !== null">
    <br />
    <h1 class="text-center">Modificación de Centro Educativo</h1>
    <br /><br />
    <form @submit.prevent="updateCentro">
      <div class="form-group">
        <label for="nombre">Lugar de expedición</label>
        <input
          v-model="centro.lugar_expedicion"
          type="text"
          class="form-control"
          id="nombre"
          required
        />
      </div>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          v-model="centro.nombre"
          type="text"
          class="form-control"
          id="nombre"
          required
        />
      </div>

      <div class="form-group">
        <label for="resolucion">Resolución</label>
        <input
          v-model="centro.resolucion"
          type="text"
          class="form-control"
          id="resolucion"
          required
        />
      </div>

      <div class="form-group">
        <label for="dane">DANE</label>
        <input
          v-model="centro.dane"
          type="text"
          class="form-control"
          id="dane"
          required
        />
      </div>

      <div class="form-group">
        <label for="dane">Consecutivo Sede</label>
        <input
          v-model="centro.consecutivo_sede"
          type="text"
          class="form-control"
          id="dane"
          required
        />
      </div>

      <div class="form-group">
        <label for="nit">NIT</label>
        <input
          v-model="centro.nit"
          type="text"
          class="form-control"
          id="nit"
          required
        />
      </div>

      <div class="form-group">
        <label for="nombreAutorizado">Nombre Autorizado</label>
        <input
          v-model="centro.nombre_autorizado"
          type="text"
          class="form-control"
          id="nombreAutorizado"
          required
        />
      </div>
      <div class="form-group">
        <label for="nombreAutorizado">Identificacion del Autorizado</label>
        <input
          v-model="centro.dni_director"
          type="number"
          class="form-control"
          id="nombreAutorizado"
          required
        />
      </div>

      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input
          v-model="centro.cargo"
          type="text"
          class="form-control"
          id="cargo"
          required
        />
      </div>
      <div class="form-group">
        <label for="cargo">Dirección</label>
        <input
          v-model="centro.direccion"
          type="text"
          class="form-control"
          id="cargo"
          required
        />
      </div>
      <div class="my-4 row">
        <div class="col">
          <div class="card">
            <div class="card-header">Adjuntos</div>
            <div class="card-body">
              <div class="container">
                <!-- Adjuntos -->
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="">Logo</label>
                      <input
                        type="file"
                        accept="image/jpeg, image/png, image/bmp"
                        @change="onFileChange($event, 'logo')"
                        class="form-control-file"
                        name="logo"
                        id="logo"
                        placeholder=""
                        aria-describedby="fileHelpId"
                      />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="">Firma</label>
                      <input
                        type="file"
                        accept="image/jpeg, image/png, image/bmp"
                        @change="onFileChange($event, 'firma')"
                        class="form-control-file"
                        name="firma"
                        id="firma"
                        placeholder=""
                        aria-describedby="fileHelpId"
                      />
                    </div>
                  </div>
                </div>
                <!-- Adjuntos cargados -->
                <div class="row">
                  <div
                    class="col-4 text-center"
                    v-if="url_logo || centro !== null"
                  >
                    <img
                      class="img-fluid"
                      :src="
                        getUrlImg(
                          url_logo === null ? centro.img_logo : url_logo
                        )
                      "
                      alt=""
                    />
                    <span>Logo</span>
                  </div>
                  <div
                    class="col-4 text-center"
                    v-if="url_firma || centro !== null"
                  >
                    <img
                      class="img-fluid"
                      :src="
                        getUrlImg(
                          url_firma === null ? centro.img_firma : url_firma
                        )
                      "
                      alt=""
                    />
                    <span>Firma</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <button type="submit" class="btn btn-primary btn-block">
        Actualizar
      </button>
    </form>
  </div>
</template>

<script>
const qs = require("querystring");
import UsuarioService from "../../services/UsuarioService";
import RutaService from "../../services/RutaService";

export default {
  data() {
    return {
      centro: null,
      url_logo: null,
      url_firma: null,
      token: {},
      host: RutaService.getUrl(),
    };
  },
  created() {
    this.axios
      .get(this.host + `/api/admin/edit/centro/${this.$route.params.id}`)
      .then((response) => {
        this.centro = response.data;
        // console.log(response.data);
      });
  },
  methods: {
    getUrlImg(file) {
      let img = "";
      // console.log(file, "esta es la url de la imagen");
      if (typeof file === "object") {
        img = URL.createObjectURL(file);
      } else {
        img = file;
      }
      console.log(img);
      return img;
    },
    onFileChange(e, target) {
      const file = e.target.files[0];

      this.url_logo = target === "logo" ? file : this.url_logo;
      this.url_firma = target === "firma" ? file : this.url_firma;
    },
    verifyResponse(data) {
      let status;

      if (data.status != "error") {
        this.status = "success";
        alert(data.message);

        this.$router.replace("/admin/indexCentros");
      } else {
        this.status = "error";
        alert(data.message);
      }
    },
    updateCentro() {
      const {
        identificacion,
        nombre,
        resolucion,
        dane,
        consecutivo_sede,
        nit,
        nombre_autorizado,
        cargo,
        direccion,
        dni_director,
        lugar_expedicion,
      } = this.centro;
      let formData = new FormData();
      formData.append("identificacion", identificacion);
      formData.append("dni_director", this.centro.dni_director);
      formData.append("lugar_expedicion", lugar_expedicion);
      formData.append("nombre", nombre);
      formData.append("resolucion", resolucion);
      formData.append("dane", dane);
      formData.append("consecutivo_sede", consecutivo_sede);
      formData.append("nit", nit);
      formData.append("nombre_autorizado", nombre_autorizado);
      formData.append("cargo", cargo);
      formData.append("direccion", direccion);
      formData.append("logo", this.url_logo ? this.url_logo : "");
      formData.append("firma", this.url_firma ? this.url_firma : "");
      this.axios
        .post(
          `${this.host}/api/admin/update/centro/${this.$route.params.id}`,
          formData
        )
        .then((res) => {
          console.debug(res);
          alert("centro actualizado");
          this.$router.push("/admin/indexCentros");
          this.tipos_certificados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          alert("problemas ");
        });
    },
  },
};
</script>

<style></style>
