<template>
  <div class="container">
    <br />
    <h1 class="text-center">Registro de Docentes</h1>
    <br /><br />
    <form @submit.prevent="addDocente">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo Docente *</label>
        <select
          v-model="registro.rol"
          class="form-control"
          id="exampleFormControlSelect1"
          required
        >
          <option v-for="rol in roles" :key="rol.id" :value="rol.id">
            {{ rol.nombre }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect2">Selección de Sede *</label>
        <select
          v-model="registro.sede"
          @change="loadSede"
          class="form-control"
          id="exampleFormControlSelect2"
          required
        >
          <option v-for="sede in sedes" :key="sede.id" :value="sede">
            {{ sede.nombre }}
          </option>
        </select>
        <template v-if="registro.sede !== undefined">
          <br />
          <label for="sedeDane">DANE</label>
          <input
            class="form-control"
            type="text"
            id="sedeDane"
            :placeholder="registro.sede.dane"
            readonly
          />
          <br />
          <label for="sedeConse">CONSECUTIVO</label>
          <input
            class="form-control"
            type="text"
            id="sedeConse"
            :placeholder="registro.sede.consecutivo_sede"
            readonly
          />
        </template>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="firstName">Primer nombre *</label>
            <input
              v-model="registro.p_nombre"
              type="text"
              class="form-control"
              id="firstName"
              placeholder=""
              required
            />
            <br />
          </div>
          <div class="col">
            <label for="middleName">Segundo nombre</label>
            <input
              v-model="registro.s_nombre"
              type="text"
              class="form-control"
              id="middleName"
              placeholder=""
            />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="firstLastName">Primer apellido *</label>
            <input
              v-model="registro.p_apellido"
              type="text"
              class="form-control"
              id="firstLastName"
              placeholder=""
              required
            />
          </div>
          <div class="col">
            <label for="secondLastName">Segundo apellido</label>
            <input
              v-model="registro.s_apellido"
              type="text"
              class="form-control"
              id="secondLastName"
              placeholder=""
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="dni">Identificación *</label>
        <input
          v-model="registro.dni"
          type="text"
          class="form-control"
          id="dni"
          placeholder="Ingrese el DNI"
          required
        />
      </div>

      <div class="form-group">
        <label for="fechaNac">Fecha de Nacimiento *</label>
        <input
          v-model="registro.fechaNac"
          type="date"
          class="form-control"
          id="fechaNac"
          max="2016-12-31"
          required
        />
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <label for="codArea">Código de área *</label>
            <input
              v-model="registro.codArea"
              type="number"
              class="form-control"
              id="codArea"
              placeholder="XXX"
              min="0"
              required
            />
          </div>
          <div class="col-9">
            <label for="phoneNumber">Número de teléfono *</label>
            <input
              v-model="registro.phoneNumber"
              type="number"
              class="form-control"
              id="phoneNumber"
              placeholder="XXXXXXX"
              min="0"
              required
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect4">Estado *</label>
        <select
          v-model="estado"
          class="form-control"
          id="exampleFormControlSelect4"
          required
        >
          <option value="ACTIVO">Activo</option>
          <option value="INACTIVO">Inactivo</option>
        </select>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="">Dirección</label>
          <input
            type="text"
            v-model="registro.direccion"
            class="form-control"
            name=""
            id=""
            placeholder=""
          />
        </div>

        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico *</label>
          <input
            v-model="registro.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder=""
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="userName">Nombre de usuario *</label>
          <div class="mb-2 input-group" id="userName">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input
              v-model="registro.username"
              type="text"
              class="form-control"
              id="inlineFormInputGroup"
              placeholder=""
              required
            />
          </div>
        </div>

        <div class="form-group col-6">
          <label for="exampleInputPassword1">Contraseña *</label>
          <input
            v-model="registro.password"
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder=""
            required
          />
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <label for="foto">Cargar Foto</label>
          <div class="container">
            <!-- Form foto -->
            <div class="row">
              <div class="col-4">
                <input
                  type="file"
                  accept="image/jpeg, image/bmp, image/png"
                  @change="previewUpload($event, 'foto')"
                  class="form-control-file"
                  name="foto"
                  id="foto"
                  placeholder=""
                  aria-describedby="fileHelpId"
                />
              </div>
            </div>
            <!-- foto cargada -->
            <div class="row">
              <div class="col-4 my-4" v-if="url_foto">
                <img class="img-fluid" :src="getUrlImg(url_foto)" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id=""
                value="checkedValue"
                v-model="registro.responsable"
              />
              Responsable de sede
            </label>
          </div>
        </div> -->
      </div>
      <br />
      <button type="submit" class="btn btn-primary btn-block">Registrar</button>
    </form>
  </div>
</template>

<script>
// const qs = require("querystring");
import RutaService from "../../services/RutaService";

export default {
  created() {
    this.loadRoles();
    this.loadSedes();
  },
  data() {
    return {
      host: RutaService.getUrl(),
      registro: {},
      roles: [],
      sedes: [],
      lugares: [],
      sede: {},
      estado: "",
      url_foto: null,
    };
  },
  methods: {
    getUrlImg(file) {
      const img = URL.createObjectURL(file);
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];
      this.url_foto = target === "foto" ? file : this.url_foto;
    },
    loadRoles() {
      this.axios.get(this.host + "/api/admin/getRoles").then((response) => {
        this.roles = response.data;
      });
    },
    loadSedes() {
      this.axios.get(this.host + "/api/admin/getSedes").then((response) => {
        this.sedes = response.data;
      });
    },
    loadSede() {
      this.sede = this.registro.sede;
    },

    verifyResponse(data) {
      let status;

      if (data.status != "error") {
        this.status = "success";
        alert(data.message);

        this.$router.replace("/admin/indexDocentes");
      } else {
        this.status = "error";
        alert(data.message);
      }
    },
    addDocente() {
      let formData = new FormData();
      formData.append("id_rol", this.registro.rol);
      formData.append("id_sede", this.registro.sede.id);
      formData.append("p_nombre", this.registro.p_nombre);
      formData.append(
        "s_nombre",
        !!this.registro.s_nombre ? this.registro.s_nombre : ""
      );
      formData.append("p_apellido", this.registro.p_apellido);
      formData.append(
        "s_apellido",
        !!this.registro.s_apellido ? this.registro.s_apellido : ""
      );
      formData.append("dni", this.registro.dni);
      formData.append("fechaNac", this.registro.fechaNac);
      formData.append("codArea", this.registro.codArea);
      formData.append("phoneNumber", this.registro.phoneNumber);
      // formData.append("id_lugar", this.registro.lugar);
      formData.append("email", this.registro.email);
      formData.append("estado", this.estado);
      formData.append("username", this.registro.username);
      formData.append("password", this.registro.password);
      formData.append("direccion", this.registro.direccion);
      formData.append("img_foto", this.url_foto);
      formData.append("responsable", this.registro.responsable);
      this.axios
        .post(`${this.host}/api/admin/add/docente`, formData)
        .then((res) => {
          // desbloqueo el boton de submit
          this.loading = false;
          console.debug(res);
          alert("Registro exitoso");
          this.$router.push("/admin/indexDocentes");
        })
        .catch((e) => {
          this.loading = false;
          alert(
            "Ocurrio un error al registrar, pongase contacto con el administrador"
          );
        });
    },
  },
};
</script>

<style></style>
