<template>
  <div class="container-fluid custom-container">
    <!-- title -->
    <div class="row">
      <div class="col">
        <h2 class="my-4">Listado de Docentes</h2>
      </div>
    </div>

    <!-- list -->
    <div class="row">
      <div class="col">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Usuario</th>
              <th scope="col">Nombres</th>
              <th scope="col">Identificación</th>
              <th scope="col">Email</th>
              <th scope="col">Estado</th>
              <th scope="col">Sede</th>
              <th scope="col">Fecha Registro</th>
              <th scope="col">Rol</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <template v-for="docente in docentes">
              <tr :key="docente.id">
                <th>{{ docente.usuario }}</th>
                <td>{{ docente.p_nombre }} {{ docente.p_apellido }}</td>
                <td>{{ docente.dni }}</td>
                <td>{{ docente.email }}</td>
                <td>{{ docente.status }}</td>
                <td>{{ docente.sede }}</td>
                <td>{{ docente.fecha_registro }}</td>
                <td>{{ docente.rol }}</td>
                <td class="d-flex flex-column">
                  <router-link
                    :to="{
                      name: 'editDocente',
                      params: { id: docente.id },
                    }"
                    class="btn btn-warning"
                    >Editar</router-link
                  >
                  <a
                    class="btn btn-danger my-3"
                    @click="deleteDocente(docente.id)"
                    v-if="identity.id_rol === 1"
                    >Borrar
                  </a>
                  <router-link
                    :to="{
                      name: 'detailDocente',
                      params: { id: docente.id },
                    }"
                    class="btn btn-info"
                    >Ver más</router-link
                  >
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import RutaService from "../../services/RutaService";
import UsuarioService from "../../services/UsuarioService";

export default {
  data() {
    return {
      docentes: [],
      host: RutaService.getUrl(),
      identity: null,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getDocentes();
  },
  methods: {
    getDocentes() {
      let requestUrl = `${this.host}/api/admin/docentes`;
      this.axios
        .get(this.host + "/api/admin/docentes")
        .then((response) => {
          this.docentes = response.data;
        })
        .catch((e) => {
          alert(
            "ha ocurrido un error al listar los usuarios, pongase en contacto con el soporte"
          );
        });
    },
    deleteDocente(id) {
      var sure = confirm("¿Está seguro de querer eliminar éste docente?");

      if (sure == true) {
        this.axios
          .delete(this.host + `/api/admin/delete/docente/${id}`)
          .then((response) => {
            let i = this.docentes.map((item) => item.id).indexOf(id);
            this.docentes.splice(i, 1);
            alert(response.data.message);
          });
      }
    },
  },
};
</script>
<style lang="scss">
.custom-container {
  max-width: 1366px;
}
</style>