<template>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="mb-3">Actualizar Docente</h1>
      </div>
      <div class="text-right col">
        <routerLink to="/admin/indexDocentes" class="btn btn-danger"
          >Volver</routerLink
        >
      </div>
    </div>
    <form @submit.prevent="updateDocente">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label for="firstName">Primer nombre</label>
            <input
              v-model="docente.p_nombre"
              type="text"
              class="form-control"
              id="firstName"
              required
            />
            <br />
          </div>
          <div class="col">
            <label for="middleName">Segundo nombre</label>
            <input
              v-model="docente.s_nombre"
              type="text"
              class="form-control"
              id="middleName"
            />
            <br />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="firstLastName">Primer apellido</label>
            <input
              v-model="docente.p_apellido"
              type="text"
              class="form-control"
              id="firstLastName"
              required
            />
          </div>
          <div class="col">
            <label for="secondLastName">Segundo apellido</label>
            <input
              v-model="docente.s_apellido"
              type="text"
              class="form-control"
              id="secondLastName"
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="dni">Identificación</label>
        <input
          v-model="docente.dni"
          type="text"
          class="form-control"
          id="dni"
          required
        />
      </div>

      <div class="form-group">
        <label for="fechaNac">Fecha de Nacimiento</label>
        <input
          v-model="docente.fecha_nacimiento"
          type="date"
          class="form-control"
          id="fechaNac"
          max="2016-12-31"
          required
        />
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-3">
            <label for="codArea">Código de área</label>
            <input
              v-model="docente.cod_area"
              type="number"
              class="form-control"
              id="codArea"
              placeholder="000"
              min="0"
              required
            />
          </div>
          <div class="col-9">
            <label for="phoneNumber">Número de teléfono</label>
            <input
              v-model="docente.numero_telf"
              type="number"
              class="form-control"
              id="phoneNumber"
              placeholder="000-000"
              min="0"
              required
            />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect4">Estado</label>
        <select
          v-model="docente.estado"
          class="form-control"
          id="exampleFormControlSelect4"
          required
        >
          <option value="ACTIVO">Activo</option>
          <option value="INACTIVO">Inactivo</option>
        </select>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label for="exampleInputEmail1">Correo electrónico</label>
          <input
            v-model="docente.correo"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            required
          />
        </div>

        <div class="form-group col-6">
          <label for="">Dirección</label>
          <input
            type="text"
            class="form-control"
            v-model="docente.direccion"
            name=""
            id=""
            placeholder=""
          />
        </div>
      </div>
      <div class="form-group">
        <label for="dni">Descripción de modificación</label>
        <textarea
          id="descrip_modif"
          rows="3"
          v-model="docente.descripcion"
          class="form-control"
          placeholder="Ej: Se ha modificado el nombre de usuario."
          required
        ></textarea>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <label for="foto">Cargar Foto</label>
          <div class="container">
            <!-- Form foto -->
            <div class="row">
              <div class="col-4">
                <input
                  type="file"
                  accept="image/jpeg, image/bmp, image/png"
                  @change="previewUpload($event, 'foto')"
                  class="form-control-file"
                  name="foto"
                  id="foto"
                  placeholder=""
                  aria-describedby="fileHelpId"
                />
              </div>
            </div>
            <!-- foto cargada -->
            <div class="row">
              <div class="my-4 col-4" v-if="url_foto">
                <img class="img-fluid" :src="getUrlImg(url_foto)" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <div class="form-check">
            <label class="form-check-label">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id=""
                v-model="docente.responsable"
              />
              Responsable de sede
            </label>
          </div>
        </div> -->
      </div>
      <br />
      <button type="submit" class="btn btn-primary btn-block">
        Actualizar
      </button>
    </form>
  </div>
</template>

<script>
import RutaService from "../../services/RutaService";
import UsuarioService from "../../services/UsuarioService";

export default {
  data() {
    return {
      host: RutaService.getUrl(),
      token: {},
      docente: {},
      url_foto: null,
      identity: null,
    };
  },
  created() {
    this.getDocente();
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    getDocente() {
      this.axios
        .get(this.host + `/api/admin/edit/docente/${this.$route.params.id}`)
        .then((response) => {
          this.docente = response.data;
          this.url_foto = response.data.img_foto;
        });
    },
    getUrlImg(file) {
      let img = "";
      if (typeof file === "string" || file instanceof String) {
        img = file;
      } else {
        img = URL.createObjectURL(file);
      }
      return img;
    },
    previewUpload(e, target) {
      const file = e.target.files[0];
      this.url_foto = target === "foto" ? file : this.url_foto;
    },
    verifyResponse(data) {
      let status;

      if (data.status != "error") {
        this.status = "success";
        alert(data.message);

        this.$router.replace("/admin/indexDocentes");
      } else {
        this.status = "error";
        alert(data.message);
      }
    },
    updateDocente() {
      let formData = new FormData();
      formData.append("p_nombre", this.docente.p_nombre);
      formData.append("s_nombre", this.docente.s_nombre);
      formData.append("p_apellido", this.docente.p_apellido);
      formData.append("s_apellido", this.docente.s_apellido);
      formData.append("dni", this.docente.dni);
      formData.append("fecha_nacimiento", this.docente.fecha_nacimiento);
      formData.append("cod_area", this.docente.cod_area);
      formData.append("numero_telf", this.docente.numero_telf);
      // formData.append("id_lugar", this.registro.lugar);
      formData.append("correo", this.docente.correo);
      formData.append("estado", this.docente.estado);
      formData.append("nombre_usuario", this.docente.nombre_usuario);
      formData.append("clave_usuario", this.docente.clave_usuario);
      formData.append("direccion", this.docente.direccion);
      formData.append("descripcion", this.docente.descripcion);
      formData.append("img_foto", this.url_foto);
      formData.append("responsable", this.docente.responsable);
      this.axios
        .post(
          // this.host + `/api/admin/update/docente/${this.$route.params.id}`,
          `${this.host}/api/admin/update/docente/${this.$route.params.id}`,
          formData
          // this.docente
        )
        .then((response) => {
          this.verifyResponse(response.data);
          // console.log(response.data);
        });
    },
  },
};
</script>

<style></style>
