<template>
  <div class="container certificado-page">
    <title-component title="Solicitar Certificado" :back="true" />
    <form @submit.prevent="newCertificado()" enctype="multipart/form-data">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="nombre_certificado">Tipo de certificado *</label>
              <select
              required
                class="form-control"
                name=""
                id=""
                v-model="certificado.tipo"
              >
                <option :value="undefined" disabled>
                  Seleccione el tipo de certificado
                </option>
                <option value="estudio">Certificado de estudio</option>
                <option value="paz y salvo">Certificado de paz y salvo</option>
              </select>
            </div>
          </div>
          <!-- Listado de estudiantes -->
          <div class="col-6">
            <div class="form-group">
              <label for="">Seleccione el estudiante *</label>
              <select
                class="form-control"
                v-model="certificado.estudiante_selected"
                required
              >
                <option :value="undefined" disabled>
                  Seleccione un estudiante
                </option>
                <option value="no_selected" v-if="identity.id_rol !== 4">Estudiante no matriculado</option>
                <template v-for="(item, i) in estudiantes">
                  <option :key="i" :value="item" v-if="identity.id_rol === 4 && item.acudiente.id === identity.id_persona">
                    {{ item.estudiante.p_nombre }}
                    {{ item.estudiante.p_apellido }}
                  </option>
                  <option :key="i" :value="item" v-else-if="identity.id_rol === 2">
                    {{ item.estudiante.p_nombre }}
                    {{ item.estudiante.p_apellido }} || {{item.centro.nombre}} - {{item.sede.nombre}}
                  </option>
                </template>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="">Descripción *</label>
              <textarea
                v-model="certificado.descripcion"
                class="form-control"
                name=""
                id=""
                rows="3"
                required
              ></textarea>
            </div>
          </div>
        </div>
        <template>
          <div
            class="row"
            v-if="certificado.estudiante_selected === 'no_selected'"
          >
            <div class="col-12">
              <div class="card">
                <div class="card-header">Datos del estudiante</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="">Primer nombre *</label>
                        <input
                          type="text"
                          class="form-control"
                          name=""
                          required
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.p_nombre"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="">Segundo nombre</label>
                        <input
                          type="text"
                          class="form-control"
                          name=""
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.s_nombre"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="">Primer apellido *</label>
                        <input
                        required
                          type="text"
                          class="form-control"
                          name=""
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.p_apellido"
                        />
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="">Segundo apellido</label>
                        <input
                          type="text"
                          class="form-control"
                          name=""
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.s_apellido"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- identificacion -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Identificación *</label>
                        <input
                          required
                          type="number"
                          class="form-control"
                          name=""
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.dni"
                        />
                      </div>
                    </div>

                    <!-- centro -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Centro educativo *</label>

                        <select
                          class="form-control"
                          name=""
                          id=""
                          required
                          v-model="certificado.centro"
                          @change="getSedesByCentro()"
                        >
                          <option :value="undefined" disabled>
                            Seleccione un centro
                          </option>
                          <option
                            v-for="centro in centros"
                            :key="centro.identificacion"
                            :value="centro"
                          >
                            {{ centro.nombre }}
                          </option>
                        </select>
                      </div>
                    </div>

                    <!-- sede -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Sede *</label>
                        <select
                          class="form-control"
                          name=""
                          id=""
                          v-model="certificado.sede"
                          required
                          @change="getGrados()"
                        >
                          <option :value="undefined" disabled>
                            Seleccione una sede
                          </option>
                          <option
                            v-for="sede in sedes"
                            :key="sede.identificacion"
                            :value="sede"
                          >
                            {{ sede.nombre }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- grado -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Grado *</label>
                        <select
                          class="form-control"
                          name=""
                          v-model="certificado.grado"
                          id=""
                          required
                          @change="getAreasByGrado(certificado.grado)"
                        >
                          <option disabled :value="undefined">
                            Seleccione un grado
                          </option>
                          <option
                            v-for="grado in grados"
                            :key="grado.id"
                            :value="grado"
                          >
                            {{ grado.nombre }}
                          </option>
                        </select>
                      </div>
                    </div>
                    <!-- fecha de inicio -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Fecha de inicio *</label>
                        <input
                        required
                          type="date"
                          class="form-control"
                          name=""
                          id=""
                          aria-describedby="helpId"
                          placeholder=""
                          v-model="certificado.fecha_inicio"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 col-12" v-if="certificado.tipo === 'estudio'">
              <div class="card">
                <div class="card-header">Calificaciones</div>
                <div class="card-body">
                  <div
                    class="row align-items-center"
                    v-for="(nota, i) in notas"
                    :key="i"
                  >
                    <!-- area -->
                    <div class="col">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="">Area *</label>
                          <select
                            class="form-control"
                            name=""
                            id=""
                            required
                            v-model="nota.area"
                          >
                            <option
                              :value="area"
                              v-for="area in getAreas"
                              :key="area.id"
                            >
                              {{ area.nombre }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- nota -->
                    <div class="col">
                      <div class="form-group">
                        <label for="">Nota *</label>
                        <input
                          type="number"
                          required
                          class="form-control"
                          name=""
                          id=""
                          v-model="nota.nota_parcial"
                          aria-describedby="helpId"
                          placeholder=""
                        />
                      </div>
                    </div>
                    <!-- actions -->
                    <div class="col-auto">
                      <a
                        name=""
                        id=""
                        class="btn btn-primary"
                        role="button"
                        @click.prevent="addNota()"
                        >Añadir</a
                      >
                    </div>
                    <div class="col-auto">
                      <a
                        name=""
                        id=""
                        class="btn btn-danger"
                        href="#"
                        role="button"
                        @click.prevent="removeNota(i)"
                        >Eliminar</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>

        <!-- submit -->
        <template v-if="certificado.estudiante_selected === 'no_selected'">
          <div class="mt-4 row justify-content-center">
            <div class="col-auto">
              <button
                name=""
                id=""
                class="btn btn-primary"
                @click.prevent="generarPdf()"
                role="button">
                Generar Certificado
              </button>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="mt-4 row justify-content-center">
            <div class="col-auto">
              <button :disabled="disabledForm" class="btn btn-primary">
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                  v-if="loading"
                ></span>
                <span>Enviar</span>
              </button>
            </div>
          </div>
        </template>
      </div>
    </form>
    <template v-if="certificado.estudiante_selected === 'no_selected'">
      <div class="html-jspdf" style="max-width: 550px">
        <div
          class="container"
          id="xyz"
          v-if="
            certificado.centro !== undefined &&
            certificado.sede !== undefined &&
            certificado.grado !== undefined &&
            certificado.centro !== undefined
          "
        >
        <img :src="certificado.centro.img_logo" class="img-logo-centro" alt="">
          <!-- header -->
          <div class="row justify-content-center">
            <div class="col-auto text-center">
              <div class="institute-info">
                <div class="name text-uppercase">
                  centro educativo
                  {{ certificado.centro.nombre }}
                </div>
                <div class="date">
                  Resolución
                  {{ certificado.centro.resolucion }}
                </div>
                <div class="dane">
                  DANE
                  {{ certificado.centro.dane }}
                </div>
                <div class="nit">
                  NIT
                  {{ certificado.centro.nit }}
                </div>
                <div class="nit">
                  {{ certificado.centro.direccion }}
                </div>
              </div>
            </div>
          </div>

          <!-- subheader -->
          <div class="text-center row">
            <div class="col-12">
              <p>
                El(La) Director(a) del CENTRO EDUCATIVO
                {{ certificado.centro.nombre }}, del
                {{ certificado.centro.direccion }}
              </p>
            </div>
            <div class="col-12">
              <p class="font-weight-bold">CERTIFICA</p>
            </div>
          </div>

          <!-- contenido: estudio-->
          <template v-if="certificado.tipo === 'estudio'">
            <!-- body -->
            <div class="my-2 row">
              <div class="col">
                <p class="text-justify">
                  Que el(la) estudiante
                  {{ certificado.p_nombre }}
                  {{ certificado.s_nombre }}
                  {{ certificado.p_apellido }}
                  {{ certificado.s_apellido }}
                  identificado(a) con documento número
                  {{ certificado.dni }} curso y aprobó en este centro educativo,
                  {{ certificado.centro.nombre }}
                  sede
                  {{ certificado.sede.nombre }}, el grado
                  {{ certificado.grado.nombre }}, durante el año lectivo
                  {{ getYear(certificado.fecha_inicio) }}
                  , cumpliendo con lo establecido en las leyes 115 del 08 de
                  febrero de 1994 y la ley 715 de diciembre de 2001 y su decreto
                  reglamentario 1290 obteniendo la siguiente valoración.
                </p>
              </div>
            </div>

            <!-- notas -->
            <div class="row" v-if="loadedAreas">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Áreas Fundamentales</th>
                      <th>IHS</th>
                      <th>NOTAS PARCIALES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(nota, i) in notas" :key="i">
                      <td>
                        {{ nota.area.nombre }}
                      </td>
                      <td>
                        {{ nota.area.intensidad }}
                      </td>
                      <td>
                        {{ nota.nota_parcial }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>HIS: Intensidad horaria Semanal</p>
              </div>
            </div>

            <!-- notas footer -->
            <div class="row">
              <div class="col-12">
                <p class="">
                  E= 4.6 a 5 B= 4.0 a 4.5 A= 3.0 a 3.9 I= 1.0 a 2.9 = Bajo
                </p>
                <p class="">
                  Para constancia se firma en
                  {{ certificado.centro.direccion }}, el día {{ getDateEs() }}.
                </p>
              </div>
            </div>
          </template>

          <!-- contenido: paz y salvo -->
          <template v-else>
            <div class="row">
              <div class="col">
                <p class="text-justify">
                  Que el(la) estudiante
                  {{ certificado.p_nombre }}
                  {{ certificado.s_nombre }}
                  {{ certificado.p_apellido }}
                  {{ certificado.s_apellido }}
                  identificado(a) con documento número
                  {{ certificado.dni }} esta matriculada en el centro educativo
                  {{ certificado.centro.nombre }}
                  sede
                  {{ certificado.sede.nombre }}, cursando el grado
                  {{ certificado.grado.nombre }}, desde el
                  {{ parseDate(certificado.fecha_inicio) }}.
                </p>
                <p>
                  Encontrándose a paz y salvo por todo concepto con el centro
                  educativo.
                </p>
                <p>
                  Para constancia se firma el día
                  {{ getDateEs() }}.
                </p>
                </p>
              </div>
            </div>
          </template>

          <!-- Firmas footer -->
          <div class="mt-2 row">
            <div class="col">
              <template v-if="firmas">
                <img :src="certificado.centro.img_firma" class="img-firma" alt="" />
              </template>
              <template v-else> <p>___________</p> </template>
              <p class="">
                {{ certificado.centro.nombre_autorizado }}
              </p>
              <p class="">
                C.C.
                {{ certificado.centro.dni_director }},
                {{ certificado.centro.lugar_expedicion }}.
              </p>
              <p class="">{{ certificado.centro.cargo }}</p>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { jsPDF } from "jspdf";
import TitleComponent from "../../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../../mixins/generalMixin";
import UsuarioService from "../../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  components: { TitleComponent },
  data() {
    return {
      certificado: {},
      tipos_certificados: [],
      docs: {},
      estudiantes: [],
      estudiante_selected: {},
      loading: false,
      identity: "",
      sede: "",
      centros: [],
      sedes: [],
      notas: [],
      grados: [],
      areas: [],
      loadedAreas: false,
      firmas: false,
    };
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getEstudiantes();
    this.getCentros();
    // this.getGrados();
    this.getSede(this.identity);
  },
  methods: {
    generarPdf() {
      this.firmas = confirm("¿Desea firmar el documento de forma digital?")
        ? true
        : false;
      let doc = new jsPDF("portrait", "pt", "a4");
      doc.html(document.getElementById("xyz"), {
        x: 20,
        y: 20,
        callback: () => {
          doc.save("Certificado.pdf");
        },
      });
    },
    getAreasByGrado(grado) {
      const { id } = grado;
      this.axios
        .get(`${this.host}/api/docadmin/grado/${id}/areas`)
        .then((res) => {
          console.debug(res);
          this.areas = res.data.data;
          this.notas = [
            {
              area: {
                nombre: "",
                intensidad: "",
                nota_parcial: "",
              },
            },
          ];
          this.loadedAreas = "true";
        })
        .catch((e) => {
          console.debug(e);
          this.areas = [];
        });
    },
    getGrados() {
      this.token = UsuarioService.getToken();
      const config = {
        headers: {
          "content-type": "application/x-www-form-urlencoded;charset=utf-8",
          Authorization: this.token,
        },
      };
      this.axios
        // ${this.host}/api/docadmin/sede/{id}/grados/all
        // ${this.host}/api/docadmin/grados/all
        .get(
          `${this.host}/api/docadmin/sede/${this.certificado.sede.id}/grados/all`,
          config
        )
        .then((res) => {
          console.debug(res);
          this.grados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          this.grados = [];
        });
    },
    addNota() {
      this.notas.push({
        area: {
          nombre: "",
          intensidad: "",
          nota_parcial: "",
        },
      });
    },
    removeNota(id) {
      this.notas.splice(id, 1);
    },
    getSedesByCentro() {
      this.grados = [];
      const { centro } = this.certificado;
      this.axios
        .get(`${this.host}/api/docadmin/centro/${centro.identificacion}/sedes`)
        .then((res) => {
          this.sedes = res.data.data;
        })
        .catch((e) => {
          this.sedes = [];
        });
    },
    getCentros() {
      this.axios
        .get(`${this.host}/api/admin/centros`)
        .then((res) => {
          this.centros = res.data;
        })
        .catch((e) => {
          this.centros = [];
        });
    },
    getYear(date) {
      const fullDate = new Date(date);
      return fullDate.getFullYear();
    },
    getDateEs() {
      var fecha = new Date();
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
    parseDate(date) {
      var fecha = new Date(date);
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
    newCertificado() {
      const { tipo, estudiante_selected, descripcion } = this.certificado;
      const newCertificado = {
        tipo,
        estudiante_selected,
        descripcion,
        id_usuario: this.identity.id_user,
      };
      this.axios
        .post(`${this.host}/api/docadmin/add/certificado`, newCertificado)
        .then((res) => {
          console.debug(res);
          alert("Su solicitud académica fue enviada con éxito");
          this.$router.push("/docenteAdministrativo/solicitudes");
          this.tipos_certificados = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
          alert("problemas creando el nuevo usuario");
        });
    },
    listTiposCertificado() {
      console.debug("listar tipos de certificado");
      this.axios
        .get(`${this.host}/api/docadmin/certificados/tipos`)
        .then((res) => {
          console.debug(res);
          alert("problemas al listar los tipos de certificado");
          // this.tipos_certificados = res.data.data
        })
        .catch(() => {
          alert("problemas al listar los tipos de certificado");
        });
    },
    previewFilesDocs(e) {
      this.docs = e.target.files[0];
      console.debug(e.target.files[0]);
    },
    getEstudiantes() {
      // ${this.host}/api/docadmin/acudiente/4/estudiantes
      // ${this.host}/api/docadmin/usuarios/estudiantes
      this.axios
        .get(`${this.host}/api/docadmin/usuarios/estudiantes`)
        .then((res) => {
          console.debug(res);
          this.estudiantes = res.data.data;
        });
    },
    prueba() {
      console.debug("hey");
    },
  },
  computed: {
    getAreas() {
      return this.areas;
    },
    disabledForm() {
      const nombre = this.certificado.nombre_certificado === undefined;
      const estudiante = this.certificado.estudiante_selected === undefined;
      const descripcion = this.certificado.descripcion === undefined;
      return false;
    },
  },
};
</script>
<style lang="scss">
.certificado-page {
  .html-jspdf {
    position: fixed;
    left: -100%;
    .firm-img {
      width: 100px;
      height: auto;
    }
  }
  #xyz {
    position: relative;
    .img-logo-centro {
      position: absolute;
      height: 100px;
      width: auto;
      top: 0;
      left: 0;
    }
  }
}
.img-firma {
  height: 50px;
  width: auto;
}
</style>
