<template>
    <div class="container">
        <TitleComponent title="Añadir certificado" />
    </div>
</template>

<script>
import TitleComponent from "../../../../components/Commons/TitleComponent";
export default {
    components: {
        TitleComponent
    }
};
</script>

<style></style>
