<template>
  <div class="container">
    <acudiente-sub-nav />
    <TitleComponent title="Solicitar certificados" />
    <List>
      <template slot="table-head">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </template>
      <template slot="table-body">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </template>
    </List>
  </div>
</template>

<script>
import List from "../../../../components/Commons/List.vue";
import AcudienteSubNav from "../../../../components/Commons/AcudienteSubNav.vue";
import TitleComponent from "../../../../components/Commons/TitleComponent";
export default {
  components: {
    TitleComponent,
    List,
    AcudienteSubNav,
  },
};
</script>

<style>
</style>