<template>
    <div class="container">
        <form @submit.prevent="addRol" class="col-md-6 ml-0 pl-0">
            <div class="form-group">   
                <label for="primer_nombre">Nombre de Rol</label>
                <input v-model="rol.nombre" type="text" name="primer_nombre"  placeholder="Ingrese nombre de rol" class="form-control" required>                    
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>        
        </form>
    </div>
</template>

<script>
import RutaService from '../../services/RutaService';

    export default {
        mounted(){
            console.log('Register component mounted');
        },
        data(){
            return {
                host: RutaService.getUrl(),
                rol: {}
            }
        },
        methods: {
            addRol() {
                this.axios
                    .post(this.host + '/api/rol/add', this.rol)
                    .then(response => (
                        // this.$router.push({nombre: 'home'})
                        console.log(response.data)
                    ))
                    .catch(error => console.log(error))
                    .finally(() => this.loading = false)
            }
        }
    };
</script>
