<template>
    <div class="container">
        <h1 class="text-center">Editar Rol</h1>
        <form @submit.prevent="updateRol" class="col-md-6 ml-0 pl-0">
            <div class="form-group">   
                <label for="primer_nombre">Nombre de Rol</label>
                <input v-model="rol.nombre" type="text" name="primer_nombre"  placeholder="Ingrese nombre de rol" class="form-control" required>                    
            </div>
            <button type="submit" class="btn btn-primary btn-block">Modificar</button>        
        </form>
    </div>
</template>

<script>
import RutaService from '../../services/RutaService';

    export default {
        data() {
            return {
                host: RutaService.getUrl(),
                rol: {}
            }
        },
        created() {
            this.axios
                .get(this.host + `/api/rol/edit/${this.$route.params.id}`)
                .then((response) => {
                    this.rol = response.data;
                    // console.log(response.data);
                });
        },
        methods: {
            updateRol() {
                this.axios
                    .put(this.host + `/api/rol/update/${this.$route.params.id}`, this.rol)
                    .then((response) => {
                        // this.$router.push({name: 'home'});
                        console.log(response.data);
                    });
            }
        }
    }
</script>