<template>
    <div class="container">

        <h1 class="text-center">Listado de Roles</h1>

        <div class="row m-auto">
            <br>
            <router-link to="/registerRol" class="btn btn-outline-primary">
                Registrar
            </router-link>            
        </div>
        <br><br>
        <div class="row">
            <table class="table"> 
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="rol in roles" :key="rol.id">
                    <th>{{ rol.id }}</th>
                    <td>{{ rol.nombre }}</td>        
                    <td><router-link :to="{name:'edit',params:{ id: rol.id }}" class="btn btn-warning">Editar</router-link></td>
                    <td><a class="btn btn-danger" @click="deleteRol(rol.id)">Borrar</a></td>  
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</template>

<script>
import RutaService from '../../services/RutaService';

    export default {
        data() {
            return {
                host: RutaService.getUrl(),
                roles: []
            }
        },
        created() {
            this.axios
                .get(this.host + '/api/roles')
                .then(response => {
                    this.roles = response.data;
                });
        },
        methods: {
            deleteRol(id) {
                this.axios
                    .delete(this.host + `/api/rol/delete/${id}`)
                    .then(response => {
                        let i = this.roles.map(item => item.id).indexOf(id); // find index of your object
                        this.roles.splice(i, 1)
                    });
            }
        }
    }
</script>
