<template>
  <div class="container">
    <TitleComponent title="Nueva solicitud de certificado" />
  </div>
</template>

<script>
import TitleComponent from "../../../../components/Commons/TitleComponent";
export default {
  components: {
    TitleComponent,
  },
};
</script>

<style></style>
