<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Áreas</h1>
      </div>
      <div class="col-auto">
        <a name="" id="" class="btn btn-primary" href="#" role="button"
          >Nueva área</a
        >
      </div>
    </div>
    <!-- areas -->
    <div class="row">
      <table class="table">
        <!-- tabla head -->
        <thead class="text-center thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Carga horaria</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <!-- tabla body -->
        <tbody class="text-center">
          <tr v-for="(user, i) in 5" :key="i">
            <td>area {{ i }}</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
              explicabo dolorem cumque quam ex inventore iure voluptatibus. A
              repudiandae dolorum, eaque officiis rerum, impedit molestiae
              necessitatibus aliquid sequi numquam eius!
            </td>
            <!-- actions -->
            <td>
              <router-link
                :to="`/docente/edit/usuario/${user.id}`"
                class="btn btn-warning"
              >
                <span>Editar</span>
              </router-link>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger"
                @click="deleteUsuario(user.id)"
              >
                Borrar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- add area -->
    <div class="my-4 row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2>Añadir área</h2>
          </div>
          <div class="card-body">
            <form @submit.prevent="cancelarMatricula()">
              <div class="form-group">
                <!-- user info  -->
                <div class="row">
                  <!-- Nombre -->
                  <div class="col-auto">
                    <div class="form-group">
                      <label for="nombre_area">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nombre_area"
                        id="nombre_area"
                        aria-describedby="nombre_area"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <!-- Carga Horaria -->
                  <div class="col-auto">
                    <div class="form-group">
                      <label for="carta_horaria">Carga Horaria</label>
                      <input
                        type="number"
                        class="form-control"
                        name="carta_horaria"
                        id="carta_horaria"
                        aria-describedby="carta_horaria"
                        placeholder=""
                      />
                    </div>
                  </div>
                </div>

                <!-- submit -->
                <div class="mt-3 row justify-content-end">
                  <div class="col-auto">
                    <button type="reset" class="btn btn-outline-danger">
                      cancelar
                    </button>
                  </div>
                  <div class="col-auto">
                    <button
                      type="submit"
                      :disabled="loading"
                      class="btn btn-primary"
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                        v-if="loading"
                      ></span>
                      <span>Enviar</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
