<template>
  <div class="container">
    <!-- menu -->
    <!-- titulo -->
    <div class="row">
      <div class="col">
        <h1>Ficha unica de matrícula o renovación</h1>
      </div>
    </div>

    <!-- form init -->
    <div class="row mb-3">
      <!-- sede -->
      <div class="col-4">
        <label for="sede">Sede</label>
        <input
          v-model="sede"
          type="text"
          class="form-control"
          name="sede"
          id="sede"
        />
      </div>
      <!-- matricula_status -->
      <div class="col-4">
        <label for="matricula_status">Estado de la matricula</label>
        <input
          v-model="matricula_status"
          type="text"
          class="form-control"
          name="matricula_status"
          id="matricula_status"
        />
      </div>
      <!-- anho_matricula -->
      <div class="col-4">
        <label for="anho_matricula">Año de la matricula</label>
        <input
          v-model="anho_matricula"
          type="text"
          class="form-control"
          name="anho_matricula"
          id="anho_matricula"
        />
      </div>
    </div>
    <div class="row mb-3">
      <!-- info_personal -->
      <div class="col-6">
        <label for="info_personal">Información personal</label>
        <input
          v-model="info_personal"
          type="text"
          class="form-control"
          name="info_personal"
          id="info_personal"
        />
      </div>
      <!-- id_documento -->
      <div class="col-6">
        <label for="id_documento"> Documento de identidad </label>
        <input
          v-model="id_documento"
          type="text"
          class="form-control"
          name="id_documento"
          id="id_documento"
        />
      </div>
    </div>
    <div class="row mb-3">
      <!-- direccion -->
      <div class="col">
        <label for="direccion">Dirección</label>
        <input
          v-model="direccion"
          type="text"
          class="form-control"
          name="direccion"
          id="direccion"
        />
      </div>

      <!-- info_salud -->
      <div class="col">
        <label for="info_salud">Información de salud</label>
        <input
          v-model="info_salud"
          type="text"
          class="form-control"
          name="info_salud"
          id="info_salud"
        />
      </div>
    </div>
    <div class="row mb-3">
      <!-- info_madre -->
      <div class="col">
        <label for="info_madre">Información de madre</label>
        <input
          v-model="info_madre"
          type="text"
          class="form-control"
          name="info_madre"
          id="info_madre"
        />
      </div>
      <!-- info_padre -->
      <div class="col">
        <label for="info_padre">Información de padre</label>
        <input
          v-model="info_padre"
          type="text"
          class="form-control"
          name="info_padre"
          id="info_padre"
        />
      </div>
      <!-- info_acudiente -->
      <div class="col">
        <label for="info_acudiente">Información del acudiente</label>
        <input
          v-model="info_acudiente"
          type="text"
          class="form-control"
          name="info_acudiente"
          id="info_acudiente"
        />
      </div>
    </div>
    <div class="row mb-3">
      <!-- info_familiar -->
      <div class="col">
        <label for="info_familiar">Información familiar</label>
        <input
          v-model="info_familiar"
          type="text"
          class="form-control"
          name="info_familiar"
          id="info_familiar"
        />
      </div>
      <!-- info_academica -->
      <div class="col">
        <label for="info_academica">Información academica</label>
        <input
          v-model="info_familiar"
          type="text"
          class="form-control"
          name="info_familiar"
          id="info_familiar"
        />
      </div>
    </div>
    <div class="row mb-3 justify-content-center">
      <!-- religion_check -->
      <div class="col-12 text-center">
        <label for="">
          ¿Esta deacuerdo con que su hijo(a) reciba la catedra de religion que
          ofrece el centro Educativo?
        </label>
      </div>
      <div class="col-auto">
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="customRadioInline1"
            name="customRadioInline1"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadioInline1"
            >Si</label
          >
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input
            type="radio"
            id="customRadioInline2"
            name="customRadioInline1"
            class="custom-control-input"
          />
          <label class="custom-control-label" for="customRadioInline2"
            >No</label
          >
        </div>
      </div>
    </div>

    <!-- documentos -->
    <div class="row my-4">
      <div class="col">
        <div class="card">
          <div class="card-header">Documentos</div>
          <div class="card-body">
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              Fotocopia de cedula de mamá
            </a>
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              Fotocopia de cedula de papa
            </a>
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              Notas
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- list -->
    <div class="row">
      <div class="col">
        <!--  -->
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- recuerde duda -->
    <div class="row my-4">
      <div class="col">
        <div class="card">
          <div class="card-header">Recuerde</div>
          <div class="card-body">
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              Firma acudiente
            </a>
            <a name="" id="" class="btn btn-primary" href="#" role="button">
              Firma estudiante
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Cancelación -->
    <div class="row my-4">
      <div class="col">
        <div class="card">
          <div class="card-header">Cancelar matricula</div>
          <div class="card-body">
            <form @submit.prevent="cancelarMatricula()">
              <div class="form-group">
                <!-- user info  -->
                <div class="row">
                  <!-- fecha de cancelacion -->
                  <div class="col-auto">
                    <label for="datepicker">Fecha de nacimiento</label>
                    <input
                      v-model="fechaNac"
                      required
                      class="form-control"
                      data-date-format="dd/mm/yyyy"
                      type="date"
                      id="datepicker"
                      :max="today"
                    />
                  </div>
                  <!-- motivo -->
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Motivo</label>
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                  <!-- destino -->
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Destino</label>
                      <textarea
                        class="form-control"
                        id="exampleFormControlTextarea1"
                        rows="3"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <!-- submit -->
                <div class="row justify-content-end mt-3">
                  <div class="col-auto">
                    <button type="reset" class="btn btn-outline-danger">
                      cancelar
                    </button>
                  </div>
                  <div class="col-auto">
                    <button
                      type="submit"
                      :disabled="loading"
                      class="btn btn-primary"
                    >
                      <span
                        class="spinner-border spinner-border-sm"
                        role="status"
                        aria-hidden="true"
                        v-if="loading"
                      ></span>
                      <span>Enviar</span>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- submit info -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <a name="" id="" class="btn btn-primary" href="#" role="button"
          >Enviar</a
        >
      </div>
      <div class="col-auto">
        <a name="" id="" class="btn btn-primary" href="#" role="button"
          >Descargar</a
        >
      </div>
      <div class="col-auto">
        <a name="" id="" class="btn btn-primary" href="#" role="button"
          >Imprimir</a
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    cancelarMatricula() {
      console.debug("cancelando matricula");
    },
  },
};
</script>

<style></style>
