<template>
    <div class="container">
        <div class="row align-center">
            <div class="col">
                <h1 class="mb-3">Estudiantes matriculados</h1>
            </div>
            <div class="col-4">
                <select class="custom-select">
                    <option selected>Seleccione el periodo academico</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <!-- tabla head -->
                <thead class="thead-dark text-center">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>

                <!-- tabla body -->
                <tbody class="text-center">
                    <tr v-for="(user, i) in 5" :key="i">
                        <td>estudiante {{ i }}</td>
                        <td>
                            <router-link
                                tag="a"
                                :to="
                                    `/docente/grado/${$route.params.id}/estudiantes-matriculados/${i}`
                                "
                                class="btn btn-primary"
                            >
                                Ver datos
                            </router-link>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
};
</script>

<style></style>
