<template>
  <div class="container">
    <!-- titulo -->
    <div class="row">
      <div class="col">
        <h1>Grado: {{ $route.params.id }}</h1>
      </div>
    </div>
    <!-- contenido -->
    <div class="row">
      <div class="col-12">
        <h1>detalles del grado</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
