<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="mb-3">Grados</h1>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <!-- tabla head -->
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <!-- tabla body -->
        <tbody class="text-center">
          <tr v-for="(grado, i) in grados" :key="i">
            <td>
              {{ grado.nombre }}
            </td>
            <!-- actions -->
            <td>
              <router-link
                :to="`/docente/grado/${grado.id}`"
                class="btn btn-warning"
              >
                <span>Ver</span>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import generalMixin from "../../../mixins/generalMixin";
export default {
  mixins: [generalMixin],
  data() {
    return {
      grados: [],
    };
  },
  methods: {
    // show
    listGrados() {
      this.axios
        .get(this.host + "/api/docadmin/grados")
        .then((res) => {
          let { data } = res;
          this.grados = data;
        })
        .catch((e) => {
          console.debug("Error al listar grados", e);
        });
    },
  },
  created() {
    this.listGrados();
  },
};
</script>

<style></style>
