<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mb-3">Modificaciones</h1>
            </div>
        </div>
    </div>
</template>

<script>
export default {
};
</script>

<style></style>
