<template>
  <div class="container">
    <TitleComponent :title="`Detalle de la Solicitud`" :back="true" />
    <template v-if="!!solicitud">
      <!-- solicitud row -->
      <b-alert show dismissible variant="danger" v-if="solicitud.motivo">
        <p>Su solicitud fue rechazada:</p>
        <p class="font-weight-bold">
          {{ solicitud.motivo }}
        </p>
      </b-alert>
      <div class="mb-4 row">
        <div class="col">
          <div class="card">
            <div
              class="card-header d-flex justify-content-between align-center"
            >
              <span>
                Datos de la solicitud
                <button class="btn">
                  <span
                    class="badge"
                    :class="
                      solicitud.estatus === 'PENDIENTE'
                        ? 'badge-primary'
                        : solicitud.estatus === 'APROBADO'
                        ? 'badge-success'
                        : 'badge-danger'
                    "
                  >
                    {{ solicitud.estatus }}
                  </span>
                </button>
              </span>
            </div>
            <div class="card-body">
              <div class="container">
                <div class="row">
                  <!-- Descripción -->
                  <div class="col-12">
                    <div class="form-group">
                      <div class="form-group">
                        <label for="">Descripción</label>
                        <textarea
                          v-model="solicitud.descripcion"
                          disabled
                          class="form-control"
                          name=""
                          id=""
                          rows="3"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- student row -->
      <div class="mb-4 row">
        <div class="col">
          <div class="card">
            <!-- persona -->
            <div class="card-header">Datos del Estudiante</div>
            <div class="card-body">
              <div class="container">
                <!-- mientras aclaro esto dejare en none el formulario -->
                <div class="row">
                  <!-- img_user -->
                  <div class="mb-4 text-center col-12">
                    <img
                      :src="solicitud.estudiante.img_foto"
                      class="rounded-circle img-fluid"
                      alt=""
                    />
                  </div>
                  <!-- dni -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">DNI</label>
                      <input
                        v-model="solicitud.estudiante.dni"
                        type="text"
                        value="12345678"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <!-- Nombre completo -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">Nombre completo</label>
                      <input
                        type="text"
                        :value="`${solicitud.estudiante.p_nombre} ${solicitud.estudiante.p_apellido}`"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <!-- fecha de nacimiento -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">Fecha de nacimiento</label>
                      <input
                        type="text"
                        :value="solicitud.estudiante.fecha_nacimiento"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- datos del acudiente -->
      <div class="mb-4 row">
        <div class="col">
          <div class="card">
            <!-- persona -->
            <div class="card-header">Datos del Acudiente</div>
            <div class="card-body">
              <div class="container">
                <!-- mientras aclaro esto dejare en none el formulario -->
                <div class="row">
                  <!-- img_user -->
                  <div class="mb-4 text-center col-12">
                    <img
                      :src="solicitud.acudiente.img_foto"
                      class="rounded-circle img-fluid brand-logo"
                      alt=""
                    />
                  </div>
                  <!-- dni -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">DNI</label>
                      <input
                        v-model="solicitud.acudiente.dni"
                        type="text"
                        value="12345678"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <!-- Nombre completo -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">Nombre completo</label>
                      <input
                        type="text"
                        :value="`${solicitud.acudiente.p_nombre} ${solicitud.acudiente.p_apellido}`"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                  <!-- fecha de nacimiento -->
                  <div class="col-4">
                    <div class="form-group">
                      <label for="solicitud_name">Fecha de nacimiento</label>
                      <input
                        type="text"
                        :value="solicitud.acudiente.fecha_nacimiento"
                        class="form-control"
                        name="solicitud_name"
                        id="solicitud_name"
                        disabled
                        aria-describedby="helpId"
                        placeholder=""
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div class="row" v-if="identity.id_rol !== 4">
        <div class="col-12">
          <div class="card">
            <div class="card-header">Cambiar estatus de la solicitud</div>
            <div class="card-body">
              <div class="form-group">
                <label for=""
                  >En caso de rechazar la solicitud debe explicar el
                  aqui:</label
                >
                <textarea
                  class="form-control"
                  name=""
                  id=""
                  rows="3"
                  v-model="solicitud.motivo"
                ></textarea>
              </div>
            </div>
            <div class="text-right card-footer">
              <button
                type="button"
                name=""
                id=""
                class="btn btn-success"
                @click="updateSolicitud('APROBADO')"
              >
                Aceptar Solicitud
              </button>
              <button
                type="button"
                :disabled="!solicitud.motivo"
                name=""
                id=""
                class="btn btn-danger"
                @click="updateSolicitud('RECHAZADO')"
              >
                {{
                  !solicitud.motivo
                    ? "Debe Ingresar el motivo"
                    : "Rechazar Solicitud"
                }}
              </button>
            </div>
          </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
    </template>
    <alert :info="infoAlert" v-if="infoAlert" />
  </div>
</template>

<script>
import Alert from "../../../components/Commons/Alert.vue";
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      solicitud: null,
      // interactions
      info: {
        data: "",
        status: false,
      },
      loading: false,
      identity: null,
      motivo: null,
    };
  },
  components: {
    TitleComponent,
    Alert,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getSolicitud();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
  methods: {
    updateSolicitud(updatedStatus) {
      if (updatedStatus === "RECHAZADO") {
        if (
          this.solicitud.motivo === null ||
          this.solicitud.motivo === undefined
        ) {
          alert("Esta accion requiere indicar el motivo del rechazo");
        } else {
          this.axios
            .put(
              `${this.host}/api/docadmin/edit/solicitud/${this.$route.params.id_solicitud}`,
              {
                status: updatedStatus,
                motivo: this.solicitud.motivo,
              }
            )
            .then((res) => {
              alert("La solicitud ha sido rechazada exitosamente");
              // this.getSolicitud();
              this.$router.go(-1);
            })
            .catch((e) => {
              console.debug(e);
            });
        }
      } else {
        this.axios
          .put(
            `${this.host}/api/docadmin/edit/solicitud/${this.$route.params.id_solicitud}`,
            {
              status: updatedStatus,
              motivo: "",
            }
          )
          .then((res) => {
            alert("La solicitud ha sido aprobada exitosamente");
            // this.getSolicitud();
            this.$router.go(-1);
          })
          .catch((e) => {
            console.debug(e);
          });
      }
    },
    getSolicitud() {
      this.axios
        .get(
          `${this.host}/api/docadmin/solicitud/${this.$route.params.id_solicitud}`
        )
        .then((res) => {
          this.solicitud = res.data.data;
        });
    },
  },
  computed: {
    infoAlert() {
      let info = this.info.status ? this.info.data : false;
      return info;
    },
  },
};
</script>

<style></style>
