<template>
  <div class="container solicitudes-academicas">
    <div class="row align-items-center">
      <div class="col">
        <h1>Solicitudes academicas</h1>
      </div>
      <!-- filtrar por sede en desarollo -->
      <div class="col-auto ml-auto" v-if="identity.id_rol !== 4">
        <div class="mb-0 form-group">
          <select
            placeholder="Seleccione la sede"
            class="form-control"
            v-model="selected_sede"
            name=""
            id=""
            @change="listSolicitudes(), getResponsable()"
          >
            <option :value="null" disabled>Seleccione su sede</option>
            <template v-for="(sede, i) in sedes">
              <option :value="sede" :key="i">{{ sede.nombre }}</option>
            </template>
          </select>
        </div>
      </div>
      <router-link
        v-if="identity.id_rol === 4"
        :to="{ name: 'certificadoAdd' }"
        class="btn btn-primary"
      >
        Nueva solicitud
      </router-link>
    </div>

    <!-- docente header -->
    <div class="row no-gutters">
      <div class="col" v-if="!!selected_sede">
        <h4 class="grey-text">Sede: {{ selected_sede.nombre }}</h4>
        <small class="text-muted" v-if="!!selected_sede.responsable"
          >Docente responsable:
          <span class="font-weight-bold">
            {{ selected_sede.responsable.p_nombre }}
            {{ selected_sede.responsable.p_apellido }}
          </span>
        </small>
        <small v-else class="text-muted">Docente sin asignar</small>
      </div>
    </div>
    <List class="mt-4" v-if="solicitudes.length">
      <template slot="table-head">
        <tr>
          <th scope="col">Estudiante</th>
          <th scope="col">Tipo de certificado</th>
          <th scope="col">Descripción</th>
          <th scope="col">Estatus</th>
          <th scope="col">Vista previa</th>
          <th scope="col"></th>
        </tr>
      </template>
      <template slot="table-body">
        <template v-if="identity.id_rol === 4">
          <template v-for="(solicitud, i) in solicitudes">
            <tr
              v-if="solicitud.familiar.fk_parentesco === identity.id_persona"
              :key="i"
            >
              <template v-if="solicitud.tipo !== 'notas_full'">
                <td>{{ solicitud.p_nombre }} {{ solicitud.p_apellido }}</td>
                <td>
                  {{ solicitud.tipo }}
                </td>
                <td width="30%">
                  {{ solicitud.descripcion }}
                </td>
                <td>
                  <span
                    class="badge"
                    :class="
                      solicitud.estatus === 'PENDIENTE'
                        ? 'badge-primary'
                        : solicitud.estatus === 'APROBADO'
                        ? 'badge-success'
                        : 'badge-danger'
                    "
                  >
                    {{ solicitud.estatus }}
                  </span>
                </td>
                <!-- v-if="identity.id_rol !== 4" -->
                <td>
                  <a
                    v-if="solicitud.estatus === 'APROBADO'"
                    name=""
                    id=""
                    class="btn btn-primary"
                    href="#"
                    role="button"
                    @click="generarCertificado(solicitud)"
                    :disabled="downloading"
                  >
                    <template v-if="downloading">
                      <div
                        class="spinner-border spinner-border-sm"
                        role="status"
                      ></div>
                      <span>Descargando...</span>
                    </template>
                    <template v-else>
                      <span>
                        {{
                          identity.id_rol !== 4
                            ? "Generar certificado"
                            : "Descargar Certificado"
                        }}
                      </span>
                    </template>
                  </a>
                  <span class="badge badge-secondary" v-else
                    >No disponible</span
                  >
                </td>
                <td>
                  <router-link
                    class="btn btn-primary"
                    :to="{
                      name: 'solicitudesAcademicasDetail',
                      params: {
                        id_solicitud: solicitud.id,
                        id_sede: solicitud.id_sede,
                      },
                    }"
                    >Ver solicitud</router-link
                  >
                </td>
              </template>
            </tr>
          </template>
        </template>
        <template v-else>
          <tr v-for="(solicitud, i) in solicitudes" :key="i">
            <template v-if="solicitud.tipo !== 'notas_full'">
              <td>{{ solicitud.p_nombre }} {{ solicitud.p_apellido }}</td>
              <td>
                {{ solicitud.tipo }}
              </td>
              <td width="30%">
                {{ solicitud.descripcion }}
              </td>
              <td>
                <span
                  class="badge"
                  :class="
                    solicitud.estatus === 'PENDIENTE'
                      ? 'badge-primary'
                      : solicitud.estatus === 'APROBADO'
                      ? 'badge-success'
                      : 'badge-danger'
                  "
                >
                  {{ solicitud.estatus }}
                </span>
              </td>
              <!-- v-if="identity.id_rol !== 4" -->
              <td>
                <a
                  v-if="solicitud.estatus === 'APROBADO'"
                  name=""
                  id=""
                  class="btn btn-primary"
                  href="#"
                  role="button"
                  @click="generarCertificado(solicitud)"
                  :disabled="downloading"
                >
                  <template v-if="downloading">
                    <div
                      class="spinner-border spinner-border-sm"
                      role="status"
                    ></div>
                    <span>Descargando...</span>
                  </template>
                  <template v-else>
                    <span>
                      {{
                        identity.id_rol !== 4
                          ? "Generar certificado"
                          : "Descargar Certificado"
                      }}
                    </span>
                  </template>
                </a>
                <span class="badge badge-secondary" v-else>No disponible</span>
              </td>
              <td>
                <router-link
                  class="btn btn-primary"
                  :to="{
                    name: 'solicitudesAcademicasDetail',
                    params: {
                      id_solicitud: solicitud.id,
                      id_sede: solicitud.id_sede,
                    },
                  }"
                  >Ver solicitud</router-link
                >
              </td>
            </template>
          </tr>
        </template>
      </template>
    </List>
    <div class="mt-4 row justify-content-center" v-else>
      <div class="col-12">
        <div class="p-5 card">
          <h3 class="text-center text-secondary">
            No se han encontrado solicitudes para esta sede.
          </h3>
        </div>
      </div>
    </div>

    <!-- PDF -->
    <template v-if="certificado !== null">
      <div class="html-jspdf" style="max-width: 550px">
        <div class="container" id="xyz">
          <!-- header -->
          <div class="row justify-content-center">
            <!-- <div class="col">img</div> -->
            <div class="col-auto text-center">
              <div class="institute-info">
                <div class="name text-uppercase">
                  centro educativo
                  {{ certificado.centro_nombre }}
                </div>
                <div class="date">
                  Resolución
                  {{ certificado.centro_resolucion }}
                </div>
                <div class="dane">
                  DANE
                  {{ certificado.centro_dane }}
                </div>
                <div class="nit">
                  NIT
                  {{ certificado.centro_nit }}
                </div>
                <div class="nit">
                  {{ certificado.centro_direccion }}
                </div>
              </div>
            </div>
          </div>

          <!-- subheader -->
          <div class="text-center row">
            <div class="col-12">
              <p>
                El(La) Director(a) del CENTRO EDUCATIVO
                {{ certificado.centro_nombre }}, del
                {{ certificado.centro_direccion }}
              </p>
            </div>
            <div class="col-12">
              <p class="font-weight-bold">CERTIFICA</p>
            </div>
          </div>

          <!-- contenido: estudio-->
          <template v-if="certificado.certificado_tipo === 'estudio'">
            <!-- body -->
            <div class="my-2 row">
              <div class="col">
                <p class="text-justify">
                  Que el(la) estudiante
                  {{ certificado.estudiante_p_nombre }}
                  {{ certificado.estudiante_s_nombre }}
                  {{ certificado.estudiante_p_apellido }}
                  {{ certificado.estudiante_s_apellido }}
                  identificado(a) con documento número
                  {{ certificado.estudiante_dni }} curso y aprobó en este centro
                  educativo,
                  {{ certificado.centro_nombre }}
                  sede
                  {{ certificado.sede_nombre }}, el grado
                  {{ certificado.grado }}, durante el año lectivo
                  {{ getYear(certificado.periodo_fecha_inicio) }}
                  , cumpliendo con lo establecido en las leyes 115 del 08 de
                  febrero de 1994 y la ley 715 de diciembre de 2001 y su decreto
                  reglamentario 1290 obteniendo la siguiente valoración.
                </p>
              </div>
            </div>

            <!-- notas -->
            <div class="row">
              <div class="col">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Áreas Fundamentales</th>
                      <th>IHS</th>
                      <th>NOTAS PARCIALES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(area, i) in certificado.notas_areas" :key="i">
                      <td>
                        {{ area.nombre }}
                      </td>
                      <td>
                        {{ area.intensidad }}
                      </td>
                      <td>
                        {{ area.nota }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p>HIS: Intensidad horaria Semanal</p>
              </div>
            </div>

            <!-- notas footer -->
            <div class="row">
              <div class="col-12">
                <p class="">
                  E= 4.6 a 5 B= 4.0 a 4.5 A= 3.0 a 3.9 I= 1.0 a 2.9 = Bajo
                </p>
                <p class="">
                  Para constancia se firma en
                  {{ certificado.centro_direccion }}, el día {{ getDateEs() }}.
                </p>
              </div>
            </div>
          </template>

          <!-- contenido: paz y salvo -->
          <template v-else>
            <div class="row">
              <div class="col">
                <p class="text-justify">
                  Que el(la) estudiante
                  {{ certificado.estudiante_p_nombre }}
                  {{ certificado.estudiante_s_nombre }}
                  {{ certificado.estudiante_p_apellido }}
                  {{ certificado.estudiante_s_apellido }}
                  identificado(a) con documento número
                  {{ certificado.estudiante_dni }} esta matriculada en el centro
                  educativo
                  {{ certificado.centro_nombre }}
                  sede
                  {{ certificado.sede_nombre }}, cursando el grado
                  {{ certificado.grado }}, desde el
                  {{ parseDate(certificado.periodo_fecha_inicio) }}.
                </p>
                <p>
                  Encontrándose a paz y salvo por todo concepto con el centro
                  educativo.
                </p>
                <p>
                  Para constancia se firma el día
                  {{ getDateEs() }}.
                </p>
              </div>
            </div>
          </template>

          <!-- Firmas footer -->
          <div class="mt-2 row">
            <div class="col">
              <template v-if="firmas">
                <img :src="certificado.centro_firma" class="img-firma" alt="" />
              </template>
              <template v-else> <p>___________</p> </template>
              <p class="">
                {{ certificado.nombre_autorizado }}
              </p>
              <p class="">
                C.C.
                {{ certificado.dni_director }},
                {{ certificado.lugar_expedicion }}.
              </p>
              <p class="">{{ certificado.cargo }}</p>
            </div>
          </div>
        </div>
      </div>
    </template>
    <!-- <pre>
      {{ identity }}
    </pre>
    <pre>
      {{ solicitudes }}
    </pre> -->
  </div>
</template>

<script>
import { jsPDF } from "jspdf";
import List from "../../../components/Commons/List.vue";
import TitleComponent from "../../../components/Commons/TitleComponent";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";

export default {
  mixins: [generalMixin],
  data() {
    return {
      downloading: false,
      solicitud: {},
      selected_sede: null,
      responsable: null,
      sedes: [],
      solicitudes: [],
      // pdf
      certificado: null,
      logo64: null,
      firma64: null,
      certificado_type: null,
      firmas: false,
      identity: null,
      pdf: null,
    };
  },
  components: {
    TitleComponent,
    List,
  },
  methods: {
    convertImgToBase64(url, callback, outputFormat) {
      var img = new Image();
      img.crossOrigin = "Anonymous";
      img.onload = function () {
        var canvas = document.createElement("CANVAS");
        var ctx = canvas.getContext("2d");
        canvas.height = this.height;
        canvas.width = this.width;
        ctx.drawImage(this, 0, 0);
        var dataURL = canvas.toDataURL(outputFormat || "image/png");
        callback(dataURL);
        canvas = null;
      };
      img.src = url;
    },
    generarCertificado(certificado) {
      this.downloading = true;
      let requestUrl = `${this.host}/api/pdf/certificado/${certificado.id}`;
      if (this.identity.id_rol === 2 || this.identity.id_rol === 3) {
        this.firmas = confirm("¿Desea firmar el documento de forma digital?")
          ? true
          : false;
        requestUrl = `${this.host}/api/pdf/certificado/${certificado.id}/firmado/${this.firmas}`;
      }
      // generar certificado
      this.axios
        .get(requestUrl)
        .then((res) => {
          this.certificado = res.data.data;
          this.firmas = this.certificado.firmado;
          this.convertImgToBase64(
            this.certificado.centro_img_logo,
            (base64Img) => {
              this.logo64 = base64Img;
              let doc = new jsPDF("portrait", "pt", "a4");
              const htmlToPdf = document.querySelector(".html-jspdf");
              doc.html(htmlToPdf, {
                x: 20,
                y: 20,
                callback: () => {
                  doc.addImage(this.logo64, "png", 30, 30, 75, 75);
                  //   doc.addImage(this.firma64, "png", 90, 90, 75, 75);
                  doc.save("a4.pdf");
                },
              });
              this.pdf = doc;
            }
          );
          this.downloading = false;
        })
        .catch((e) => {
          console.debug(e);
          this.downloading = false;
        });
    },
    listSedes() {
      this.axios.get(`${this.host}/api/docadmin/sedes`).then((res) => {
        this.sedes = res.data;
      });
    },
    listSolicitudes() {
      const url = this.selected_sede
        ? `${this.host}/api/docadmin/certificados/sede/${this.selected_sede.id}`
        : `${this.host}/api/docadmin/certificados`;
      this.axios
        .get(url)
        .then((res) => {
          this.solicitudes = res.data.data;
        })
        .catch((e) => {
          this.solicitudes = [];
        });
    },
    getResponsable() {
      this.axios
        .get(
          `${this.host}/api/docadmin/sede/${this.selected_sede.id}/responsable`
        )
        .then((res) => {
          console.debug(res);
          this.responsable = res.data.data;
        })
        .catch(() => {
          this.responsable = null;
        });
    },
    getYear(date) {
      const fullDate = new Date(date);
      return fullDate.getFullYear();
    },
    getDateEs() {
      var fecha = new Date();
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
    parseDate(date) {
      var fecha = new Date(date);
      var options = { year: "numeric", month: "long", day: "numeric" };
      return fecha.toLocaleDateString("es-ES", options);
    },
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.listSolicitudes();
    this.listSedes();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
  },
};
</script>

<style lang="scss">
.solicitudes-academicas {
  .html-jspdf {
    position: fixed;
    left: -100%;
  }
}
.institute-info {
  max-width: 300px;
}
.img-firma {
  height: 50px;
  width: auto;
}
</style>
