<template>
  <div class="container">
    <title-component title="Detalle del estudiante" :back="true" />
    <!-- student info -->
    <div class="mb-3 row">
      <div class="col">
        <div class="card">
          <div class="card-header d-flex justify-space-between">
            <p>Información del estudiante</p>
            <p class="ml-auto font-weight-bold">Sede {{ estudiante.sede }}</p>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <!-- tipo DNI -->
                <div class="col-6">
                  <div class="form-group">
                    <label for="tipo">Tipo de documento</label>
                    <select
                      disabled
                      class="form-control"
                      v-model="estudiante.extra_info.tipo"
                      name="tipo"
                      required
                      id="tipo"
                    >
                      <option :value="undefined || null" disabled>N|A</option>
                      <option value="registro_civil">Registro civil</option>
                      <option value="tarjeta_identidad">
                        Tarjeta de identidad
                      </option>
                    </select>
                  </div>
                </div>
                <!-- DNI -->
                <div class="col-6">
                  <div class="form-group">
                    <label for="dni">Identificación</label>
                    <input
                      required
                      disabled
                      v-model="estudiante.dni"
                      type="number"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- nombre -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="p_nombre">Primer Nombre</label>
                    <input
                      disabled
                      required
                      v-model="estudiante.p_nombre"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- segundo nombre -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="p_nombre">Segundo Nombre</label>
                    <input
                      disabled
                      v-model="estudiante.s_nombre"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- apellido -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="p_apellido">Primer apellido</label>
                    <input
                      required
                      disabled
                      v-model="estudiante.p_apellido"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- segundo apellido -->
                <div class="col-3">
                  <div class="form-group">
                    <label for="s_apellido">Segundo apellido</label>
                    <input
                      disabled
                      v-model="estudiante.s_apellido"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- Grado -->
                <!-- Areas -->
                <!-- Responsable -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col">
        <div class="card">
          <div class="card-header d-flex justify-space-between">
            <p>Grado en curso</p>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <!-- Docente Responsable -->
                <div class="col-12">
                  <div class="form-group">
                    <label for="dni">Docente responsable</label>
                    <input
                      required
                      disabled
                      :value="`${estudiante.docente.p_nombre} ${estudiante.docente.p_apellido}`"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- Periodo -->
                <div class="col-6">
                  <div class="form-group">
                    <label for="dni">Periodo</label>
                    <input
                      required
                      disabled
                      v-model="estudiante.periodo.nombre"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- Grado -->
                <div class="col-6">
                  <div class="form-group">
                    <label for="dni">Grado</label>
                    <input
                      required
                      disabled
                      v-model="estudiante.grado.nombre"
                      type="text"
                      class="form-control"
                      name=""
                      id=""
                      aria-describedby="helpId"
                      placeholder=""
                    />
                  </div>
                </div>
                <!-- areas en curso -->
                <div class="col-12 mt-5">
                  <template v-if="estudiante.areas.length">
                    <h5>Areas en curso</h5>
                    <ul>
                      <li v-for="(area, i) in estudiante.areas" :key="i">
                        {{ area.nombre }}
                      </li>
                    </ul>
                  </template>
                  <template v-else>
                    <div>Este estudiante aun no tiene Areas asignadas</div>
                  </template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TitleComponent from "../../../components/Commons/TitleComponent.vue";
import RutaService from "../../../services/RutaService";
export default {
  components: { TitleComponent },
  data() {
    return {
      estudiante: [],
      host: RutaService.getUrl(),
    };
  },
  created() {
    this.getEstudiante();
  },
  methods: {
    getEstudiante() {
      this.axios
        .get(`${this.host}/api/docadmin/estudiante/${this.$route.params.id}`)
        .then((res) => {
          this.estudiante = res.data.data;
        })
        .catch((e) => {
          alert(
            "Ocurrio un error al obtener el estudiante, pongase en contacto con el soporte"
          );
        });
    },
  },
};
</script>

<style>
</style>