<template>
  <div class="container">
    <TitleComponent title="Listado de mis estudiantes" />

    <List v-if="estudiantes !== null">
      <template slot="table-head">
        <tr>
          <th scope="col">Estudiante</th>
          <th scope="col">Sede</th>
          <th scope="col">Grado</th>
          <th scope="col"></th>
        </tr>
      </template>
      <template slot="table-body">
        <tr v-for="estudiante in estudiantes" :key="estudiante.id">
          <td>
            {{ estudiante.p_nombre }},
            {{ estudiante.p_apellido }}
          </td>
          <td>{{ estudiante.sede }}</td>
          <td>{{ estudiante.grado.nombre }}</td>

          <td>
            <router-link
              class="btn btn-primary"
              :to="`/docente/grados/${estudiante.grado.id}/estudiante/${estudiante.id}/notas`"
              >Ver notas</router-link
            >
            <router-link
              class="btn btn-primary"
              :to="`/acudiente/estudiante/${estudiante.id}`"
              >Ver Estudiante</router-link
            >
          </td>
        </tr>
      </template>
    </List>

    <div class="row justify-content-center" v-else>
      <div class="col-6">
        <div class="p-5 card">
          <h3 class="mb-4 text-center text-secondary">
            No se han encontrado estudiantes
          </h3>
          <router-link
            to="/docente/usuarios/add"
            tag="a"
            class="btn btn-primary"
            >Añadir</router-link
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import List from "../../../components/Commons/List.vue";
import TitleComponent from "../../../components/Commons/TitleComponent";
import generalMixin from "../../../mixins/generalMixin";
import UsuarioService from "../../../services/UsuarioService";
export default {
  mixins: [generalMixin],
  data() {
    return {
      identity: null,
      estudiantes: null,
    };
  },
  components: {
    TitleComponent,
    List,
  },
  created() {
    this.identity = UsuarioService.getIdentity();
    this.getMisEstudiantes();
    this.getAreas();
  },
  beforeUpdate() {
    this.identity = UsuarioService.getIdentity();
    // this.getMisEstudiantes();
  },
  methods: {
    getMisEstudiantes() {
      this.axios
        .get(`${this.host}/api/acudiente/${this.identity.id_user}/estudiantes`)
        .then((res) => {
          this.estudiantes = res.data.data;
          console.debug(res);
        })
        .catch((e) => {
          console.debug(e);
        });
    },
    getAreas(id) {
      // areas
      this.axios
        .get(`${this.host}/api/docadmin/estudiante/${id}/notas`)
        .then((res) => {
          console.debug(res);
          this.notas = res.data.data;
        })
        .catch((e) => {
          console.debug(e);
        });
    },
  },
};
</script>

<style>
</style>